<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <div class="page-title clearfix">Lorryz</div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="info">Choose an option to be a part of Lorryz as</p>

  <div class="section_one" (click)="registerAsCargoOwner()">
    <img src="assets/img/icon_01.png" class="thumb" />
    <ion-label block>{{ "CARGO_OWNER_INFORMATION" | translate }}</ion-label>
    <p>To Move My Cargo</p>
  </div>

  <div class="section_two" (click)="registerAsFleetOwner()">
    <img src="assets/img/icon_02.png" class="thumb" />
    <ion-label block>{{ "TRANSPORTER" | translate }}</ion-label>
    <p>To provide transportation services</p>
  </div>
</ion-content>
