page-owner-information {
  ion-content {
    padding: 0 !important;

    .scroll-content {
      padding: 0 !important;
    }

    p.info {
      font-weight: 500;
      font-size: 16px;
      padding: 15px 16px;
    }
    .section_one {
      background: url("../assets/img/bg_04.png");
      width: 100%;
      @include cover-background(cover);
      text-align: center;
      color: #fff;
      padding: 15px;
      // min-height: 240px;

      .thumb {
        width: 80px;
        margin: 20px 0;
      }

      ion-label {
        font-size: 22px;
        text-decoration: underline;
        margin: 0 !important;
      }

      p {
        font-size: 18px;
        margin: 0;
      }
    }
    .section_two {
      background: url("../assets/img/bg_05.png");
      width: 100%;
      @include cover-background(cover);
      text-align: center;
      color: #fff;
      padding: 15px;
      min-height: 240px;
      margin-top: 15px;

      .thumb {
        width: 80px;
        margin: 20px 0;
      }

      ion-label {
        font-size: 22px;
        text-decoration: underline;
        margin: 0 !important;
      }

      p {
        font-size: 18px;
        margin: 0;
      }
    }
  }
}
