<!--
  Generated template for the IndividualInformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">{{globalVar.current_user.role=='cargo_owner'? 'Cargo' : 'Fleet' }} Owner <span>(Individual)</span></div>
    </ion-navbar>
    <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
  </ion-header>


  <ion-content>
    <div class="wrap">
      <ion-grid>
        <ion-row>
          <ion-col col-8 padding>
            <p class="welcome_p"><strong>Welcome,  {{ this.globalVar && this.globalVar.current_user ? this.globalVar.current_user.first_name+" "+ globalVar.current_user.last_name : ''}}!</strong>Please Edit your profile to proceed.</p>
          </ion-col>
          <ion-col col-4  (click)="presentActionSheet()">
          <img src="{{selected_avatar}}" *ngIf="selected_avatar" alt="user avatar" class="thumb">
          <img src="assets/img/pic_upload_icon.png" class="thumb" *ngIf="!selected_avatar"/>
            <p class="pic_text">Profile picture</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <form #form="ngForm">
        <ion-list>
          <ion-item hidden>
            <ion-label class="" floating >{{ 'SECONDARY_MOBILE_NUMBER' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="secondary_mobile_no" name="secondary_mobile_no"  #_secondary_mobile_no="ngModel"></ion-input>
          </ion-item>

          <div *ngIf="(_secondary_mobile_no.dirty || _secondary_mobile_no.touched)"
          class="alert alert-danger">
            <span *ngIf="_secondary_mobile_no.errors">
                <span [hidden]="!_secondary_mobile_no.errors.required" class="inner_span">
                  Secondary Mobile Number is required
                </span>
            </span>
          </div>

          <ion-item hidden>
            <ion-label class="" floating >{{ 'LANDLINE_NUMBER' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="landline_no" name="landline_no"  #_landline_no="ngModel" ></ion-input>
          </ion-item>

          <div *ngIf="(_landline_no.dirty || _landline_no.touched)"
          class="alert alert-danger">
            <span *ngIf="_landline_no.errors">
                <span [hidden]="!_landline_no.errors.required" class="inner_span">
                LandLine Number is required
                </span>
            </span>
          </div>


          <ion-item>
            <ion-label floating >{{ 'ID_NO' | translate }}</ion-label>
            <ion-input type="text"   [(ngModel)]="national_id" name="national_id" #_national_id="ngModel"></ion-input>
          </ion-item>

          <div *ngIf="(_national_id.dirty || _national_id.touched)"
          class="alert alert-danger">
            <span *ngIf="_national_id.errors">
                <span [hidden]="!_national_id.errors.required" class="inner_span">
                   Id is required
                </span>
            </span>
          </div>

          <ion-item>
            <ion-label floating >{{ 'EXPIRY_DATE' | translate }}  </ion-label>
            <ion-datetime type="text"   [(ngModel)]="expiry_date" name="expiry_date" required #_expiry_date="ngModel" class="calendar_bg" min="{{minDate}}" max="2050-12-31"></ion-datetime>
          </ion-item>

          <div *ngIf="(_expiry_date.dirty || _expiry_date.touched)"
          class="alert alert-danger">
            <span *ngIf="_expiry_date.errors">
                <span [hidden]="!_expiry_date.errors.required" class="inner_span">
                   Expiry Date is required
                </span>
            </span>
          </div>


          <p class="file_icon_p" (click)="presentActionSheetForDocuments()"><img src="assets/img/file_attach_icon.png" class="file_icon"/> Attach front and back side copies of your id card.</p>

          <div class="wrap-images clearfix">
            <div class="recursive_wrap" *ngFor="let doc of selected_documents">
              <img *ngIf="!valid_format(doc)" src="assets/img/document_silhouette.jpg" alt="user avatar" class="thumb" (click)="openDocument(doc)">
              <img *ngIf="valid_format(doc)" src="{{doc}}" alt="user avatar" class="thumb" (click)="openDocument(doc)">
              <div class="delete-img">
                <img src="assets/img/close-modal.png" alt=""  (click)="remove(doc)">
              </div>
            </div>

          </div>

          <div *ngIf="globalVar.current_user.role=='fleet_owner'">
            <ion-item>
                <ion-label floating >{{ 'TAX_REGISTRATION_NO' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="tax_registration_no" name="tax_registration_no" #_tax_registration_no="ngModel" ></ion-input>
            </ion-item>
          </div>
          <div *ngIf="globalVar.current_user.company.company_type=='individual' && globalVar.current_user.company.category== 'fleet' && globalVar.current_user.role=='fleet_owner' ">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <p class="welcome_p">English/اردو</p>
                </ion-col>
                <ion-col col-6>
                  <div class="driver-availability">
                    <!-- <div class="driver-availability-lable">Availability</div> -->
                    <ion-item>
                      <ion-toggle checked="false" name="toggle" class="edit-vehicle-btn" [(ngModel)]="globalVar.lang"
                      (ionChange)="notify($event)"></ion-toggle>
                    </ion-item>
                  </div>
                </ion-col>

              </ion-row>
            </ion-grid>

          </div>



          <div class="password-fields-holder">
              <h4>Leave this section blank if you don't want to change your password.</h4>

              <ion-item>
                 <ion-label class="" floating >{{ 'NEW_PASSWORD' | translate }}</ion-label>
                 <ion-input type="password"  [(ngModel)]="password" name="password"></ion-input>
              </ion-item>

              <ion-item>
                 <ion-label class="" floating >{{ 'CONFRIM_NEW_PASSWORD' | translate }}</ion-label>
                 <ion-input type="password"  [(ngModel)]="confirm_password" name="confirm_password">
                 </ion-input>
              </ion-item>
          </div>

        <div class="checkbox_wrap">

            <p>
              <ion-checkbox  [(ngModel)]="news_update" name="news_update" #_news_update="ngModel" class="checkbox_item" >
              </ion-checkbox>

              <span>Please send me product updates, news, tips, events, industry insights etc. regularly</span></p>
          </div>
        </ion-list>
      </form>
           <!--<button ion-button color="primary" outline class="" (click)="landToMain()">lAND TO MAIN</button>-->
         </div>
         <div class="wrap">

            <button ion-button color="primary" outline class="btn_save" (click)=landToMain() >{{ 'SAVE' | translate }}</button>
          </div>
  </ion-content>
