<!--
  Generated template for the FleetAddVehiclePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
        <button class="back-arrow"></button>
        <div class="page-title clearfix">Add Vehicle</div>
</ion-navbar>
    <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>

<ion-content>

  <form (submit)="addVehicle()"  #form="ngForm">
    <div class="driver-picture-holder">

      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <p class="welcome_p">Please add your vehicle details below</p>
          </ion-col>
          <ion-col col-4 hidden>
            <div class="driver-availability">
              <div class="driver-availability-lable">Availability</div>
              <ion-item>
                <ion-toggle checked="false" name="toggle" class="edit-vehicle-btn" [(ngModel)]="toggle" (ionChange)="notify($event)"></ion-toggle>
              </ion-item>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>

      <!-- <div class="date-filter-holder" [ngClass]="{'hide-filter' : toggle}" >
        <div class="columns-row clearfix">
          <div class="column from">
            <div class="column-inner">
              <label>From:</label>
              <ion-item class="date-item">
                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="from_pickup_date" name="from_pickup_date" class="calendar_bg"  min="2018" ></ion-datetime>
              </ion-item>
            </div>
          </div>
          <div class="column to">
            <div class="column-inner">
              <label>To:</label>
              <ion-item class="date-item">
                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="to_pickup_date" name="to_pickup_date" class="calendar_bg_2"  min="2018" ></ion-datetime>
              </ion-item>
            </div>
          </div>

        </div>
      </div> -->
    <div class="form-holder">
      <ion-item>
        <ion-label floating class="floating-label"> <span class="staric">*</span>Vehicle Registeration No.</ion-label>
        <ion-input type="text"  [(ngModel)]="registration_number" name="registration_number" required #_registration_number="ngModel"></ion-input>
      </ion-item>

      <div *ngIf="_registration_number.invalid && (_registration_number.dirty || _registration_number.touched)"
      class="alert alert-danger">
        <span *ngIf="_registration_number.errors">
            <span [hidden]="!_registration_number.errors.required">
                <ion-label style="color: red; margin-left: 16px;"> Registration Number is required </ion-label>
            </span>
        </span>
      </div>

      <div *ngIf="individual!=true; then thenShowDetails else hideDetails"></div>
      <ng-template #thenShowDetails>
        <ion-item>
          <ion-label class="required" floating >Expiry Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="expiry_date" name="expiry_date" class="calendar_bg" #_expiry_date="ngModel" min="{{minDate}}" max="2050-12-31" required></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label floating class="floating-label"> <span class="staric">*</span>Insurance Number</ion-label>
          <ion-input type="text"  [(ngModel)]="insurance_number" name="insurance_number" required #_insurance_number="ngModel"></ion-input>
        </ion-item>

        <div *ngIf="_insurance_number.invalid && (_insurance_number.dirty || _insurance_number.touched)"
        class="alert alert-danger">
          <span *ngIf="_insurance_number.errors">
              <span [hidden]="!_insurance_number.errors.required">
                <ion-label style="color: red; margin-left: 16px;"> Insurance Number is required </ion-label>
              </span>
          </span>
        </div>


        <ion-item>
          <ion-label class="required" floating >Insurance Expiry Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="insurance_expiry_date" name="insurance_expiry_date" class="calendar_bg" #_insurance_expiry_date="ngModel" min="{{minDate}}" max="2050-12-31" required></ion-datetime>
        </ion-item>

        <div *ngIf="_insurance_expiry_date.invalid && (_insurance_expiry_date.dirty || _insurance_expiry_date.touched)"
        class="alert alert-danger">
          <span *ngIf="_insurance_expiry_date.errors">
              <span [hidden]="!_insurance_expiry_date.errors.required">
                  <ion-label style="color: red; margin-left: 16px;"> Insurance expiry Date is required </ion-label>
              </span>
          </span>
        </div>


        <ion-item class="image-label-outer" (click)="presentActionSheetForDocuments(true)">
          <div class="image-label">
                 <span class="pinpoint"><img src="assets/img/attach-images.png" class="file_icon" ></span>
            Attach images of Registeration/Insurance
          </div>
          <div class="wrap-images clearfix">
            <div class="recursive_wrap" *ngFor="let doc of selected_documents ">
              <img src="{{doc}}" alt="user avatar" class="thumb">
              <div class="delete-img">
                <img src="assets/img/close-modal.png" alt=""  (click)="remove(doc)">
              </div>
            </div>

          </div>
        </ion-item>

        <ion-item>
          <ion-label floating class="floating-label">Vehicle Authorization Letter/ Noc/ Tafweed</ion-label>
          <ion-input type="text"  [(ngModel)]="authorization_letter" name="authorization_letter" #_authorization_letter="ngModel"></ion-input>
        </ion-item>
      </ng-template>

      <ng-template #hideDetails>

        <ion-item hidden>
          <ion-label class="required" floating >Expiry Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="expiry_date" name="expiry_date" class="calendar_bg" #_expiry_date="ngModel" min="{{minDate}}" max="2050-12-31" required></ion-datetime>
        </ion-item>

        <ion-item hidden>
          <ion-label floating class="floating-label"> <span class="staric">*</span>Insurance Number</ion-label>
          <ion-input type="text"  [(ngModel)]="insurance_number" name="insurance_number" required #_insurance_number="ngModel"></ion-input>
        </ion-item>

        <div *ngIf="_insurance_number.invalid && (_insurance_number.dirty || _insurance_number.touched)"
        class="alert alert-danger">
          <span *ngIf="_insurance_number.errors">
              <span [hidden]="!_insurance_number.errors.required">
                <ion-label style="color: red; margin-left: 16px;"> Insurance Number is required </ion-label>
              </span>
          </span>
        </div>


        <ion-item hidden>
          <ion-label class="required" floating >Insurance Expiry Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="insurance_expiry_date" name="insurance_expiry_date" class="calendar_bg" #_insurance_expiry_date="ngModel" min="{{minDate}}" max="2050-12-31" required></ion-datetime>
        </ion-item>

        <div *ngIf="_insurance_expiry_date.invalid && (_insurance_expiry_date.dirty || _insurance_expiry_date.touched)"
        class="alert alert-danger">
          <span *ngIf="_insurance_expiry_date.errors">
              <span [hidden]="!_insurance_expiry_date.errors.required">
                  <ion-label style="color: red; margin-left: 16px;"> Insurance expiry Date is required </ion-label>
              </span>
          </span>
        </div>


        <ion-item hidden class="image-label-outer" (click)="presentActionSheetForDocuments(true)">
          <div class="image-label">
                 <span class="pinpoint"><img src="assets/img/attach-images.png" class="file_icon" ></span>
            Attach images of Registeration/Insurance
          </div>
          <div class="wrap-images clearfix">
            <div class="recursive_wrap" *ngFor="let doc of selected_documents ">
              <img src="{{doc}}" alt="user avatar" class="thumb">
              <div class="delete-img">
                <img src="assets/img/close-modal.png" alt=""  (click)="remove(doc)">
              </div>
            </div>

          </div>
        </ion-item>

        <ion-item hidden>
          <ion-label floating class="floating-label">Vehicle Authorization Letter/ Noc/ Tafweed</ion-label>
          <ion-input type="text"  [(ngModel)]="authorization_letter" name="authorization_letter" #_authorization_letter="ngModel"></ion-input>
        </ion-item>

      </ng-template>

      <!-- <ion-item>
       <ion-label class="required floating-label" floating>Vehicle Type</ion-label>
       <ion-select name="no_of_vehicles"   [(ngModel)]="vehicle_type_id" class="padding-bottom">
         <ion-option *ngFor="let vehicle_type of vehicle_types" [(value)]="vehicle_type.id">{{vehicle_type.name}}</ion-option>
       </ion-select>
     </ion-item> -->
     <div *ngIf="value == true; then theBl else elBlo" >

    </div>

    <ng-template #theBl>

      <ion-grid>
      <ion-row>
        <ion-col col-9>
            <ion-label class="floating-label" class="required" (click)="selectVehicle('category')" style="padding-left: 10px;  font-size: 12px;
            font-weight: normal;
            border-bottom: 1px solid #9a9a9a;padding: 10px 10px;" >Specify Type of Vehicle ?</ion-label>
        </ion-col>

        <ion-col col-3>
            <div text-right class="car_bg">
                <img src={{primarysrc}} style="width:50px; height:auto; ">
              </div>
          </ion-col>
      </ion-row>
    </ion-grid>



    </ng-template>

    <ng-template #elBlo>
      <ion-grid>
        <ion-row>
          <ion-col col-12 (click)="selectVehicle('category')" >
              <ion-label style="padding: 10px 10px;border-bottom: 1px solid #9a9a9a;" class="required">Specify Type of Vehicle ?</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ng-template>

    <div *ngIf="subvehiclevalue == true; then thenBlock else elseBlock" ></div>

    <ng-template #thenBlock>

      <ion-grid>
      <ion-row>
        <ion-col col-9>
            <ion-label text-wrap class="required" (click)="selectVehicle('subcategory')" style="padding-left: 10px;  font-size: 12px;
            font-weight: normal;padding: 10px 10px;border-bottom: 1px solid #9a9a9a;
          ">Specify Sub-Category of Vehicle ?</ion-label>

        </ion-col>

        <ion-col col-3>
            <div text-right class="car_bg">
                <img src={{secondarysrc}} style="width:50px; height:auto; ">
              </div>

          </ion-col>
      </ion-row>
    </ion-grid>



    </ng-template>

    <ng-template #elseBlock>
      <ion-grid>
        <ion-row>
          <!-- <ion-col col-9 (click)="selectVehicle('subcategory')" *ngIf="vehicle==true">
              <ion-label class="required" text-wrap>Specify Sub-Category of Vehicle Required?</ion-label>
          </ion-col> -->
          <ion-col col-12 (click)="selectVehicle('subcategory')">
            <ion-label class="required" style='padding: 10px 10px;border-bottom: 1px solid #9a9a9a;' text-wrap>Specify Sub-Category of Vehicle ?</ion-label>
        </ion-col>
      </ion-row>
      </ion-grid>

    </ng-template>
      <div class="button-holder">
        <button ion-button class="add-driver" *ngIf="!individual" [disabled]="!form.valid">Add Vehicle</button>
        <button ion-button class="add-driver" *ngIf="individual">Add Vehicle</button>
      </div>
    </div>

  </div>
  </form>
</ion-content>
