page-fleet-add-vehicle {
  ion-header {
    height: 110px;
    ion-title {
      bottom: 12px;
    }
    .title-ios {
      bottom: -6px !important;
    }
  }
  .header {
    border-bottom: 2px solid #787878;
    .toolbar-title {
      font-size: 24px !important;
    }
  }
      .wrap-images{
        margin: 0 auto;
        width: 80%;

      }
      .recursive_wrap{
          position: relative;
          float: left;
          width: 75px;
          margin: 0 20px 20px 0;
          img{
            width: 100%;
            height: 75px;
          }
          .delete-img{
            position: absolute;
            top: -10px;
            right: -10px;
            background: #382121;
            border-radius: 15px;
            width: 21px;
            height: 21px;
            img{
              width: 100%;
              height: 21px;
            }
          }
        }
      .wrap{
        p.welcome_p
          {
              font-size:14px;
              strong{
              display: block;
              font-size:16px;
              margin-bottom:5px;
          }
        }
      }

  .thumb{
      width:75px;
      height:75px;
      margin-bottom: 15px;
      // margin: 0 auto;
      // display: table;
  }
  .back-arrow {
    background: none;
    border: 0px;
    cursor: pointer;
    float: left;
    margin: 3px 12px 0 0;
    .ion-md-arrow-back{
      display: inline-block;
      &:before{
        color: white;
        font-size: 25px;
      }
    }
    .ion-ios-arrow-back {
      display: inline-block;
      &:before{
        color: white;
        font-size: 25px;
      }
    }
    .title-ios {
      border-bottom: 0px;
    }
  }
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0px;
  }
  .driver-picture-holder {
    .welcome_p {
      font-size: 15px;
      line-height: 22px;
      padding: 7px 0 0;
    }
    .picture-thumbnail {
      text-align: center;
      padding: 15px 0px 0 0;
      img {
        max-width: 70px;
        padding: 0 0 7px;
      }
      p {
        font-size: 11px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
  .form-holder {
    .item {
      padding: 0 10px;
      .item-inner {
        border-bottom: 1px solid #9a9a9a;
      }
    }
    .floating-label {
      font-size: 15px;
      font-weight: 500;
      span.staric {
        color: #ca0000;
        font-size: 15px;
        display: inline-block;
        padding: 0 5px 0 0;
      }
    }
  }
  .thumb{
      width:75px;
      height:75px;
      margin: 0 auto;
      display: table;
  }
  .pic_text{
      font-size: 11px;
    max-width: 75px;
    text-align: center;

      .sterik{
          color:#ca0000;
      }
  }
  ion-label{
      color:#000 !important;
  }
    .sterik{
        color:#ca0000;
    }

    .file_icon_p{
        padding:0 15px;
        font-size:12px;
        color:#888585;
        margin: 30px 0;

        img{
            width:30px;
            vertical-align: middle;
            margin-right: 8px;
        }

    }
    .checkbox_wrap{
        padding:15px;

        .checkbox_item{
            position: absolute;
        }

        p{
            span{
                margin-left: 25px;
                display: inline-block;
                font-size:12px;
                color:#888585;

            }
        }

        .checkbox-md-dark .checkbox-checked{
            color:#3e6ee0;
        }
    }
    .btn_save{
        width:100%;
        background-color:#3e6ee0;
        color:#fff;
        margin: 0;
        padding: 20px 0;
        border-radius: 0;
        font-size:16px;
    }
    .calendar_bg{
            background:url('../assets/img/calendar_icon_00.png') no-repeat;
            background-position: right;
            background-size: 15px;
            width: 100%;
        }
        .image-label {
          position: relative;
          padding: 20px 0 40px 15px;
          font-size: 15px;
          overflow: visible;
          span {
            display: inline-block;
            &.staric {
              color: #ca0000;
              font-weight: 500;
              position: absolute;
              top: 10px;
              left: 0px;
              font-size: 15px;
            }
            &.pinpoint {
              float: left;
              width: 40px;
              margin: -5px 10px 0 0;
              img {
                max-width: 100%;
              }
            }
          }

        }
        .image-label-outer {
          ion-label {
            white-space: inherit;
          }
        }
        .image-placeholders {
          padding: 0 0 0 20px;
          box-sizing: border-box;
          width: 100%;
          span {
            width: 65px;
            height: 65px;
            background: #c3c3c3;
            display: inline-block;
            margin-right: 10px;
            img {
              width: 100%;
              height: 100px;
            }
          }
        }
        .button-holder {
          padding: 50px 0 0;
          .add-driver{
            background: #0596ce;
            padding: 15px 50px;
            display: inline-block;
            color: white;
            font-size: 15px;
            font-weight: 500;
            width: 100%;
            box-sizing: border-box;
            margin: 0px;
            height: 50px;
            text-transform: none;
          }
        }

                .edit-vehicle-btn {
                  width: 100%;
                  .toggle-icon {
                    width: 56px;
                    background: #dedede;
                    height: 20px;
                    @include border-radius(18px);
                  }
                  .toggle-inner {
                    width: 40px;
                    height: 20px;
                    color: #fff;
                    background: #dedede;
                    box-sizing: border-box;
                    position: relative;
                    @include border-radius(18px);
                    &:before {
                      content: "No";
                      top: 0px;
                      left: 0px;
                      padding-left: 10px;
                      font-size: 15px;
                      font-weight: 400;
                      color: #4d4d4d;
                    }

                  }
                  &.toggle-checked {
                    .toggle-inner {
                      &:before {
                      content: "Yes";
                      top: 0px;
                      left: 0px;
                      padding-left: 10px;
                      font-size: 15px;
                      font-weight: 400;
                      background: #04b0d9;
                      color: #fff;
                      }
                    }

                    }
                }
                .driver-availability {
                  .item {
                    padding: 0px !important;
                    .item-inner {
                      padding: 0px;
                      border: 0px;
                    }
                  }
                }
                .toggle-md .toggle-inner {
                  top: -1px;
                }
                .toggle-ios .toggle-inner {
                  top: -1px;
                }
                .toggle-md.toggle-checked .toggle-icon {
                    background: #dedede;
                }
                .toggle-ios.toggle-checked .toggle-icon {
                  background: #dedede;
                }
                .toggle-md.toggle-checked .toggle-inner {
                  background: #04b0d9;
                }
                .toggle-ios.toggle-checked .toggle-inner {
                  background: #04b0d9;
                }
                .toggle-ios .toggle-inner {
                  left: -3px;
                }
                .driver-availability-lable {
                  display: block;
                  font-size: 13px;
                  font-weight: 400;
                  color: #4d4d4d;
                  text-align: center;
                  padding: 0px;
                  margin: 0px;
                }
                .item-md .toggle-md {
                  padding-top: 5px;
                }
                .vehicle-listing {
                  padding: 20px 0px;
                }
                .listing-header {
                  padding: 15px 15px;
                  position: relative;
                  h1 {
                    font-size: 18px;
                    color: #0596ce;
                    font-size: 500;
                    padding: 5px 0 0;
                    margin: 0px;
                  }
                  .add-new-driver {
                    float: left;
                    background: #0596ce;
                    color: #fff;
                    padding: 4px 15px;
                    line-height: 20px;
                    font-size: 15px;
                    font-weight: 500;
                    margin: 0 7px 0 0;
                  }
                  .listing-header-btns {
                    position: absolute;
                    top: 15px;
                    right: 10px;
                    width: 70px;
                    .open-sortby {
                      float: left;
                      width: 25px;
                      margin: 0px;
                      cursor: pointer;
                      img {
                        width: 100%;
                      }
                    }
                    .icon-btn {
                      float: right;
                      margin: 3px 0 0 0;
                      cursor: pointer;
                      img {
                        max-width: 25px;
                      }
                    }
                  }
                }

        .vehicle-listing {
          padding: 20px 0px;
        }
        .listing-header {
          padding: 15px 15px;
          position: relative;
          h1 {
            font-size: 18px;
            color: #0596ce;
            font-size: 500;
            padding: 5px 0 0;
            margin: 0px;
          }
          .add-new-driver {
            float: left;
            background: #0596ce;
            color: #fff;
            padding: 4px 15px;
            line-height: 20px;
            font-size: 15px;
            font-weight: 500;
            margin: 0 7px 0 0;
          }
          .listing-header-btns {
            position: absolute;
            top: 15px;
            right: 10px;
            width: 70px;
            .open-sortby {
              float: left;
              width: 25px;
              margin: 0px;
              cursor: pointer;
              img {
                width: 100%;
              }
            }
            .icon-btn {
              float: right;
              margin: 3px 0 0 0;
              cursor: pointer;
              img {
                max-width: 25px;
              }
            }
          }
        }
        .date-filter-holder {
          position: relative;
          background: #bcfbff;
          padding: 10px;
          &.hide-filter{
            display: none;
          }
          &:before {
            content: "";
            position: absolute;
            top: -8px;
            right: 19%;
            border-left: 5px solid transparent;
          	border-right: 5px solid transparent;
          	border-bottom: 8px solid #bcfbff;
          }
          h2 {
            font-size: 15px;
            color: #0094b9;
            font-size: 400;
            padding: 5px 0 10px;
            margin: 0px;
          }
          .clear-filter-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #000000;
            font-size: 13px;
            font-size: 500;
            padding: 5px 0 0;
            margin: 0px;
            cursor: pointer;
          }
          .columns-row {
            margin: 0 -5px;
            .column {
              float: left;
              width: 100%;
              margin-right: 0px;
              position: relative;
              label {
                font-size: 12px;
                display: block;
                padding: 0 0 3px;
                color: #000000;
              }
              &.btn {
                width: 100%;
                margin-right: 0px;
                padding: 18px 0 0;
              }
              &.from {
                padding: 0px;
                width: 50%;
                box-sizing: border-box;
              }
              &.to {
                padding: 0px;
                width: 50%;
                box-sizing: border-box;
              }
            }
            .go-btn {
              display: inline-block;
              font-size: 15px;
              font-weight: 500;
              color: #fff;
              background: #059cd0;
              cursor: pointer;
              padding: 5px 10px;
              border: 1px solid #d7d7d7;
            }
          }
        }
        .balance-selector {
          padding: 0px;
          display: inline-block;
          width: 100%;
          background: none;
          .select-text {
            // display: none;
          }
          .item-inner {
            padding: 0px;
            border: 0px;
          background: #fff;
          min-height: 30px;
          border: 1px solid #d7d7d7;
            .input-wrapper {
              ion-select {
                padding: 0px;
                font-size: 12px;
                margin: 0px;
                color: #5e5e5e;
                font-weight: 500;
                max-width: 100%;
              }
              .label {
                padding: 0px;
                font-size: 11px;
                margin: 0px;
                color: #0596ce;
                font-weight: 400;
                display: none;
              }
              .select {
                padding: 0px 10px;
              }
            }

          }

        }
        .input-holder {
          background: #fff;
          border: 1px solid #d7d7d7;
          padding: 13px 10px;
          box-sizing: border-box;
          width: 100%;
        }
        .select-ios .select-icon {
          position: absolute;
          top: 6px;
          right: 15px;
        }
        .select-md .select-icon {
          position: absolute;
          top: 6px;
          right: 15px;
        }
        .datetime-md {
          padding: 0px 0px;
        }
        .datetime-text {
          padding-left: 10px;
          &.datetime-placeholder{
            margin-bottom: 19px;
          }
        }
        .date-item {
          padding: 0px 0px;
          background: #fff;
          min-height: 30px;
          .item-inner {
            padding: 0px;
            border: 0px;
            min-height: 20px;
            border: 1px solid #d7d7d7;
          }
          .datetime-ios {
              padding: 0px;
          }
        }
        .column-inner {
          padding: 0 5px;
        }
        .padding-bottom{
          padding-bottom: 23px!important
        }
        .car_bg{
          // background:url('../assets/img/img_01') no-repeat;
        padding-left: 20px;
        font-size: 12px;
        font-weight: normal;
        margin-top: 7%;
        }
}
