<ion-content>
  <div class="modal-holder">
    <div class="close-modal" (click)="dismiss()">
      <img src="assets/img/close-modal.png" alt="" >
    </div>
    <h1>Select New Destination</h1>
    <div class="shipment-number">
      Shipment No. {{this.shipment.id}}
    </div>
    <form (submit)="updateShipment()">
      <div class="choose-vehicle">
        <ion-item>         
	        <ion-label class="required" floating>Dropoff Location</ion-label>
	        <ion-input id="auto_drop" type="text" [(ngModel)]="shipment_obj.address" name="address"  class="pin_bg" ></ion-input>    
	      </ion-item>
      </div>

      <div class="buttons-holder clearfix">
        <a (click)="dismiss()" class="cancel-button">Cancel</a>
        <button type="submit" class="submit-btn">Save</button>
      </div>
    </form> 
  </div>
</ion-content>
