
<ion-content>

  <div class="logo" class="logo">
    <img src="assets/img/logo.png" />
  </div>
  <form (submit)="doLogin()"  #form="ngForm">
    <ion-list>
 <ion-input  [(ngModel)]="_dummy"  name="as" hidden></ion-input>
    <ion-item>
       <ion-label fixed>{{ 'COUNTRY_CODE' | translate }}</ion-label>
      <ion-select  [(ngModel)]="_country"  required #country="ngModel" name="country"
      [disabled]="_countries.length == 0"  id="country_name" >
        <ion-option [attr.selected]="(country.dialing_code === _country) ? true : null"
         *ngFor="let country of _countries.countries" [value]="country.dialing_code">

             {{country.dialing_code+' '+country.name}}


        </ion-option>
      </ion-select>
    </ion-item>
   <div *ngIf="country.invalid && (country.dirty || country.touched)"
    class="alert alert-danger">
      <span *ngIf="country.errors">
          <span [hidden]="!country.errors.required" class="error">Country Code is required</span>
      </span>

    </div>
<!--
        <ion-item>
            <ion-label fixed>{{ 'COUNTRY_CODE' | translate }}</ion-label>
            <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
          </ion-item>
 -->
      <ion-item>
        <ion-label floating class="floating-label">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email"  id="user_email" [(ngModel)]="_email" name="email"  required #email="ngModel" required></ion-input>
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger">
        <span *ngIf="email.errors">
            <span [hidden]="!email.errors.required" class="error">Email or phone is required</span>
            <span [hidden]="!email.errors.pattern" class="error">Please enter a valid email</span>
        </span>
      </div>
      <!--
      Want to use a Username instead of an Email? Here you go:

      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label floating class="floating-label">{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="_password" name="password" #password="ngModel" required minlength="8"></ion-input>
      </ion-item>
      <div class="forgot-password" (click)="forgotPassword()">Forgot password?</div>

    <div *ngIf="(password.dirty || password.touched)"
           class="alert alert-danger">
        <span *ngIf="password.errors">
            <span [hidden]="!password.errors.required" class="error">Password is required</span>
            <span [hidden]="!password.errors.minlength" class="error">Password must be at least 8 characters long.</span>
        </span>

      </div>
      <div padding class="wrap">
          <button ion-button color="primary" class="btn_signup"  [disabled]="!form.valid">{{ 'LOGIN' | translate }}</button>
          <button ion-button color="primary" outline class="btn_signin" (click)="signUp($event)">Don't have an account? &nbsp;<span class="secondary">{{ 'SIGNUP_BUTTON' | translate }}</span></button>
      </div>

    </ion-list>
    <p class="info_text" id="country_number">
    </p>
  </form>
  <div class="copyright"><strong>Copyright &copy; 2019, </strong> LORRYZ FZ-LLC</div>
</ion-content>
