<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button> -->
    <div class="page-title clearfix">New Shipment Request</div>
  </ion-navbar>
  <ion-toolbar>
    <div class="top-links">
      <!-- <ul class="top-nav-list">
        <li (click)="openNew()" class="active">New</li>
        <li (click)="openPosted()">Posted</li>
        <li (click)="openOngoing()">Ongoing</li>
        <li (click)="openUpcoming()">Upcoming</li>
        <li (click)="openCompleted()">Completed</li>
      </ul> -->
    </div>
  </ion-toolbar>
  <!-- <div class="notifications-holder" (click)="showNotification()">
    <span
      ><img src="assets/img/notification-bell.png" alt="notification-bell"
    /></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
      <span class="inner">{{ globalVar.current_user.notification_count }}</span>
    </div>
  </div> -->
</ion-header>

<ion-content>
  <!-- <form > -->
    <ion-list>
      <ion-item *ngIf="globalVar.current_user.company.is_contractual == true">
        <ion-label class="" floating>Select a Contract</ion-label>
        <ion-select [(ngModel)]="shipment.location_id" name="location_id">
          <ion-option value="abc" (ionSelect)="unselectLocation()"
            >New destination without contract</ion-option
          >
          <ion-option
            *ngFor="let location of locations"
            [(value)]="location.id"
            (ionSelect)="populateLocation(location)"
            >{{ location.name }}</ion-option
          >
        </ion-select>
      </ion-item>

      <ion-item [hidden]="true">
        <ion-label floating>Pickup Location Name</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="shipment.pickup_building_name"
          name="pickup_building_name"
        ></ion-input>
      </ion-item>

      <ion-item [hidden]="true">
        <ion-label class="required" floating>PickUp Location Address</ion-label>
        <ion-input
          id="auto_pickup"
          type="text"
          [(ngModel)]="shipment.pickup_location"
          name="pickup_location"
          class="pin_bg"
          (ionChange)="calculateFare()"
          disabled="{{lock}}"
        ></ion-input>
      </ion-item>

      <ion-item [hidden]="true">
        <ion-label  floating>DropOff Location Name</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="shipment.drop_building_name"
          name="drop_building_name"
        ></ion-input>
      </ion-item>

      <ion-item [hidden]="true">
        <ion-label class="required" floating
          >DropOff Location Address</ion-label
        >
        <ion-input
          id="auto_drop"
          type="text"
          [(ngModel)]="shipment.drop_location"
          name="drop_location"
          class="pin_bg"
          (ionChange)="calculateFare()"
          disabled="{{lock}}"
        ></ion-input>
      </ion-item>

      <div class="" #map id="map">

      </div>

      <ion-item >
        <ion-label  floating>Cargo Weight (Tonnes)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="shipment.weight"
          name="weight"
          class=""
        ></ion-input>
      </ion-item>

      <ion-item >
        <ion-label  floating>Cargo Value</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="shipment.cargo_value"
          name="cargo_value"
          class=""
        ></ion-input>
      </ion-item>


<div *ngIf="letsgo === true; then theBlock else elBlock">

</div>

<ng-template #theBlock>

  <ion-item col-6 class="col_6"  >
    <ion-label class="required" floating>Pickup Date</ion-label>
   <ion-datetime
     displayFormat="MMM DD YYYY"
     [(ngModel)]="shipment.pickup_date"
     name="pickup_date"
     class="calendar_bg"
     min="{{minDate}}"
     max="2022-12-31"
   ></ion-datetime>
 </ion-item>

  <ion-item col-6 class="col_6"  >
   <ion-label class="required" floating>Pickup Time</ion-label>
   <ion-datetime
     displayFormat="h:mm A"
     [(ngModel)]="unformated_pickup_time"
     name="pickup_time"
     class="clock_bg"
   ></ion-datetime>
 </ion-item>

 <ion-item [hidden]="true">
        <ion-label  floating>Loading/Unloading Time at Pickup (Hours)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="shipment.loading_time"
          name="loading_time"
          [(ngModel)]="shipment.unloading_time"
          name="unloading_time"
          class=""
          (ionChange)="calculateFare()"
          disabled="{{lock}}"

        ></ion-input>
      </ion-item>


</ng-template>

<ng-template #elBlock>
    <div *ngIf="pickupnow === true; then thenBlock else elseBlock">

      </div>
</ng-template>

<ng-template  #thenBlock>

</ng-template>

<ng-template #elseBlock>

  <ion-item col-6 class="col_6"  >

            <ion-label class="required" floating>Pickup Date</ion-label>
          <ion-datetime
            displayFormat="MMM DD YYYY"
            [(ngModel)]="shipment.pickup_date"
            name="pickup_date"
            class="calendar_bg"
            min="{{minDate}}"
            max="2022-12-31"
          ></ion-datetime>
        </ion-item>

        <ion-item col-6 class="col_6"  >
        <ion-label class="required" floating>Pickup Time</ion-label>
        <ion-datetime
          displayFormat="h:mm A"
          [(ngModel)]="unformated_pickup_time"
          name="pickup_time"
          class="clock_bg"
          ></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label  floating>Loading/Unloading Time at Pickup (Hours)</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="shipment.loading_time"
              name="loading_time"
              [(ngModel)]="shipment.unloading_time"
              name="unloading_time"
              class=""
              (ionChange)="calculateFare()"
              disabled="{{lock}}"

            ></ion-input>
          </ion-item>


    </ng-template>


      <ion-item [hidden]="true">
        <ion-label  floating>Loading/Unloading Time at Pickup (Hours)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="shipment.loading_time"
          name="loading_time"
          [(ngModel)]="shipment.unloading_time"
          name="unloading_time"
          class=""
          (ionChange)="calculateFare()"
          disabled="{{lock}}"

        ></ion-input>
      </ion-item>

<!-- <div *ngIf="vehiclevalue == true; then theBl else elBlo" >

</div>

<ng-template #theBl>

  <ion-grid>
  <ion-row>
    <ion-col col-9>
        <ion-label class="required" (click)="openModal()" style="padding-left: 10px;  font-size: 12px;
        font-weight: normal;
      ">Specify Type of Vehicle Required?</ion-label>

    </ion-col>

    <ion-col col-3>
        <div text-right class="car_bg">
            <img src={{src}} style="width:50px; height:auto; ">
          </div>

      </ion-col>
  </ion-row>
</ion-grid>



</ng-template>

<ng-template #elBlo>

<ion-item (click)="openModal()" class="car_bg">
    <ion-label class="required" floating>Specify Type of Vehicle Required?</ion-label>
</ion-item>

</ng-template> -->



      <!-- <ion-item >
        <ion-label class="required" floating
          >Number of Vehicles Required</ion-label
        >
        <ion-select [(ngModel)]="shipment.no_of_vehicles" name="no_of_vehicles">
          <ion-option value="1" >1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="11">11</ion-option>
          <ion-option value="12">12</ion-option>
          <ion-option value="13">13</ion-option>
          <ion-option value="14">14</ion-option>
          <ion-option value="15">15</ion-option>
          <ion-option value="16">16</ion-option>
          <ion-option value="17">17</ion-option>
          <ion-option value="18">18</ion-option>
          <ion-option value="19">19</ion-option>
          <ion-option value="20">20</ion-option>
          <ion-option value="21">21</ion-option>
          <ion-option value="22">22</ion-option>
          <ion-option value="23">23</ion-option>
          <ion-option value="24">24</ion-option>
          <ion-option value="25">25</ion-option>
        </ion-select>
      </ion-item> -->
      <div class="autocomplete">
        <ion-grid >
          <ion-row *ngIf='!recData'>
            <ion-col col-9>
                <ion-label  >Record Cargo Description</ion-label>
            </ion-col>
            <ion-col (click)="captureAudio()" col-3>
              <button ion-button small>
                <ion-label>Record</ion-label>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf='recData'>
            <ion-col col-6>
                <ion-label (click)="captureAudio()" >Record Cargo Description</ion-label>
            </ion-col>
            <ion-col (click)="captureAudio()" col-3>
              <button ion-button small>
                <ion-label>Record</ion-label>
              </button>
            </ion-col>
            <ion-col col-3>
              <ion-item *ngIf='mediaFiles' tappable (click)="play(mediaFiles)" text-wrap>
                {{ mediaFiles.name }}
                <p>{{ mediaFiles.size / 1000 / 1000 | number }} MB</p>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
        <div class="autocomplete">
          <ion-item>
            <ion-label class="required" floating>Cargo Description</ion-label>
            <ion-input
            type="text"
             name="input"
            [(ngModel)]="input"
            (ionChange)="search()"
              (ionBlur)="removeFocus()"
              debounce=500
             >
                      </ion-input>
          </ion-item>
          <ion-list>
            <ion-item *ngFor="let country of countries" (click)="add(country)">
              {{country}}
            </ion-item>
          </ion-list>
    </div>

      <div *ngIf="letsgo === true; then theLe else elLe" >

        </div>


       <ng-template #theLe>
        <ion-item >
          <ion-label class="required" floating>Cargo Packaging Type</ion-label>
          <ion-select
            [(ngModel)]="shipment.cargo_packing_type"
            name="cargo_packing_type"
          >
            <ion-option value="Palletized">Palletized</ion-option>
            <ion-option value="Containerized">Containerized</ion-option>
            <ion-option value="Sacks">Sacks</ion-option>
            <ion-option value="Boxes">Boxes</ion-option>
            <ion-option value="Drums">Drums</ion-option>
            <ion-option value="Loose Cargo">Loose Cargo</ion-option>
            <ion-option value="Other">Other</ion-option>
          </ion-select>
        </ion-item>

        <ion-item hidden="true">
              <ion-label class="required" floating
                >Choose the payment option</ion-label
              >
              <ion-select  [(ngModel)]="shipment.payment_option" name="payment_option">
                <!--
                  <ion-option value="credit_card">Pay by Credit/Debit Card</ion-option>
                -->
                <ion-option value="before_pick_up"
                  >Cash / Bank transfer during Pick-up</ion-option
                >
                <ion-option
                  value="after_delivery"
                  *ngIf="globalVar.current_user.company.safe_for_cash_on_delivery > 0"
                  >Cash / Bank transfer prior delivery</ion-option
                >
                <ion-option
                  value="credit_period"
                  *ngIf="globalVar.current_user.credit_days > 0"
                  >Credit {{ globalVar.current_user.credit_days }} Days</ion-option
                >
              </ion-select>
            </ion-item>

       </ng-template>

       <ng-template #elLe>

        <ion-item hidden="true">
    <ion-label class="required" floating>Cargo Packaging Type</ion-label>
    <ion-select disabled="true"
      [(ngModel)]="shipment.cargo_packing_type"
      name="cargo_packing_type"
    >
      <ion-option value="palletized">Palletized</ion-option>
      <ion-option value="containerised">Containerised</ion-option>
      <ion-option value="sacks">Sacks</ion-option>
      <ion-option value="boxes">Boxes</ion-option>
      <ion-option value="drums">Drums</ion-option>
      <ion-option value="Loose Cargo">Loose Cargo</ion-option>
      <ion-option value="other">Other</ion-option>
    </ion-select>
  </ion-item>

  <ion-item hidden="true">
        <ion-label class="required" floating
          >Choose the payment option</ion-label
        >
        <ion-select disabled="true" [(ngModel)]="shipment.payment_option" name="payment_option">
          <!--
            <ion-option value="credit_card">Pay by Credit/Debit Card</ion-option>
          -->
          <ion-option value="before_pick_up"
            >Cash / Bank transfer during Pick-up</ion-option
          >
          <ion-option
            value="after_delivery"
            *ngIf="globalVar.current_user.company.safe_for_cash_on_delivery > 0"
            >Cash / Bank transfer prior delivery</ion-option
          >
          <ion-option
            value="credit_period"
            *ngIf="globalVar.current_user.credit_days > 0"
            >Credit {{ globalVar.current_user.credit_days }} Days</ion-option
          >
        </ion-select>
      </ion-item>

</ng-template>
      <ion-item *ngIf="globalVar.current_user.process == 'prorate'">
        <p class="">Estimated Approx. Fare</p>
        <span>
          {{
            fare * (shipment.no_of_vehicles || 1)
              | currency: globalVar.current_user.country.currency + " "
          }}({{
            fare | currency: globalVar.current_user.country.currency + " "
          }}/Vehicle)</span
        >

        <p class="">Distance</p>
        <span>{{ distance }} KM</span>
      </ion-item>
      <div *ngIf="pakistan == 'Pakistan'; then pakistanCell else dubaiCell"></div>
      <ng-template #pakistanCell>
        <p class="info_text">
          For any assistance, Please call us at <span>+92 337 7131317</span> Or send us email
          at <span>contact@lorryz.com</span>
        </p>

      </ng-template>
      <ng-template #dubaiCell>
        <p class="info_text">
          For any assistance, Please call us at <span>+971 56 5466088</span> Or send us email
          at <span>contact@lorryz.com</span>
        </p>

      </ng-template>

    </ion-list>

    <div class="controls">
      <button ion-button outline class="btn_post_request" (click)='uploadDocumentResource()'>
        <span class="secondary">Post Request</span>
      </button>
    </div>
  <!-- </form> -->
</ion-content>
