page-new-shipment-request {

form{
  margin-top:15px;
}

    #map {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      height: 300px;
    }
  .sterik{
      color:#ca0000;
      position: absolute;
      top: 15px;
  }
.text-input{
  font-size: 12px;
  font-weight: normal;
}
  .select{
      width:100%;
      max-width: 100%;
      font-size: 12px;
      font-weight: normal;
  }
  .label{
      margin:0 !important;


    }
    .item{
        border-bottom:0 !important;
        padding: 10px 15px;
    }

    .info_text{
        text-align: center;
        padding:10px;
        span{
            color:#e84f14;
        }
    }
  .btn_post_request{
      background-color:#e84f14;
      color:#fff;
      width:100%;
      border-radius: 0;
      padding: 28px 0;
      margin: 0;
      font-size:16px;
      text-transform: uppercase;
  }

  .col_6{
      float:left;
  }
  .car_bg{
    // background:url('../assets/img/img_01') no-repeat;
  padding-left: 20px;
  font-size: 12px;
  font-weight: normal;
  }
  .pin_bg{
      background:url('../assets/img/blue_pin_icon.png') no-repeat;
      background-position: right;
      background-size: 15px;
      padding-right: 25px;
  }
  .calendar_bg{
      background:url('../assets/img/calendar_icon_00.png') no-repeat;
      background-position: right;
      background-size: 15px;
  }
.background{
padding-left:10px;
padding-right: 10px;
}
  .clock_bg{
      background:url('../assets/img/clock_icon.png') no-repeat;
      background-position: right;
      background-size: 15px;
  }
  .list-ios > .item-block:first-child{
      border:none;
  }

  .datetime{
      padding:7px;
  }
  .autocomplete {
    width: 100%;

    ion-item {
        ion-input {
            padding: 1px !important;
        }
    }

    ion-list {
        position: absolute;
        width: 95%;
        overflow-y: scroll;
        max-height: 50%;
        border: 5px;
        z-index: 999;

        ion-item {
            background: #fff;
            font-size: 12px;
            font-weight: normal;
            height: 15px;
        }

        ion-item:hover {
            cursor: pointer;
            background: #dddddd
        }
    }
  }
}
