<!--
  Generated template for the FleetNewShipmentBiddingModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="modal-holder">
    <div class="close-modal" (click)="dismiss()">
      <img src="assets/img/close-modal.png" alt="" >
    </div>
    <h1>Submit your bid</h1>
    <div class="shipment-number">
      Shipment No. {{shipment.id}}
    </div>
    <div class="address-outer">
      <div class="address-one">
        {{shipment.pickup_location}}
      </div>
      <div class="address-two">
        {{shipment.drop_location}}
      </div>
      <div class="truck-row">
        {{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}
      </div>
    </div>
    <div class="bids-container">
      <div class="bids-row">
        <div class="bid-label">Your Total Bid</div>
        <div class="bid-amount">{{bid.amount | currency: globalVar.current_user.country.currency + " "}}</div>
      </div>
      <div class="bids-row">
        <div class="bid-label">Lorryz Share</div>
        <div class="bid-amount">{{lorryz_share() | currency: globalVar.current_user.country.currency + " "}}</div>
      </div>
      <div class="bids-row">
        <div class="bid-label">Your Total Income</div>
        <div class="bid-amount">{{fleet_income() | currency: globalVar.current_user.country.currency + " "}}</div>
      </div>
    </div>
    <div class="destination-holder">
      <div class="destination-row">
        <div class="destination-label">
          Waiting Charges Per Day Per Vehicle
        </div>
        <div class="destination-amount">
          {{bid.detention | currency: globalVar.current_user.country.currency + " "}}
        </div>
      </div>
      <div class="destination-row">
        <div class="destination-label">
          Lorryz Waiting Charges share
        </div>
        <div class="destination-amount">
          {{lorryz_detention_share() | currency: globalVar.current_user.country.currency + " "}}
        </div>
      </div>
      <div class="destination-row">
        <div class="destination-label">
          Your Waiting Charges income
        </div>
        <div class="destination-amount">
          {{fleet_detention_income() | currency: globalVar.current_user.country.currency + " "}}
        </div>
      </div>

      <span class="cancel_text">Once bids are accepted by Shipper then Penalty charges of {{shipment.fleet_penalty_amount  | currency: globalVar.current_user.country.currency + " "}} / Vehicle will apply for cancellations</span>

    </div>
    <div class="buttons-holder clearfix">
      <button type="button" class="cancel-button" (click)="dismiss()">Cancel</button>
      <button type="button" class="submit-btn" (click)="bidonShipment(shipment.id)">Submit Bid</button>
    </div>
  </div>
</ion-content>
