page-fleet-new-shipment-bidding-modal {
  ion-content {
    background: none !important;
    .modal-holder {
      margin: 85px 10px;
      background: white;
      border: 1px solid #a1a1a1;
      border-top: none;
      -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
    	-moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
    	box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      position: relative;
      h1 {
        color: #0094b9;
        font-size: 15px;
        font-weight: 500;
        padding: 15px 0 10px;
        margin: 0px;
        border-top: 10px solid #0094b9;
        text-align: center;
      }
      .shipment-number {
        text-align: center;
        padding: 0 0 25px;
        font-size: 13px;
        font-weight: 400;
        color: #313131;
      }
      .address-outer {
        max-width: 190px;
        margin: 0 auto;
        padding: 0 10px 15px;
        position: relative;
      }
      .distance-holder {
        font-size: 13px;
        color: #353535;
        position: absolute;
        top: 32px;
        left: -26px;
        webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-weight: 700;
      }
      .address-one {
        padding: 0 0 25px 22px;
        margin-bottom: 5px;
        color: #353535;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
        span{
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
        &:before {
          content: "";
          width: 18px;
          height: 18px;
          position: absolute;
          top: -2px;
          left: -8px;
          background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
          background-size: 18px 18px;
        }
      }
      .address-two {
        padding: 0 0 30px 22px;
        color: #353535;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        span{
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
        &:before {
          content: "";
          width: 26px;
          height: 36px;
          position: absolute;
          top: -3px;
          left: -9px;
          background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
        }
      }
      .truck-row {
        padding: 5px 0 27px 70px;
        background: url('../assets/img/truck.png') 0px 0px no-repeat;
        background-size: 55px 35px;
        margin-left: -20px;
        font-size: 13px;
        font-weight: 500;
      }
      .bids-container {
        background: #0593cc;
        padding: 10px 10px 10px;
        margin: 0 25px 10px;
      }
      .bids-row {
        position: relative;
        margin: 0 0 10px;
        clear: both;
        overflow: hidden;
        div {
          background: #0593cc;
          display: inline-block;
          color: #fff;
          font-size: 13px;
          font-weight: 400;
          padding: 5px;
          z-index: 999;
          position: relative;
          &.bid-label {
            float: left;
            margin: 0 0 0 -4px;
          }
          &.bid-amount {
            float: right;
            margin: 0 -4px 0 0;
            font-weight: 400;
          }
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 10px;
          left: 0px;
          width: 100%;
          border-bottom: 2px dotted #fff;
          z-index: 10;
        }
      }
      .destination-holder {
        padding: 0px 10px 10px;
        margin: 0 25px 10px;
      }
      .destination-row {
        position: relative;
        margin: 0 0 0px;
        clear: both;
        overflow: hidden;
        div {
          background: #fff;
          display: inline-block;
          color: #444545;
          font-size: 13px;
          font-weight: 400;
          padding: 5px;
          z-index: 999;
          position: relative;
          &.destination-label {
            float: left;
            margin: 10px 0 0 -4px;
            max-width: 55%;
          }
          &.destination-amount {
            float: right;
            margin: 20px -6px 0 0;
          }
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 17px;
          left: 0px;
          width: 100%;
          border-bottom: 2px dotted #444545;
          z-index: 10;
        }
      }
      .buttons-holder {
        padding: 0px 10px 10px;
        margin: 0 5px 10px;
        .cancel-button {
          float: left;
          background: white;
          border: 1px solid #555555;
          cursor: pointer;
          padding: 9px 10px;
          display: inline-block;
          font-size: 13px;
          font-weight: 400;
         width: 45%;
        }
        .submit-btn {
            background: #0094b9;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            cursor: pointer;
            padding: 9px 10px;
            display: inline-block;
            box-sizing: border-box;
            width: 45%;
            margin: 0 5px;
            float: right;
        }
      }
    }
}
.close-modal {
  position: absolute;
  top: 15px;
  right: 6px;
  z-index: 50;
  cursor: pointer;
  img {
    max-width: 25px;
  }
}
  .cancel_text{
    font-size: 10px;
    color: #770a0a;
    font-weight: 500;
  }
}
