page-edit-company-information {



    ion-content{
        padding:0 !important;

        .scroll-content{
            padding:0 !important;
        }
        .wrap-images{
          margin: 0 auto;
          width: 80%;

        }
        .recursive_wrap{
            position: relative;
            float: left;
            width: 75px;
            margin: 0 20px 20px 0;
            img{
              width: 100%;
              height: 75px;
            }
            .delete-img{
              position: absolute;
              top: -10px;
              right: -10px;
              background: #382121;
              border-radius: 15px;
              width: 21px;
              height: 21px;
              img{
                width: 100%;
                height: 21px;
              }
            }
          }
        .wrap{
        p.welcome_p
            {
                font-size:14px;
                strong{
                display: block;
                font-size:16px;
                margin-bottom:5px;
            }
        }
    }

    .thumb{
          width:75px;
          height:75px;
          margin-bottom: 15px;
          // margin: 0 auto;
          // display: table;
      }

    .pic_text{
        font-size: 11px;
    max-width: 75px;
    text-align: center;
        .sterik{
            color:#ca0000;
        }
    }


    .label{
      margin:0 !important;

    }
    .sterik{
        color:#ca0000;
    }

    .file_icon_p{
        padding:0 15px;
        font-size:12px;
        color:#888585;
        margin: 30px 0;

        img{
            width:30px;
            vertical-align: middle;
            margin-right: 8px;
        }

    }

    .checkbox_wrap{
        padding:15px;

        .checkbox_item{
            position: absolute;
        }

        p{
            span{
                margin-left: 25px;
                display: inline-block;
                font-size:12px;
        color:#888585;

            }
        }

        .checkbox-md-dark .checkbox-checked{
            color:#3e6ee0;
        }
    }
.btn_save{
    width:100%;
    background-color:#3e6ee0;
    color:#fff;
}
    .calendar_bg{
        background:url('../assets/img/calendar_icon_00.png') no-repeat;
        background-position: right;
        background-size: 15px;
    }
    .calendar-icon {
        background: url('../assets/img/calendar_icon_00.png') 0px 0px no-repeat;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        float: right;
    }
    }
    .password-fields-holder {
        background: #cecece;
        padding: 20px 10px 20px;
        margin: 20px 0 0;
        h4 {
            font-size: 15px;
            font-weight: 500;
            padding: 0 0 15px;
            margin: 0px;
        }
        & .item {
            padding: 0px 15px 0 15px;
            &:last-child{
                border-bottom: 0px;
                padding-bottom: 25px;
            }
        }
    }
}
