<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <div class="page-title clearfix">New Shipment Location</div>
  </ion-navbar>
  <ion-toolbar>
    <div class="top-links">
      <ul class="top-nav-list">
        <li (click)="openNew()" class="active">New</li>
        <li (click)="openPosted()">Posted</li>
        <li (click)="openOngoing()">Ongoing</li>
        <li (click)="openUpcoming()">Upcoming</li>
        <li (click)="openCompleted()">Completed</li>
      </ul>
   </div>
    
  </ion-toolbar>
    <div class="notifications-holder" (click)='showNotification()'> 
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>


<ion-content>
    <form padding>
        <ion-list>
          <ion-item>
            <input id="auto" type="text" name="search" placeholder="Search" class="search">
          </ion-item>
        </ion-list>
        </form>

       <div class="wrapper_blue" (click)="newShipmentmap()">
            <p><img src="assets/img/thumb_pin.png" class="thumb_pin"/> Select location from map</p>
       </div>
       <!-- <p class="head_p">Saved Locations</p>

       <div class="loop_wrap">
          <div class="box_one">
              <img src="assets/img/location_outline_icon.png" class="location_outline_icon"/>
              <span>1.4 km</span>
          </div>
          <div class="box_two">
              <p><strong>Pho Vong</strong>Pho Vong Street, Hanoi, Vietnam <ion-icon name="star"></ion-icon> </p>
          </div>
      </div>
      <div class="loop_wrap">
          <div class="box_one">
              <img src="assets/img/location_outline_icon.png" class="location_outline_icon"/>
              <span>1.4 km</span>
          </div>
          <div class="box_two">
              <p><strong>Pho Vong</strong>Pho Vong Street, Hanoi, Vietnam <ion-icon name="star"></ion-icon> </p>
          </div>
      </div>
      <p class="head_p">Recent Locations</p>
      <div class="loop_wrap">
          <div class="box_one">
              <img src="assets/img/location_outline_icon.png" class="location_outline_icon"/>
              <span>1.4 km</span>
          </div>
          <div class="box_two">
              <p><strong>Pho Vong</strong>Pho Vong Street, Hanoi, Vietnam  </p>
          </div>
      </div>
      <div class="loop_wrap">
          <div class="box_one">
              <img src="assets/img/location_outline_icon.png" class="location_outline_icon"/>
              <span>1.4 km</span>
          </div>
          <div class="box_two">
              <p><strong>Pho Vong</strong>Pho Vong Street, Hanoi, Vietnam </p>
          </div>
      </div>
      <p class="head_p">Nearby Locations</p>

      <div class="loop_wrap">
          <div class="box_one">
              <img src="assets/img/location_outline_icon.png" class="location_outline_icon"/>
              <span>1.4 km</span>
          </div>
          <div class="box_two">
              <p><strong>Pho Vong</strong>Pho Vong Street, Hanoi, Vietnam</p>
          </div>
      </div>
      <div class="loop_wrap">
          <div class="box_one">
              <img src="assets/img/location_outline_icon.png" class="location_outline_icon"/>
              <span>1.4 km</span>
          </div>
          <div class="box_two">
              <p><strong>Pho Vong</strong>Pho Vong Street, Hanoi, Vietnam</p>
          </div>
      </div> -->

</ion-content>


<ion-footer>
    <button ion-button class="btn_lets_go" (click)=newShipmentDropOff() >Let's Go</button>
</ion-footer>
