<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
        <div class="page-title clearfix">Landing</div>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div class="wrap">

   <button ion-button color="primary" outline class="btn_save" (click)=newShipment()>NEXt</button>
 </div>

</ion-content>
