<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <div class="page-title clearfix">Completed Shipment Details</div>
  </ion-navbar>
  <ion-toolbar>
    <div class="top-links">
      <ul class="top-nav-list">
        <li (click)="openNew()">New</li>
        <li (click)="openActive()">Active</li>
        <li (click)="openWon()">Won</li>
        <li (click)="openOngoing()">Ongoing</li>
        <li class="active" (click)="openCompleted()">Completed</li>
      </ul>
    </div>
  </ion-toolbar>
  <div class="notifications-holder" (click)="showNotification()">
    <span
      ><img src="assets/img/notification-bell.png" alt="notification-bell"
    /></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
      <span class="inner">{{ globalVar.current_user.notification_count }}</span>
    </div>
  </div>
</ion-header>

<ion-content class="details-page">
  <div class="details-header">
    <h1>
      {{ 'SHIPMENT_NO' | translate }} <span>{{ shipment.id }}</span>
    </h1>
    <div class="status-holder">
      {{ 'STATUS' | translate }}
      <span class="completed" *ngIf="shipment.state == 'completed'">{{
        shipment.state.toUpperCase()
      }}</span>
      <span class="canceled" *ngIf="shipment.state == 'cancel'">{{
        shipment.state.toUpperCase()
      }}</span>
    </div>
    <div class="payment-col">
      <!-- <span class="aed" *ngIf="shipment.state == 'completed' && showAmount">{{
        shipment.amount
          | currency: globalVar.current_user.country.currency + " "
      }}</span>
      <span class="aed" *ngIf="shipment.state == 'cancel'">{{
        shipment.cancel_charges
          | currency: globalVar.current_user.country.currency + " "
      }}</span>

      <span class="card-name" *ngIf="shipment.state == 'completed'">{{
        shipment.payment_option
      }}</span> -->
      <span style='margin-top: 20%;' class="status cursor" (click)="openPodPage()">Shipment Documents</span>
      <!--
        <span class="status" *ngIf="shipment.state == 'completed'">Payment</span>
      -->
<div *ngIf="company_category=='fleet' && company_type=='individual'; then notShowInvoice  else ShowInvoice"></div>
<ng-template #notShowInvoice>
  <span hidden="true" class="status" (click)="download()">Send Invoice in email</span>
</ng-template>
<ng-template #ShowInvoice>
  <span class="status" (click)="download()">Send Invoice in email</span>
</ng-template>
    </div>
    <div class="fleet-row clearfix">
      <div class="fleet-col-left">
        <div class="pickup-date">
          <span>{{ 'PICKUP_DATE' | translate }}</span>
          <span class="date">{{
            shipment.pickup_date | date: "MMM dd,yyyy"
          }}</span>
          <span class="date">{{ shipment.pickup_time | date: "h:mm a" }}</span>
        </div>
        <div class="pickup-date">
          <span>Distance Travelled</span>
          <span class="date" *ngIf="shipment.distance_km!=null">{{shipment.distance_km | number : '1.2-5'}}</span>
          <span class="date" *ngIf="shipment.distance_km==null">0.00 Km</span>
          <!-- <span class="date">{{shipment.dropoff_date | date: 'h:m a'}}</span> -->
      </div>
    </div>
      <div class="fleet-col-right">
        <div class="address-outer">
          <div class="address-one">{{ shipment.pickup_location }}</div>
          <div class="address-two">{{ shipment.drop_location }}</div>
        </div>
        <div class="truck-row">
          {{ shipment.no_of_vehicles }} x {{ shipment.vehicle_type }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="company_category=='fleet' && company_type=='individual'; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>

  <p class="charges-text">{{'FLEET_LONG_MSG' | translate}}</p>

</ng-template>

<ng-template #elseBlock>

  <p class="charges-text">* All Bid amount/rates provided here are purely transportation cost only. All other cost will be charged at Actual.</p>

</ng-template>


  <div class="" #map id="map"></div>
  <div class="drivers-holder clearfix">
    <div class="driver" *ngFor="let vehicle of vehicles">
      <span>{{ vehicle.driver ? vehicle.driver.first_name : "" }}</span>
      <span class="booking-number">{{ vehicle.registration_number }}</span>
    </div>
    <div class="fleet-owner-name">{{ shipment.cargo_company_name }}</div>
  </div>
  <div
    class="ratings-holder"
    *ngIf="shipment.fleet_id && shipment.state != 'cancel'"
  >
    <h3 *ngIf="!current_user_rating || company_rating_length == 0">
      {{'RATE_FLEET' | translate}}
    </h3>

    <div
      class="stars-holder"
      *ngIf="!current_user_rating || company_rating_length == 0"
      (click)="openRatingPopup(rate)"
    >
      <rating
        [(ngModel)]="rate"
        readOnly="false"
        max="5"
        emptyStarIconName="star-outline"
        halfStarIconName="star-half"
        starIconName="star"
        nullable="false"
        (ngModelChange)="onModelChange($event)"
      >
      </rating>
    </div>

    <div class="stars-holder" *ngIf="current_user_rating">
      <div class="remarks-heading">
        {{ 'REMARKS' | translate }}{{ other_user_rating ? other_user_rating.remarks : "" }}
      </div>

      <div *ngIf="other_user_rating">
        <rating
          [(ngModel)]="other_user_rating.rating"
          readOnly="true"
          max="5"
          emptyStarIconName="star-outline"
          halfStarIconName="star-half"
          starIconName="star"
          nullable="false"
        >
        </rating>
      </div>

      <div *ngIf="!other_user_rating">{{'CARGO_RATING' | translate}}</div>
    </div>
  </div>
</ion-content>
