<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="page-title clearfix">
      <div class="title-copy">Won Bids</div>
      <div class="filter-arrow-holder">
          <div *ngIf="ascending"><img src="assets/img/up-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
          <div *ngIf="!ascending"><img src="assets/img/down-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
      </div>
    </div>
 </ion-navbar>

  <ion-toolbar>
    <div class="top-links">
      <ul class="top-nav-list">
        <li (click)="openNew()">New</li>
        <li (click)="openActive()">Active</li>
        <li class="active" (click)="openWon()">Won</li>
        <li (click)="openOngoing()">Ongoing</li>
        <li (click)="openCompleted()">Completed</li>


      </ul>
    </div>

  </ion-toolbar>
<div class="notifications-holder" (click)='showNotification()'>
  <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
  <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
      <span class="inner">{{globalVar.current_user.notification_count}}</span>
  </div>
</div>
</ion-header>


<ion-content padding>
<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
  <div *ngIf="shipments.length == 0 && loaded"> {{'NO_SHIPMENTS_AV' | translate}}</div>
  <div class="fleet-card" *ngFor="let shipment of shipments">

      <div class="fleet-row clearfix">
          <div class="fleet-col-left">
              <div class="bids" *ngIf="shipment.best_bid.amount">
                  <!-- <span class="bid-amount" *ngIf="shipment.best_bid.amount"> {{shipment.amount  | currency: globalVar.current_user.country.currency + " "}}</span>
                  <span class="bid-vehicle"> {{shipment.amount/shipment.no_of_vehicles | currency: globalVar.current_user.country.currency + " "}}/Vehicle</span> -->
              </div>
              <div class="buttons-holder">
                <div *ngIf="pickupnow == true; then thenBl else elseBl"></div>
                <ng-template #thenBl>
                        <button class="submit-btn bidnow" [disabled]="but" (click)="fleetinidvidual(shipment)">{{'START' | translate}}</button>
                </ng-template>

                <ng-template #elseBl>
                        <button class="submit-btn bidnow" *ngIf="shipment.state == 'accepted'" (click)="assignVehicle(shipment)">{{'ASSIGN_VEHICLE' | translate}}</button>

                        <button class="submit-btn bidnow" *ngIf="shipment.state == 'vehicle_assigned'" (click)="changeVehicle(shipment)">{{'CHANGE_VEHICLE' | translate}}</button>

                </ng-template>

                <button class="submit-btn not-interest" (click)=cancelShipment(shipment)>{{'CANCEL_SHIPMENT' | translate}}</button>
                <button class="submit-btn bidnow call-btn" (click)="callFleet(shipment)">{{'CALL_CARGO_OWNER' | translate}}</button>
            </div>
          </div>
          <div class="fleet-col-right">
              <h1>{{'SHIPMENT_NO' | translate}} {{shipment.id}}</h1>
              <div class="address-outer">
                  <!-- <div class="distance-holder">75 KM</div> -->
                  <div class="address-one">
                      {{shipment.pickup_location}}
                  </div>
                  <div class="address-two">
                      {{shipment.drop_location}}
                  </div>
              </div>
              <div class="truck-row">
                  {{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}
              </div>
              <div class="pickup-date">
                  <span>{{'PICKUP_DATE' | translate}}</span> {{shipment.pickup_time | date: 'h:mm a'}} | {{shipment.pickup_date | date: 'MMM dd, yyyy'}}
              </div>
              <span class="cancel_text">{{(shipment.cancel_penalty / shipment.no_of_vehicles) | currency: globalVar.current_user.country.currency + " "}} / Vehicle penalty amount will apply for cancellation</span>
          </div>
      </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
