
<ion-content>

    <img src="assets/img/logo.png" class="logo" />
  <form (submit)="sendForgotPassword()"  #form="ngForm">
    <ion-list>

    <ion-item>
       <ion-label fixed>{{ 'COUNTRY_CODE' | translate }}</ion-label>
      <ion-select [(ngModel)]="_country" required #country="ngModel" name="country">
        <ion-option *ngFor="let country of _countries.countries" [value]="country.dialing_code" >{{country.dialing_code+' '+country.name}}</ion-option>

      </ion-select>
    </ion-item>
    <div *ngIf="country.invalid && (country.dirty || country.touched)"
    class="alert alert-danger">
      <span *ngIf="country.errors">
          <span [hidden]="!country.errors.required" class="error"> Country Code is required</span>
      </span>
    </div>

      <ion-item>
        <ion-label floating class="floating-label">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="_email" name="email"  required #email="ngModel" required></ion-input>
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger">
        <span *ngIf="email.errors">
            <span [hidden]="!email.errors.required" class="error">Email is required</span>
            <span [hidden]="!email.errors.pattern" class="error">Please enter a valid email</span>
        </span>
      </div>

      <div padding class="wrap">
          <button ion-button color="primary" class="btn_signup"  [disabled]="!form.valid">{{ 'GET_RESET_PASSWORD' | translate }}</button>
          <div ion-button color="primary" outline class="btn_signin" (click)="signIn()">Sign in here? &nbsp;<span class="secondary">{{ 'LOGIN_BUTTON' | translate }}</span></div>
      </div>

    </ion-list>
  </form>
</ion-content>
