page-forgot-password {
    .content{
        background-image: -webkit-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -moz-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -o-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -ms-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: linear-gradient(to top, #e84f14, #e84f14 99%);

        .logo{
            width: 150px;
            display: table;
            margin: 0 auto;
            padding-top: 50px;
            margin-bottom: 50px;
          }

          h3{
              color:#3e6ee0;
              font-weight: bold;
              text-align: center;
              margin-bottom: 30px;
              margin-top: 30px;
          }
          .list-ios > .item-block:first-child{
              border-top:0 !important;
          }
          .item-block{
            background-color:transparent;
            font-size: 14px;
            padding: 0px;
            .item-inner {
              padding: 0 25px;
              border-bottom: 1px solid #04afd8 !important;
              .select-md {
                padding: 0px;
              }
              .select-icon {
                position: absolute;
                top: 15px;
                right: 30px;
                .select-icon-inner {
                  color: #d7d7d7;
                  border-top: 8px solid #d7d7d7;
                }
              }
            }
          }

          .label {
            color:#fff !important;
            font-weight: 500;
            font-size: 15px;
            &.floating-label {
              margin-top: 10px;
              padding-bottom: 7px;
            }
          }
          ion-select{
            color:#fff !important;
          }
          .text-input{
              color:#fff;
          }

          .sterik{
              color:#ca0000;
              font-weight: bold;
          }


          .wrap{
            margin-top: 30px;

            .btn_signup{
              width:100%;
              background-color: #fff;
              color:#e84f14;
              font-weight: bold;
              font-size:20px;
              text-transform: uppercase;
              border-radius: 0;
              height: 45px;
              margin-bottom:20px;
              box-shadow: none;
            }
            .btn_signin{
                width:100%;
                border:1px solid #a4e7ff;
                border-radius: 0;
                height: 45px;
                color:#a4e7ff;

                span.button-inner{
                    font-size:12px !important;

                }

                span.secondary{
                    font-size:20px;
                    color:#e84f14;
                    font-weight: bold;
                    text-transform: uppercase;
                  }




            }
          }

          .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
              border-bottom:1px solid #04aed8 !important;
              box-shadow:none !important;
          }
    }
}
