page-cancel-shipment {
  ion-content {

    background: none !important;
    .modal-holder {
      margin: 85px 10px;
      background: white;
      border: 1px solid #a1a1a1;
      border-top: none;
      -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      position: relative;

      h1 {
        color: #7c1414;
        font-size: 16px;
        font-weight: 500;
        padding: 50px 0 35px;
        margin: 0px;
        border-top: 7px solid #7c1414;
        text-align: center;
        line-height: 24px;
      }
      h2 {
        color: #313131;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0 35px;
        margin: 0px;
        text-align: center;
      }
    }
    .close-modal {
      position: absolute;
      top: 15px;
      right: 6px;
      z-index: 50;
      cursor: pointer;
      img {
        max-width: 30px;
      }
    }
    .buttons-holder {
      padding: 0px 10px 25px;
      margin: 0 0px 10px;
      .cancel-button {
        float: left;
        background: #770a0a;
        border: 1px solid #770a0a;
        cursor: pointer;
        padding: 8px 20px;
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        width: 45%;

        color: #fff;
        // text-transform: uppercase;
      }
      .submit-btn {
        float: right;
        background: #e84f14;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        padding: 8px 20px;
        text-align: center;

        cursor: pointer;
        display: inline-block;
        // text-transform: uppercase;
        width: 45%;
        border: 1px solid #e84f14;
      }
    }
    .fleet-col-right {
        max-width: 200px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 5px 30px 20px;
        .address-outer {
            padding: 0 0px 10px;
            position: relative;
        }
        .address-one {
            padding: 0 0 10px 15px;
            margin-bottom: 5px;
            color: #353535;
            font-size: 12px;
            font-weight: 400;
            position: relative;
            background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
            &:before {
                content: "";
                width: 16px;
                height: 16px;
                position: absolute;
                top: 0px;
                left: -7px;
                background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
                background-size: 16px 16px;
            }
        }
        .address-two {
            padding: 0 0 0px 15px;
            color: #353535;
            font-size: 12px;
            font-weight: 400;
            position: relative;
            span {
                display: block;
                font-size: 14px;
                font-weight: 400;
            }
            &:before {
                content: "";
                width: 16px;
                height: 26px;
                position: absolute;
                top: -3px;
                left: -7px;
                background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
                background-size: 16px 26px;
            }
        }
    }
    .cancel-shipment-holder {
      padding: 0 20px;
      h3 {
        color: #313131;
        font-size: 15px;
        font-weight: 500;
        padding: 0px 0 15px;
        margin: 0px;
        text-align: left;
      }
    }
    .list-ios {
        margin-bottom: 0px;
    }
    .list-ios > .item-block:first-child {
      border: 0px;
    }
    .list-ios > .item-block:last-child {
      border: 0px;
    }
    .form-holder {
      margin-left: -10px;
      padding-bottom: 30px;
      .item {
        min-height: 17px;
        .item-inner {
          position: relative;
          padding: 0px;
          border: 0px !important;
          .label {
            font-size: 12px;
            font-weight: 400;
            color: #313131;
            position: relative;
            padding-left: 25px;
          }
        .radio-btn {
          left: 0px;
          top: 10px;
          position: absolute;
          width: 100%;
          margin: 0px;
          &.radio-ios {
            top: 7px;
          }
        }
        }
      }
    }
  }

  .cancel_text{
      font-size: 10px;
      color: #770a0a;
      float: right;
      font-weight: 500;
    }
    .with-bottom-margin {
        padding-bottom: 20px;
    }
}
