<ion-content>
  <div class="modal-holder">
    <!-- <div class="close-modal" (click)="dismiss()">
      <img src="assets/img/close-modal.png" alt="" >
    </div> -->
    <h1>No bids selected/received . <br> Do you want to repost this shipment ?</h1>
    <h2>Shipment No. {{shipment.id}}</h2>

    <div class="fleet-col-right">
      <div class="address-outer">
        <div class="address-one">
          {{shipment.pickup_location}}
        </div>
        <div class="address-two">
          {{shipment.drop_location}}

      </div>
      </div>
    </div>
    <form >


      <div class="but_tons-holder buttons-holder clearfix">
        <button class="cancel-button" (click)="cancelShipment()">Cancel Shipment</button>
        <button type="submit" class="submit-btn" (click)="repostShipment()">Repost Shipment</button>
      </div>
    </form>
  </div>
</ion-content>
