page-new-shipment {


  .scroll {
    height: 100%;
    position: relative;
  }
  .toggle-holder {
    position: absolute;
    top: 70%;
    left: 9%;
    width: 90%;
    z-index: 999;
  }
  .search-holder {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
    z-index: 999;
    &:after {
        font-family: "Ionicons";
        font-size: 20px;
        content: "\f4a5";
        // content: "\X";
        position: absolute;
        top: 6px;
        right: 7px;
        width: 18px;
        height: 20px;
        color: #707070;
        display: inline-block;
    }
    ion-searchbar {
      box-sizing: border-box;
      width: 100%;
      padding: 7px 30px 7px 15px;
      background: white;
      border: 1px solid #ccc;
      position: relative;
      color: #707070;
      @include placeholder(#707070);
      font-weight: 400;
    }
  }
  #map {
    width: 100%;
    height: 100%;
  }

  ion-searchbar {
    // box-sizing: border-box;
    width: 100%;
    padding: 7px 30px 7px 15px;
    // background: white;
    // border: 1px solid #ccc;
    position: relative;
    color: #707070;
    @include placeholder(#707070);
    font-weight: 400;
  }

    ion-footer{
      .pin-info{
        background: #e0ffdc;
        padding: 2px 5px;
        border: 1px solid #acacac;
        color: #6d6d6d;
        font-size: 10px;
        border-left: 0px;
        border-right: 0px;
      }

.wrapper{
    padding:15px 15px;
    background:url(../assets/img/fleet-location-icon.png) 20px center no-repeat #fff;

    .ring_icon{
        width:10px;
        position: absolute;
    //    left:15px;
     //   top:30px;
    }

    .text_wrap{
        margin-left:30px;
        p{
            font-weight: bold;
            color:#353535;
            line-height: 1.3;
            margin:0;
            span{
                color:#6d6d6d;
                font-size: 12px;
                font-weight: normal;
                display: block;
            }
        }
    }

    .icons_wrap{
        text-align: right;

        .search_icon{
            width:30px;
            display: inline-block;
        }
        .favorite_icon{
            width:20px;
            vertical-align: 5px;
            display: inline-block;
            margin-left:5px;
        }
    }
}

        .btn_lets_go{
          //  background:#0596ce;
           background:#e84f14;
           color:#fff;
            width:100%;
            border-radius: 0;
            padding: 28px 0;
            margin: 0;
            font-size:16px;
            text-transform: uppercase;
            //height: 5%;
            //padding-left: 15px;
            //border:none;
        }
        .btn_lets{
          // background:#0596ce;
          background:#e84f14;
          color:#fff;
           width:100%;
           border-radius: 0;
           padding: 28px 0;
           margin: 0;
           font-size:16px;
           text-transform: uppercase;
           height: 50%;
           //padding-left: 15px;
           //border:none;
       }
    }
}
.img{
  height:"10px";
width:"10px";
}
.filters {

  ion-col {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.6rem;

      ion-icon {
          color: #ccc;
      }

      &.col-with-arrow {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }

  p {
      color: #444;
      margin: 0;
      font-size: 1.6rem;
      line-height: 1.6rem;
  }

  .selected {
      font-weight: 700;
  }
  .map-location-footer {
      position: relative;
  }
}
