<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
        </button>
        <div class="page-title clearfix">New Shipment</div>
  </ion-navbar>

  <ion-toolbar>
    <div class="top-links">
      <ul class="top-nav-list">
        <li (click)="openNew()" class="active">New</li>
        <li (click)="openPosted()">Posted</li>
        <li (click)="openOngoing()">Ongoing</li>
        <li (click)="openUpcoming()">Upcoming</li>
        <li (click)="openCompleted()">Completed</li>
      </ul>
   </div>
  </ion-toolbar>
    <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>



<ion-content>
  <div style="position: absolute;top: 10px;width: 100%;z-index: 999;">
    <ion-searchbar #searchbar autocomplete="auto" debounce="500" placeholder="Search Pick-Up Location"
  [cancelButtonText]="'X'" type="text"
  [(ngModel)]="address"  (ionChange)="reInitializeAutocomplete($event)"></ion-searchbar>
  <!-- <input id="auto" type="text" name="address" placeholder="Search Pick-Up Location" class="search" [(ngModel)]="address"  (keydown)="reInitializeAutocomplete($event)"> -->
  </div>
  <div #map id="map">
</div>
<div class="toggle-holder">

<img src="assets/tooglecurrent.png" (click)="currentloc()" style="width:40px; height:30px;
    padding-right: 10px; float:right; "/>

</div>

</ion-content>


<ion-footer class="map-location-footer">
      <!-- <div class="pin-info" >Move to current location</div> -->

  <div class="wrapper">


    <ion-grid>
      <ion-row>
        <ion-col col-12>
           <div class="text_wrap">
            <p><span>{{ building }} {{ address }}</span></p>
          </div>
        </ion-col>
        <!-- <ion-col col-3>
          <div class="icons_wrap">
            <img src="assets/img/icon_66_05.png" class="search_icon"/>
            <img src="assets/img/icon_566_14.png" class="favorite_icon"/>
        </div>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>


    <button ion-button class="btn_lets_go" (click)=newShipmentDropOff() [disabled]='disabled()'>Let's Go</button>


</ion-footer>
