page-new-shipment-vehicle-select {

  #map {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 175px;
  }
  .btn_post_request{
    background-color:#e84f14;
    color:#fff;
    width:100%;
    border-radius: 0;
    padding: 28px 0;
    margin: 0;
    font-size:16px;
    text-transform: uppercase;
}
.info_text{
  text-align: center;
  padding:10px;
  span{
      color:#e84f14;
  }
}
.car_bg{
  // background:url('../assets/img/img_01') no-repeat;
padding-left: 20px;
font-size: 12px;
font-weight: normal;
}

}
