<ion-header>

  <ion-navbar>
    <div class="page-title clearfix">Select Vehicle Type</div>
  </ion-navbar>

</ion-header>


<ion-content >

  <div class="" #map id="map">

  </div>

<div *ngIf="vehiclevalue == true; then theBl else elBlo" >

</div>

<ng-template #theBl>

  <ion-grid>
  <ion-row>
    <ion-col col-6>
        <ion-label text-wrap class="required" (click)="openModal('category')" style="padding-left: 10px;  font-size: 12px;
        font-weight: normal;
      ">Specify Type of Vehicle Required?</ion-label>
    </ion-col>
    <ion-col col-3 text-right (click)="openModal('category')" style="margin-top: 3%;">
      <button ion-button small>
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3>
        <div text-right class="car_bg">
            <img src={{src}} style="width:50px; height:auto; ">
          </div>
      </ion-col>
  </ion-row>
</ion-grid>



</ng-template>

<ng-template #elBlo>
  <ion-grid>
    <ion-row>
      <ion-col col-9  >
          <ion-label class="required">Specify Type of Vehicle Required?</ion-label>
      </ion-col>
      <ion-col col-3 text-right (click)="openModal('category')" style="margin-top: 3%;">
        <button ion-button small>
          <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ng-template>
<div *ngIf="subvehiclevalue == true; then thenBlock else elseBlock" >

</div>

<ng-template #thenBlock>

  <ion-grid>
  <ion-row>
    <ion-col col-6>
        <ion-label text-wrap class="required" (click)="openModal('subcategory')" style="padding-left: 10px;  font-size: 12px;
        font-weight: normal;
      ">Specify Sub-Category of Vehicle Required?</ion-label>
    </ion-col>
    <ion-col col-3 text-right (click)="openModal('subcategory')" style="margin-top: 4%;">
      <button ion-button small>
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3>
        <div text-right class="car_bg">
            <img src={{secondarysrc}} style="width:50px; height:auto; ">
          </div>
    </ion-col>
  </ion-row>
</ion-grid>



</ng-template>

<ng-template #elseBlock>
  <ion-grid>
    <ion-row>
      <ion-col col-9 (click)="openModal('subcategory')" *ngIf="vehiclevalue==true">
          <ion-label class="required" text-wrap>Specify Sub-Category of Vehicle Required?</ion-label>
     </ion-col>
      <ion-col col-9 *ngIf="vehiclevalue!=true">
        <ion-label class="required" text-wrap>Specify Sub-Category of Vehicle Required?</ion-label>
    </ion-col>
    <ion-col col-3 text-right (click)="openModal('subcategory')" style="margin-top: 4%;" *ngIf="vehiclevalue==true">
      <button ion-button small>
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </ion-grid>

</ng-template>

<ion-item >
  <ion-label class="required" floating
    >Number of Vehicles Required</ion-label
  >
  <ion-select [(ngModel)]="shipment.no_of_vehicles" name="no_of_vehicles">
    <ion-option value="1" >1</ion-option>
    <ion-option value="2">2</ion-option>
    <ion-option value="3">3</ion-option>
    <ion-option value="4">4</ion-option>
    <ion-option value="5">5</ion-option>
    <ion-option value="6">6</ion-option>
    <ion-option value="7">7</ion-option>
    <ion-option value="8">8</ion-option>
    <ion-option value="9">9</ion-option>
    <ion-option value="10">10</ion-option>
    <ion-option value="11">11</ion-option>
    <ion-option value="12">12</ion-option>
    <ion-option value="13">13</ion-option>
    <ion-option value="14">14</ion-option>
    <ion-option value="15">15</ion-option>
    <ion-option value="16">16</ion-option>
    <ion-option value="17">17</ion-option>
    <ion-option value="18">18</ion-option>
    <ion-option value="19">19</ion-option>
    <ion-option value="20">20</ion-option>
    <ion-option value="21">21</ion-option>
    <ion-option value="22">22</ion-option>
    <ion-option value="23">23</ion-option>
    <ion-option value="24">24</ion-option>
    <ion-option value="25">25</ion-option>
  </ion-select>
</ion-item>

<div *ngIf="pakistan == 'Pakistan'; then pakistanCell else dubaiCell"></div>
<ng-template #pakistanCell>
  <p class="info_text">
    For any assistance, Please call us at <span>+92 337 7131317</span> Or send us email
    at <span>contact@lorryz.com</span>
  </p>

</ng-template>
<ng-template #dubaiCell>
  <p class="info_text">
      For any assistance, Please call us at <span>+971 56 5466088</span> Or send us email
    at <span>contact@lorryz.com</span>
  </p>

</ng-template>




</ion-content>
<ion-footer>
  <button ion-button outline class="btn_post_request" (click)="nextpage()" [disabled]="disabled()">
    <span class="secondary">Next</span>
  </button>
</ion-footer>
