<!--
  Generated template for the FleetAddDriverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
        <button class="back-arrow"></button>
        <div class="page-title clearfix">Add Driver</div>
  </ion-navbar>
    <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>


<ion-content>
  <form (submit)="addDriver()"  #form="ngForm">
  <div class="driver-picture-holder">
    <ion-grid>
      <ion-row>
        <ion-col col-8 padding>
          <p class="welcome_p">Please complete the form to add driver </p>
        </ion-col>
        <ion-col col-4  (click)="presentActionSheet()">

        <img src="{{selected_avatar}}" *ngIf="selected_avatar" alt="user avatar" class="thumb">
        <img src="assets/img/pic_upload_icon.png" class="thumb" *ngIf="!selected_avatar"/>
          <p class="pic_text">Driver Photo</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="form-holder">

    <ion-item>
       <ion-label floating class="floating-label"><span class="staric">*</span>{{ 'COUNTRY_CODE' | translate }}</ion-label>
      <ion-select [(ngModel)]="country_code" required name="country_code">
        <ion-option *ngFor="let country of _countries" [value]="country.dialing_code" >{{country.dialing_code+' '+country.name}}</ion-option>

      </ion-select>
    </ion-item>

      <ion-item>
        <ion-label floating class="floating-label"> <span class="staric">*</span>Driver Mobile Number</ion-label>
        <ion-input type="text" [(ngModel)]="mobile" name="mobile" required #_mobile="ngModel"></ion-input>
      </ion-item>

      <div *ngIf="_mobile.invalid && (_mobile.dirty || _mobile.touched)"
      class="alert alert-danger">
        <span *ngIf="_mobile.errors">
            <span [hidden]="!_mobile.errors.required">
                <ion-label style="color: red!important; margin-left: 16px;"> Mobile is required </ion-label>
            </span>
        </span>
      </div>


      <ion-item>
        <ion-label floating class="floating-label"> <span class="staric">*</span>Driver's Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="full_name" name="full_name" required #_full_name="ngModel"></ion-input>
      </ion-item>

      <div *ngIf="_full_name.invalid && (_full_name.dirty || _full_name.touched)"
      class="alert alert-danger">
        <span *ngIf="_full_name.errors">
            <span [hidden]="!_full_name.errors.required">
                <ion-label style="color: red; margin-left: 16px;"> Full Name is required </ion-label>
            </span>
        </span>
      </div>

      <ion-item>
        <ion-label floating class="floating-label"> <span class="staric">*</span>Drivers ID No. </ion-label>
        <ion-input type="text" [(ngModel)]="national_id" name="national_id" required #_national_id="ngModel"></ion-input>
      </ion-item>

      <div *ngIf="_national_id.invalid && (_national_id.dirty || _national_id.touched)"
      class="alert alert-danger">
        <span *ngIf="_national_id.errors">
            <span [hidden]="!_national_id.errors.required">
                <ion-label style="color: red; margin-left: 16px;"> National Id is required </ion-label>
            </span>
        </span>
      </div>


      <ion-item>
        <ion-label class="required" floating > Expiry Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="expiry_date" name="expiry_date" class="calendar_bg" #_expiry_date="ngModel" min="{{minDate}}" max="2050-12-31" required></ion-datetime>
      </ion-item>

      <div *ngIf="_expiry_date.invalid && (_expiry_date.dirty || _expiry_date.touched)"
      class="alert alert-danger">
        <span *ngIf="_expiry_date.errors">
            <span [hidden]="!_expiry_date.errors.required">
                <ion-label style="color: red; margin-left: 16px;">ID expiry Date is required </ion-label>
            </span>
        </span>
      </div>


      <ion-item class="image-label-outer" >
        <div class="image-label" (click)="presentActionSheetForDocuments()">
          <span class="staric">*</span>
          <span class="pinpoint"><img src="assets/img/attach-images.png" class="file_icon" ></span>
          Upload Front & Back side of ID
        </div>

        <div class="wrap-images clearfix">
          <div class="recursive_wrap" *ngFor="let doc of emirate_selected_documents">
            <img *ngIf="!valid_format(doc)" src="assets/img/document_silhouette.png" alt="user avatar" class="thumb" (click)="openDocument(doc)">
            <img *ngIf="valid_format(doc)" src="{{doc}}" alt="user avatar" class="thumb" (click)="openDocument(doc)">
            <div class="delete-img">
              <img src="assets/img/close-modal.png" alt=""  (click)="remove(doc)">
            </div>
          </div>

        </div>

      </ion-item>

      <ion-item>
        <ion-label floating class="floating-label"> <span class="staric">*</span>Driving License Number</ion-label>
        <ion-input type="text" [(ngModel)]="license" name="license" required #_license="ngModel"></ion-input>
      </ion-item>

      <div *ngIf="_license.invalid && (_license.dirty || _license.touched)"
      class="alert alert-danger">
        <span *ngIf="_license.errors">
            <span [hidden]="!_license.errors.required">
                <ion-label style="color: red; margin-left: 16px;"> Driving License Number is required </ion-label>
            </span>
        </span>
      </div>

      <ion-item>
        <ion-label class="required" floating >Driving License Expiry Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="license_expiry" name="license_expiry" class="calendar_bg" #_license_expiry="ngModel" min="{{minDate}}" max="2050-12-31" required></ion-datetime>
      </ion-item>

      <div *ngIf="_license_expiry.invalid && (_license_expiry.dirty || _license_expiry.touched)"
      class="alert alert-danger">
        <span *ngIf="_license_expiry.errors">
            <span [hidden]="!_license_expiry.errors.required">
                <ion-label style="color: red; margin-left: 16px;"> Driving License Expiry Date is required </ion-label>
            </span>
        </span>
      </div>

      <ion-item class="image-label-outer" >
        <div class="image-label" (click)="presentActionSheetForDocuments(true)">
          <span class="staric">*</span>
          <span class="pinpoint"><img src="assets/img/attach-images.png" class="file_icon" ></span>
          Upload scanned copy of your License
        </div>

        <div class="wrap-images clearfix">
          <div class="recursive_wrap" *ngFor="let doc of license_selected_documents">
            <img *ngIf="!valid_format(doc)" src="assets/img/document_silhouette.jpg" alt="user avatar" class="thumb" (click)="openDocument(doc)">
            <img *ngIf="valid_format(doc)" src="{{doc}}" alt="user avatar" class="thumb" (click)="openDocument(doc)">
            <div class="delete-img">
              <img src="assets/img/close-modal.png" alt=""  (click)="remove(doc)">
            </div>
          </div>

        </div>

      </ion-item>
      <div class="button-holder">
        <button ion-button class="add-driver" [disabled]="!form.valid">Add Driver</button>
      </div>
    </div>

  </div>
  </form>
</ion-content>
