<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">
        <div class="title-copy">Ongoing Shipments</div>
        <div class="filter-arrow-holder">
            <div *ngIf="ascending"><img src="assets/img/up-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
            <div *ngIf="!ascending"><img src="assets/img/down-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
        </div>
      </div>
</ion-navbar>

<ion-toolbar>
  <div class="top-links">
    <ul class="top-nav-list">


      <li (click)="openNew()">New</li>
      <li (click)="openActive()">Active</li>
      <li (click)="openWon()">Won</li>
      <li class="active" (click)="openOngoing()">Ongoing</li>
      <li (click)="openCompleted()">Completed</li>
    </ul>
  </div>

</ion-toolbar>
<div class="notifications-holder" (click)='showNotification()'>
    <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
        <span class="inner">{{globalVar.current_user.notification_count}}</span>
    </div>
</div>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="shipments.length == 0 && loaded"> {{'NO_SHIPMENTS_AV' | translate}}</div>
  <div class="fleet-card" *ngFor="let shipment of shipments" (click)="openOngoingDetail(shipment.id)">
    <h1>{{'SHIPMENT_NO' | translate}}  {{shipment.id}}</h1>
    <div class="fleet-row clearfix">
      <div *ngIf="pickupnow==true; then showAmount else notShowAmount"></div>
      <ng-template #showAmount>
        <div class="fleet-col-left" >
          <div class="bids" hidden=true>
            <span class="bid-amount"> {{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</span>
          </div>
          <div class="buttons-holder">
            <div class="truck-row">
              <span><img src="assets/img/truck.png" alt="" ></span>
              <span>{{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #notShowAmount>
        <div class="fleet-col-left">
          <div class="bids" hidden=true>
            <span class="bid-amount"> {{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</span>
          </div>
          <div class="buttons-holder">
            <div class="truck-row">
              <span><img src="assets/img/truck.png" alt="" ></span>
              <span>{{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}</span>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="fleet-col-right">
        <div class="address-outer">
          <div class="address-one">
              {{shipment.pickup_location}}
          </div>
          <div class="address-two">
              {{shipment.drop_location}}
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="comments-holder">
      <span><img src="assets/img/comments.png" alt="" ></span>
      <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div> -->
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<div *ngIf="pickupnow==true; then notShowButton else ShowButton"></div>
<ng-template #notShowButton>
  <ion-footer hidden=true>
    <button ion-button class="btn_lets_go" (click)=ongoingShipmentMap() >{{'MAP' | translate}}</button>
  </ion-footer>
</ng-template>
<ng-template #ShowButton>
  <ion-footer>
    <button ion-button class="btn_lets_go" (click)=ongoingShipmentMap() >{{'MAP' | translate}}</button>
  </ion-footer>
</ng-template>
