<ion-header>

  <ion-navbar>
        <div class="page-title clearfix">Completed Shipment Detail</div>
  </ion-navbar>
<div class="notifications-holder" (click)='showNotification()'> 
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>



<ion-content>
  <div class="ongoing-detail-header">
    <h1>Shipment No. {{shipment.id}}</h1>
    <div class="fleet-row clearfix">
      <div class="fleet-col-left">
        <div class="bids">
          <span class="bid-amount">{{shipment.amount | currency: globalVar.current_user.country.currency + " " }}</span>
                    <span class="bid-vehicle">{{shipment.amount/shipment.no_of_vehicles | currency: globalVar.current_user.country.currency + " "}}/vehicle</span>
        </div>
        <div class="buttons-holder">
          <div class="truck-row">
            <span><img src="assets/img/truck.png" alt="" ></span>
            <span>{{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}</span>
          </div>
        </div>
      </div>
      <div class="fleet-col-right">
        <div class="address-outer" (click)="openMap()">
          <div class="address-one">
            {{shipment.pickup_location}}
          </div>
          <div class="address-two">
              {{shipment.drop_location}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collect-payment" *ngIf="shipment.payment_option == 'AfterDelivery' || shipment.payment_option == 'BeforePickUp'">
      <ion-item class="shipment-radio">
        <ion-label>Collect <span>{{globalVar.current_user.country.currency }} {{shipment.amount}}</span> at shipment <span>{{shipment.payment_option == 'AfterDelivery' ? 'After Delivery' : 'Before Pickup'}}</span></ion-label>
        <ion-toggle [(ngModel)]="shipment.paid_by_cargo" (ionChange)="confirmIt($event)" [disabled]="shipment.paid_by_cargo">></ion-toggle>
      </ion-item>
  </div>
  <div class="cargo-details-holder">
    <h2>Cargo Details</h2>
    <div class="but_tons-holder buttons-holder clearfix" *ngIf="globalVar.current_user.company.company_type == 'company'">
      <button type="submit" class="submit-btn report-problem" (click)="report()">Report a problem </button>
    </div>

    
    <div class="edit-btn" (click)="callToFleetOwner(shipment.fleet_owner.mobile)" *ngIf="globalVar.current_user.company.company_type == 'company'">
      <span class="call-icon"><img src="assets/img/call-icon-blue.png" alt=""></span>
    </div>
    <p>{{shipment.cargo_description}}.</p>
    <div class="timing-row clearfix" *ngIf="shipment.loading_time">
      <span class="left-col">Loading Time:</span>
      <span class="right-col">{{shipment.loading_time}} hrs</span>
    </div>
    <div class="timing-row clearfix" *ngIf="shipment.unloading_time">
      <span class="left-col">Unloading Time:</span>
      <span class="right-col">{{shipment.unloading_time}} hrs</span>
    </div>
  </div>

  <ion-item class="range-slider-holder">
    <ion-range min="100" max="600" step="100" snaps="true" color="secondary" (ngModelChange)="textChanged($event)" [(ngModel)]="status" (ionChange)="changeStatus($event)"></ion-range>
    <ion-label class="labels-col booked">Booked</ion-label>
    <ion-label class="labels-col start">Start</ion-label>
    <ion-label class="labels-col loading">Loading</ion-label>
    <ion-label class="labels-col enroute">Driving</ion-label>
    <ion-label class="labels-col unloading">Unloading</ion-label>
    <ion-label class="labels-col finish">End</ion-label>
  </ion-item>

  <!-- <div class="dropoff-slider-holder">
    <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">

      <ion-slide class="grey-slide" >
        <div class="driver clearfix">
          1. Abdul Majeed <span class="route-number">P 64531</span>
        </div>
        <div class="expected-dropoff">
          Expected dropoff time: <span>10:00 am, 3rd May, 2018.</span>
        </div>

      </ion-slide>
      <ion-slide class="grey-slide" >
        <div class="driver clearfix">
          1. Abdul Majeed <span class="route-number">P 64531</span>
        </div>
        <div class="expected-dropoff">
          Expected dropoff time: <span>10:00 am, 3rd May, 2018.</span>
        </div>
        <ion-item class="range-slider-holder">
          <ion-range min="300" max="800" step="100" snaps="true" color="secondary" [(ngModel)]="singleValue4"></ion-range>
        </ion-item>
      </ion-slide>



    </ion-slides>
  </div> -->
</ion-content>

