page-fleet-completed-shipment-listing {
  .fleet-card {
            -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
            -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
            box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
            background: #fff;
            position: relative;
            padding: 10px 10px 10px;
            margin: 0 0 25px;
            &:before {
                content: "";
                top: 0px;
                left: 0px;
                width: 10px;
                position: absolute;
                height: 100%;
                background: #e84f14;
                /* Old browsers */
                background: -moz-linear-gradient(top, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e84f14', endColorstr='#e84f14', GradientType=0);
                /* IE6-9 */
            }
            h1 {
                color: #353535;
                font-weight: 500;
                font-size: 14px;
                padding: 0 0 10px 15px;
                margin: 0px;
                line-height: 22px;
                span {
                  /*display: block;*/
                }
            }
        }
        .date-holder {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 12px;
          font-weight: 400;
        }
        .status-holder {
          font-size: 13px;
          font-weight: 500;
          padding: 0 0 15px 15px;
          span {
            padding-left: 5px;
            &.completed {
              color: #1daf0f;
            }
            &.canceled {
              color: #c0293e;
            }
          }
        }
        .fleet-row {
            padding: 0 0 0px 0px;
            .fleet-col-right {
                box-sizing: border-box;
                padding: 0 5px 0px 20px;
                border-left: 0px solid #7d7d7d;
                float: left;
                width: 70%;
                .address-outer {
                    padding: 0 0px 5px;
                    position: relative;
                }

                .address-one {
                    padding: 0 0 25px 15px;
                    margin-bottom: 5px;
                    color: #353535;
                    font-size: 12px;
                    font-weight: 400;
                    position: relative;
                    background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 0px;
                        left: -7px;
                        background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
                        background-size: 16px 16px;
                    }
                    .enroute {
                      padding: 15px 0 0px;
                      span {
                        display: block;
                        font-size: 12px;
                        font-weight: 400;
                        color: #0597ce;
                        &.destination {
                          color: #848484;
                          font-size: 11px;
                        }
                      }
                    }
                }

                .address-two {
                    padding: 0 0 10px 15px;
                    color: #353535;
                    font-size: 12px;
                    font-weight: 400;
                    position: relative;
                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    &:before {
                        content: "";
                        width: 16px;
                        height: 26px;
                        position: absolute;
                        top: -3px;
                        left: -7px;
                        background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
                        background-size: 16px 26px;
                    }
                }
            }
        }
        .payment-col {
          position: absolute;
          bottom: 15px;
          right: 15px;
          text-align: center;
          span {
            display: block;
            font-size: 13px;
            padding: 0 0 3px;
            font-weight: 500;
            &.aed {
              color: #0090ca;
            }
            &.card-name {
              color: #01a900;
            }
            &.status {
              color: #333333;
              &.pending {
                color: #b8001b;
              }
            }
          }
        }
        .title-copy {
            display: inline-block;
            float: left;
        }
        .filter-arrow-holder {
            display: inline-block;
            margin: 0px 0px 0px 11px;
            position: relative;
            float: left;
            cursor: pointer;
            img {
                width: 20px;
            }
            div {
                @include transitions(0.5s);
            }
        }
}
