<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">
        <div class="title-copy">Completed Shipments</div>
        <div class="filter-arrow-holder">
            <div *ngIf="ascending"><img src="assets/img/up-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
            <div *ngIf="!ascending"><img src="assets/img/down-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
        </div>
      </div>
</ion-navbar>

<ion-toolbar>
  <div class="top-links">
    <ul class="top-nav-list">
      <li (click)="openNew()">New</li>
      <li (click)="openActive()">Active</li>
      <li (click)="openWon()">Won</li>
      <li (click)="openOngoing()">Ongoing</li>
      <li class="active" (click)="openCompleted()">Completed</li>
    </ul>
  </div>

</ion-toolbar>
    <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="shipments.length == 0 && loaded"> {{ 'NO_SHIPMENTS_AV' | translate }} </div>
  <div class="fleet-card"  *ngFor="let shipment of shipments" (click)="openCompletedDetail(shipment)">
    <h1>{{ 'SHIPMENT_NO' | translate }} <span> {{shipment.id}}</span> </h1>
    <div class="date-holder">{{shipment.invoice_date | date: 'MMM dd, yyyy'}}</div>
    <div class="status-holder">
      Status:
      <span class="completed" *ngIf="shipment.state == 'completed'">{{shipment.state.toUpperCase()}}</span>
      <span class="canceled" *ngIf="shipment.state == 'cancel'">{{shipment.state.toUpperCase()}}</span>
    </div>
    <div class="fleet-row clearfix">
      <div class="fleet-col-right">
        <div class="address-outer">
          <div class="address-one">
              {{shipment.pickup_location}}
          </div>
          <div class="address-two">
              {{shipment.drop_location}}
          </div>
        </div>
      </div>
  </div>
  <div class="payment-col">
    <!-- <span class="aed" *ngIf="shipment.state == 'completed' && shipment.is_pickup_now">{{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</span> -->
    <span class="aed" *ngIf="shipment.state == 'cancel'">{{shipment.cancel_charges | currency: globalVar.current_user.country.currency + " "}}</span>
    <span class="card-name" *ngIf="shipment.state == 'completed' && shipment.is_pickup_now" >{{shipment.payment_option}}</span>
    <span class="status" *ngIf="shipment.state == 'completed'">Payment</span>
  </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
