<!--
  Generated template for the FleetAssignVehicleModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="modal-holder">
    <div class="close-modal" (click)="dismiss()">
      <img src="assets/img/close-modal.png" alt="" >
    </div>
    <h1>Assign Vehicles</h1>
    <div class="shipment-number">
      Shipment No. {{this.shipment.id}}
    </div>
    <div class="address-outer">
      <!-- <div class="distance-holder">
          75 KM
        </div> -->
        <div class="address-one">
          {{shipment.pickup_location}}
        </div>
        <div class="address-two">
          {{shipment.drop_location}}
        </div>
    </div>
    <div class="pickup-date-row clearfix">
      <div class="left-col">
        <span>Pick up Date</span>
        <div class="time">
          <span>{{shipment.pickup_time | date: 'h:mm a'}}</span>
          <span class="date">{{shipment.pickup_date | date: 'MMM dd, yyyy'}}</span>
        </div>
      </div>
      <div class="right-col" *ngIf="shipment.loading_time">
      </div>
    </div>
    <div class="pickup-date-row clearfix">
      <div class="left-col" *ngIf="shipment.loading_time">
        <span>Loading time</span>
        <span class="hours black">{{shipment.loading_time}} Hours</span>
      </div>
      <div class="right-col" *ngIf="shipment.unloading_time">
        <span>Unloading time</span>
        <span class="hours black">{{shipment.unloading_time}} Hours</span>
      </div>
    </div>
    <div class="payment-mode">
      <span>Payment Mode</span>
      {{shipment.payment_option}}
    </div>
    <div class="truck-row">
      {{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}
    </div>
    <form (submit)="assignVehicle()">
      <div class="choose-vehicle">
        <div *ngIf="vehicles.length == 0 && loaded" class="vehicle-notice"> Please link/connect vehicle & driver to assign</div>

        <ion-item *ngIf="vehicles.length != 0">
          <ion-label class="" floating>Choose Vehicle</ion-label>
          <ion-select [(ngModel)]="shipment_obj.vehicle_ids" name="vehicle_ids" multiple="true" required>
            <ion-option *ngFor="let vehicle of vehicles" [(value)]="vehicle.id">{{vehicle.registration_number}} - {{vehicle.driver ? vehicle.driver.first_name : ''}}</ion-option>
          </ion-select>
        </ion-item> 
      </div>

      <div class="buttons-holder clearfix">
        <a (click)="dismiss()" class="cancel-button">Cancel</a>
        <button type="submit" class="submit-btn">Assign</button>
      </div>
    </form> 
  </div>
</ion-content>
