page-fleet-assign-vehicle-modal {
  ion-content {
    background: none !important;
    .modal-holder {
      margin: 85px 10px;
      background: white;
      border: 1px solid #a1a1a1;
      border-top: none;
      -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      position: relative;
      h1 {
        color: #0094b9;
        font-size: 15px;
        font-weight: 500;
        padding: 15px 0 10px;
        margin: 0px;
        border-top: 10px solid #0094b9;
        text-align: center;
      }
      .shipment-number {
        text-align: center;
        padding: 0 0 25px;
        font-size: 13px;
        font-weight: 400;
        color: #313131;
      }
      .address-outer {
        max-width: 190px;
        margin: 0 auto;
        padding: 0 10px 20px;
        position: relative;
      }
      .distance-holder {
        font-size: 13px;
        color: #353535;
        position: absolute;
        top: 32px;
        left: -26px;
        webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-weight: 700;
      }
      .address-one {
        padding: 0 0 25px 22px;
        margin-bottom: 5px;
        color: #353535;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
        span{
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
        &:before {
          content: "";
          width: 18px;
          height: 18px;
          position: absolute;
          top: -2px;
          left: -8px;
          background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
          background-size: 18px 18px;
        }
      }
      .address-two {
        padding: 0 0 10px 22px;
        color: #353535;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        span{
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
        &:before {
          content: "";
          width: 26px;
          height: 36px;
          position: absolute;
          top: -3px;
          left: -9px;
          background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
        }
      }
      .pickup-date-row {
        padding: 0 15px 30px;
        .left-col {
          float: left;
          width: 65%;
          span {
            display: block;
            font-size: 13px;
            font-weight: 400;
            color: #646464;
            padding: 0 0 2px;
            &.hours {
              color: #0094b9;
              font-weight: 400;
              font-size: 14px;
              &.black {
                color: #353535;
              }
            }
          }
          .time {
            span {
              color: #0094b9;
              font-weight: 400;
              font-size: 14px;
              display: inline-block;
              position: relative;
              padding: 0 5px 0 0;
              &:after {
                content: "";
                position: absolute;
                top: 0px;
                right: -3px;
                width: 1px;
                height: 100%;
                background: #353535;
              }
              &.date {
                color: #353535;
                font-weight: 400;
                padding: 0 0px 0 5px;
                &:after {
                  display: none;
                }
              }
              &.without-time {
                padding: 0 0px;
              }
            }
          }
        }
        .right-col {
          float: right;
          width: 35%;
          span {
            display: block;
            font-size: 13px;
            font-weight: 400;
            color: #646464;
            padding: 0 0 2px;
            &.hours {
              color: #0094b9;
              font-weight: 400;
              font-size: 14px;
              &.black {
                color: #353535;
              }
            }
          }
        }
      }
      .payment-mode {
        padding: 0 15px 20px;
        color: #0094b9;
        font-weight: 400;
        font-size: 13px;
        span {
          display: block;
          font-size: 13px;
          font-weight: 400;
          color: #646464;
          padding: 0 0 2px;
        }
      }
      .truck-row {
        padding: 7px 25px 20px 70px;
        background: url('../assets/img/truck.png') 0px 8px no-repeat;
        background-size: 60px 38px;
        margin-left: 30px;
        font-size: 14px;
        font-weight: 500;
      }
      .choose-vehicle {
        padding: 0 0 30px;
        .vehicle-notice{
          width: 80%;
          color: red;
          margin: 0 auto;
        }
      }
      .item {
        padding: 0px 45px;
        .item-inner {
          border-bottom: 1px solid #555555;
          padding: 0px 0 7px;
          .label {
            color: #0596ce;
            font-weight: 500;
            font-size: 13px;
        }
        .select {
          padding: 6px 7px 3px 0;
          .select-text {
            color: #0596ce;
            font-size: 13px;
            font-weight: 500;
          }
        }
          .select-icon-inner {
            color: #292929;
          }
        }
      }
      .buttons-holder {
        padding: 0px 10px 10px;
        margin: 0 25px 10px;
        .cancel-button {
          float: left;
          background: white;
          border: 1px solid #555555;
          cursor: pointer;
          padding: 8px 20px;
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          color: #555555;
        }
        .submit-btn {
          float: right;
          background: #0094b9;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          padding: 10px 20px 9px;
          cursor: pointer;
          text-transform: uppercase;
          border: 1px solid #0094b9;
        }
      }
    }
  }
  .close-modal {
    position: absolute;
    top: 15px;
    right: 6px;
    z-index: 50;
    cursor: pointer;
    img {
      max-width: 25px;
    }
  }
    
}
