<ion-content>
  <div class="modal-holder">
    <div class="close-modal" (click)="dismiss()">
      <img src="assets/img/close-modal.png" alt="" >
    </div>
    <h1>Are you sure you want to cancel <br> bidding for the shipment</h1>
    <h2>Shipment No. {{shipment.id}}</h2>

    <div class="fleet-col-right">
      <div class="address-outer">
        <div class="address-one">
          {{shipment.pickup_location}}
        </div>
        <div class="address-two">
          {{shipment.drop_location}}

      </div>
      </div>
    </div>
    <form (submit)="cancelShipment()">
      <div class="cancel-shipment-holder">

        <h3>Why did you cancel the shipment?</h3>
        <div class="form-holder">
          <ion-list radio-group [(ngModel)]="cancel_reason" name="cancel_reason" required>
            <ion-item>
              <ion-radio class="radio-btn"  value="My customer cancelled the shipment" checked></ion-radio>
              <ion-label>My customer cancelled the shipment</ion-label>
            </ion-item>

            <ion-item>
              <ion-radio class="radio-btn" value="No Bids received for this shipment"></ion-radio>
              <ion-label>No Bids received/selected for this shipment</ion-label>
            </ion-item>

            <ion-item>
              <ion-radio class="radio-btn" value="Bids received are expensive than market rate"></ion-radio>
              <ion-label>Bids received are expensive than market rate</ion-label>
            </ion-item>

            <ion-item>
              <ion-radio class="radio-btn" value="Other reason"></ion-radio>
              <ion-label>Other reason</ion-label>
            </ion-item>

          </ion-list>

          <div class="cancel_text with-bottom-margin" *ngIf="shipment.state != 'posted'">{{(shipment.cancel_penalty / shipment.no_of_vehicles)  | currency: globalVar.current_user.country.currency + " "}} / Vehicle penalty charges will apply for cancellation of shipment</div>
        </div>
      </div>

      <div class="but_tons-holder buttons-holder clearfix">
        <a class="cancel-button" (click)="dismiss()">Back</a>
        <button type="submit" class="submit-btn">Cancel Shipment</button>
      </div>
    </form>
  </div>
</ion-content>
