page-balance-payment-mode {
  .balance-header {
    padding: 10px 10px 30px;
    position: relative;
    h1 {
      color: #313131;
      font-size: 15px;
      font-weight: 500;
      padding: 15px 0 10px;
      margin: 0px;
    }
    .balance-holder {
      position: absolute;
      top: 20px;
      right: 15px;
      width: 155px;
      text-align: right;
      span {
        display: block;
        font-size: 10px;
        color: #4e4e4e;
        padding: 4px 0px;
        &.balance {
          background: #0596ce;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          display: inline-block;
          min-width: 90px;
          padding: 4px 10px 4px;
        }
        &.pay-to-lorryz {
            color: red;
        }
      }
    }
  }
  .shipments-holder {
    padding: 0 10px 0px;
    position: relative;
  }
  .shipment-left {
    float: left;
    width: 85%;
    span {
      float: left;
      color: #313131;
      font-size: 13px;
      font-weight: 500;
      padding: 0px;
      margin: 0px;
    }
    .balance-selector {
      padding: 0px;
      display: inline-block;
      width: 180px;
      float: left;
      margin: -11px 0 0 0px;
      .select-text {
        // display: none;
      }
      .item-inner {
        padding: 0px;
        border: 0px;
        .input-wrapper {
          ion-select {
            padding: 0px;
            font-size: 12px;
            margin: 0px;
            color: #0596ce;
            font-weight: 500;
            max-width: 100%;
          }
          .label {
            padding: 0px;
            font-size: 11px;
            margin: 0px;
            color: #0596ce;
            font-weight: 400;
            display: none;
          }
          .select {
            padding: 0px 10px;
          }
        }

      }
    }
  }
  .sort-icon {
    float: right;
    margin: 0px;
    padding: 0px 10px 0 0;
    cursor: pointer;
    img {
      max-width: 20px;
    }
  }
  .table-heading {
    background: #0596ce;
    padding: 7px 10px;
    border-bottom: 2px solid #cccccc;
    .column {
      font-size: 13px;
      font-weight: 400;
      color: #fff;
      float: left;
      &.shipment-number {
        width: 30%;
      }
      &.payment-mode {
        width: 40%;
        box-sizing: border-box;
        padding: 0 5px;
      }
      &.amount {
        width: 30%;
      }
    }
  }
  .driver-row {
    padding: 7px 0px !important;

    .item-inner {
      padding: 0px 10px !important;
      border-bottom: 0px !important;
      margin: 0px !important;
      .input-wrapper {
        .label {
          margin: 0px 8px 0px 0;
        }
      }
    }

    .inner-column {
      float: left;
      font-size: 13px;
      font-weight: 400;
      &.name {
        color: #313131;
        width: 30%;
        font-size: 13px;
        font-weight: 400;
        span {
          display: block;
          text-align: right;
          font-size: 10px;
          color: #4b4b4b;
          padding-top: 3px;
          &.serial-number {
              position: absolute;
              top: 50%;
              left: 10px;
              padding-top: 0px;
              font-weight: 500;
              font-size: 14px;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
          }
        }
      }
      &.payment-mode {
        width: 40%;
        color: #4b4b4b;
        text-align: left;
        box-sizing: border-box;
        padding: 0 14px;
        font-size: 13px;
        font-weight: 400;
        span {
          display: block;
          text-align: left;
          font-size: 9px;
          color: #4b4b4b;
        }
      }
      &.amount {
        width: 30%;
        box-sizing: border-box;
        padding: 0 5px;
        font-size: 13px;
        font-weight: 400;
      }

    }
    .dots {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -10px;
      img {
        max-width: 5px;
      }
    }
  }
  .list {
    .driver-row  {
      border-bottom: 1px solid #cccccc;
      /*background: url('../assets/img/vertical-dots.png') 97% 18px no-repeat;*/
      &:nth-child(2n){
        background: #ebfdfe;
      }
    }
    .item-wrapper {
      &:nth-child(2n){
        .driver-row  {
          background: url('../assets/img/vertical-dots.png') 97% 18px #ebfdfe no-repeat;
        }
        &.active-slide {
          .driver-row  {
            background: #ebfdfe;
          }
        }
      }
      &.active-slide {
        .driver-row  {
          background: #fff;
        }
      }
    }
  }
  .slide-btns {
    background: url('../assets/img/horizental-dots.png') 97% 49% #0596ce no-repeat;
    padding: 0 40px 0 10px;
    .edit-btn {
      float: left;
      width: 50px;
      span{
        display: block;
        text-align: center;
        padding: 0px 0px 5px;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        padding: 0px 0 0;
        img {
          max-width: 25px;
        }
        &.call-icon {
          padding: 10px 0 2px;
          img {
            max-width: 20px;
          }
        }
        &.edit-icon {
          padding: 10px 0 2px;
          img {
            max-width: 20px;
          }
        }
        &.delete-icon {
          padding: 10px 0 2px;
          img {
            max-width: 17px;
          }
        }
      }
    }
  }
  .totals-visual {
    padding: 0 0 40px;
    .totals-row {
      padding: 0 0 10px;
      .totals-left {
        float: left;
        width: 40%;
        text-align: right;
        color: #4b4b4b;
        font-size: 13px;
        &.total {
          color: #313131;
          font-weight: 500;
        }
      }
      .totals-right {
        float: right;
        width: 40%;
        text-align: left;
        color: #0596ce;
        font-size: 13px;
        &.green {
          color: #04a200;
        }
        &.total {
          span {
            background: #0596ce;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            text-align: center;
            padding: 4px 5px 4px;
          }
        }
      }
    }
  }

}
