<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">
          <div class="title-copy">Payment</div>
      </div>
    </ion-navbar>
    <ion-toolbar>
      <div class="top-links">
        <ul class="top-nav-list">
          <li class="active" (click)="openBalance()">Pending Payments</li>
<!--           <li (click)="openWithDraw()">Withdraw</li>
          <li (click)="openCreditCard()">Credit Card</li> -->
        </ul>
      </div>

    </ion-toolbar>
    <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>


<ion-content class="vehicle-listing">

  <div class="balance-header">
    <h1>Pending Payments</h1>
    <div class="balance-holder">
      <span class="balance">{{(shipments.total_amount + shipments.cancel_amount) | currency: globalVar.current_user.country.currency + " "}}</span>
      <!-- <span class="pay-to-lorryz">Pay to Lorryz</span> -->
    </div>
  </div>
  <div class="table-heading clearfix">
    <div class="column shipment-number">Shipment No.</div>
    <div class="column payment-mode" (click)="openPaymentDetail()">Payment Mode</div>
    <div class="column amount">Amount</div>
  </div>
  <ion-list>
    <ion-item class="driver-row clearfix" *ngFor="let shipment of shipments.shipments">
      <div class="inner-column name"> <span class="serial-number">{{shipment.id}}</span> <span>{{shipment.pickup_date | date: 'MMM dd, yyyy'}}</span> </div>
      <div class="inner-column payment-mode">{{shipment.payment_option}} </div>
      <div class="inner-column amount" *ngIf="shipment.state == 'cancel'">{{shipment.cancel_charges | currency: globalVar.current_user.country.currency + " "}}</div>
            <div class="inner-column amount"  *ngIf="shipment.state == 'completed'">{{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</div>
    </ion-item>
  </ion-list>
  <div class="totals-visual">
    <div class="totals-row clearfix">
      <div class="totals-left total">Total Amount:</div>
      <div class="totals-right">{{(shipments.total_amount + shipments.cancel_amount) | currency: globalVar.current_user.country.currency + " "}}</div>
    </div>
  </div>

</ion-content>
