<!--
  Generated template for the OngoingShipmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
        <div class="page-title clearfix">OngoingShipment</div>
  </ion-navbar>
<div class="notifications-holder" (click)='showNotification()'> 
    <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
        <span class="inner">{{globalVar.current_user.notification_count}}</span>
    </div>
</div>
</ion-header>


<ion-content padding>
<div class="wrap">

   <button ion-button color="primary" outline class="btn_save" (click)=ongoingShipmentList()>NEXt</button>
 </div>
</ion-content>
