<ion-header>

  <ion-navbar>
        <div class="page-title clearfix">Shipment Detail</div>
  </ion-navbar>
  <ion-toolbar>
    <div class="top-links">
      <ul class="top-nav-list">
        <li (click)="openNew()">New</li>
        <li (click)="openPosted()" class="active">Posted</li>
        <li (click)="openOngoing()">Ongoing</li>
        <li (click)="openUpcoming()">Upcoming</li>
        <li (click)="openCompleted()">Completed</li>
      </ul>
    </div>

  </ion-toolbar>
    <!-- <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div> -->
</ion-header>


<ion-content>
  <div class="ongoing-detail-header">
    <h1>Shipment No. {{shipment.id}}</h1>
    <div class="cancel-link" (click)=cancelShipment()>Cancel</div>
    <div class="fleet-row clearfix">
        <div class="fleet-col-left">
            <div class="bids">
                <span class="bids-counter">{{bids.length}} <span>Bids</span></span>
                <span class="pickup-date">Pick Up Date</span>
                <span class="bid-amount">{{shipment.pickup_time | date: 'h:mm a'}}</span>
                <span class="bid-vehicle">{{shipment.pickup_date | date: 'MMM dd, yyyy'}}</span>

            <div *ngIf="pickupnow==true; then tb"></div>
                <ng-template #tb>
                    <div *ngIf="pick==true; then thenss"></div>
                </ng-template>

                <ng-template #thenss>
                    <div *ngIf="shipment.is_pickup_now==true; then picknow else pickuplater"></div>
                </ng-template>
                <ng-template #picknow >
                    <br>
                    <div hidden="true">

                    <span text-wrap id="secondtimer" class="pickup-date">Receiving bids in:</span>
                    <span class="bid-amount" id="time" style="color:#770a0a"></span>
                     <span class="pickup-date">(seconds)</span>
                     </div>
      <br>
                </ng-template>
                <ng-template #pickuplater >

                  <div hidden="true">
                  <br>
                    <span text-wrap id="secondtimer" class="pickup-date">Receiving bids in:</span>
                    <span class="bid-amount" id="time" style="color:#770a0a"></span>
                     <span class="pickup-date">(seconds)</span>
                    </div>      <br>

                </ng-template>


              </div>
        </div>
        <div class="fleet-col-right">
            <div class="address-outer">
                <div class="address-one">
                    {{shipment.pickup_location}}
                </div>
                <div class="address-two">
                    {{shipment.drop_location}}
                </div>
            </div>
            <!-- <div class="truck-row"> -->
            <div>

              {{shipment.no_of_vehicles}} x
              <img src="{{shipment.image}}" style="width:50px; height:auto;">

            </div>

            <div class="filter-arrow">
                <div class="" *ngIf="ascending"><img src="assets/img/up-arrow-icon-grey.png" alt="" (click)="sortBy()"></div>
                <div class="" *ngIf="!ascending"><img src="assets/img/down-arrow-icon-grey.png" alt="" (click)="sortBy()"></div>
            </div>
        </div>
    </div>
  </div>

  <div *ngIf="(companycategory == 'cargo')&&(companytype == 'individual'); then dontShowText else ShowText"></div>

  <ng-template #dontShowText>

      <p class="charges-text">* All Bid amount/rates provided here are purely transportation cost only.</p>
  </ng-template>


  <ng-template #ShowText>

  <p class="charges-text">* All Bid amount/rates provided here are purely transportation cost only. All other cost will be charged at Actual.</p>


  </ng-template>


  <div *ngIf="(companycategory == 'cargo')&&(companytype == 'individual'); then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>

        <div class="details_wrap">
              <div class="details-row clearfix">
            <div class="details-left">
              <span>Payment Mode:</span>
            </div>
            <div class="details-right">
              {{shipment.payment_option}}
            </div>
          </div>
      <div class="details-row clearfix" >
        <div class="details-left">
          <span>Cargo Description</span>
        </div>
        <div class="details-right">
          {{shipment.cargo_description}}
        </div>
      </div>
      <div class="details-row clearfix" *ngIf='shipment.weight'>
        <div class="details-left">
          <span>Cargo Weight (Tonnes)</span>
        </div>
        <div class="details-right">
          {{shipment.weight}}
        </div>
      </div>
      <div class="details-row clearfix" *ngIf='shipment.cargo_value'>
        <div class="details-left">
          <span>Cargo Value</span>
        </div>
        <div class="details-right" >
          {{shipment.cargo_value}}
        </div>
      </div>
      <div class="details-row clearfix" *ngIf='shipment.cargo_description_url'>
        <div class="details-left">
          <span>Audio Cargo Description</span>
        </div>
        <div class="details-right">
          <audio controls="controls" autobuffer="autobuffer" >
            <source [src]="getImgContent()" />
           </audio>
        </div>
      </div>
      <!-- <div class="details-row clearfix" *ngIf='shipment.cargo_packing_type'>
        <div class="details-left">
          <span>Cargo Packaging Type &nbsp;</span>
        </div>
        <div class="details-right">
          {{shipment.cargo_packing_type}}
        </div>
      </div> -->
      <div class="details-row clearfix" *ngIf='shipment.distance'>
        <div class="details-left">
          <span>Distance &nbsp;</span>
        </div>
        <div class="details-right">
          {{shipment.distance+' Km'}}
        </div>
      </div>
    </div>
    <!-- <div class="details-row clearfix" *ngIf="shipment.unloading_time">
      <div class="details-left">
        <span>Unloading Time:</span>
      </div>
      <div class="details-right">
        {{shipment.unloading_time}} hrs
      </div>
    </div> -->
    <!-- <div class="details-row clearfix">
      <div class="details-left">
        <span>Payment Mode:</span>
      </div>
      <div class="details-right">
        {{shipment.payment_option}}
      </div>
    </div> -->

    </ng-template>

    <ng-template #elseBlock>

    <div class="details_wrap">
    <div class="details-row clearfix" *ngIf="shipment.loading_time">
      <div class="details-left">
        <span>Loading / Unloading Time:</span>
      </div>
      <div class="details-right">
        {{shipment.loading_time}} hrs
      </div>
    </div>
    <div class="details-row clearfix" >
      <div class="details-left">
        <span>Cargo Description &nbsp;</span>
      </div>
      <div class="details-right">
        {{shipment.cargo_description}}
      </div>
    </div>
    <div class="details-row clearfix" *ngIf='shipment.cargo_description_url'>
      <div class="details-left">
        <span>Audio Cargo Description</span>
      </div>
      <div class="details-right">
        <audio controls="controls" autobuffer="autobuffer" >
          <source [src]="getImgContent()" />
         </audio>
      </div>
    </div>
    <div class="details-row clearfix" *ngIf='shipment.weight'>
      <div class="details-left">
        <span>Cargo Weight (Tonnes)</span>
      </div>
      <div class="details-right">
        {{shipment.weight}}
      </div>
    </div>
    <div class="details-row clearfix" *ngIf='shipment.cargo_value'>
      <div class="details-left">
        <span>Cargo Value</span>
      </div>
      <div class="details-right" >
        {{shipment.cargo_value}}
      </div>
    </div>
    <!-- <div class="details-row clearfix" *ngIf='shipment.cargo_packing_type'>
      <div class="details-left">
        <span>Cargo Packaging Type &nbsp;</span>
      </div>
      <div class="details-right">
        {{shipment.cargo_packing_type}}
      </div>
    </div> -->
    <div class="details-row clearfix" *ngIf='shipment.distance'>
      <div class="details-left">
        <span>Distance &nbsp;</span>
      </div>
      <div class="details-right">
        {{shipment.distance+' Km'}}
      </div>
    </div>
  </div>
</ng-template>

<!--
  <div class="destination-card" *ngFor="let bid of arr_bids; let i=index"  [ngClass]="bid.bids.status == 'rejected' ? 'grey' : ''">
        <img src="assets/img/verified.png"  *ngIf="bid.bids.verified" class="verified_bid">
        <div class="destination-row clearfix" >
          <div class="destination-left">

            <div *ngIf="shipment.is_pickup_now==true;then detention_not_show else detention_show"></div>

            <ng-template #detention_not_show>
            <h2 hidden="true">
                Truck Detention per day <span> {{bid.detention | currency: globalVar.current_user.country.currency + " "}}
             </span></h2>

             <h2 text-wrap class="pickup-date">Vehicle arriving in <span text-wrap >{{bid.duration}}</span></h2>

         </ng-template>

         <ng-template #detention_show>
            <h2>
                Truck Detention per day <span> {{bid.bids.detention | currency: globalVar.current_user.country.currency + " "}}
            </span></h2>

            <h2 text-wrap hidden="true" class="pickup-date">Vehicle arriving in <span text-wrap  id="dis" ></span></h2>

         </ng-template>


         <h3> {{bids[i].amount | currency: globalVar.current_user.country.currency + " "}}</h3>
            <div class="ratings-holder" *ngIf="shipment.fleet_average_rating">{{bid.bids.fleet_average_rating}}</div>
            <rating [(ngModel)]="bid.bids.fleet_average_rating"
                        readOnly="true"
                        max="5"
                        emptyStarIconName="star-outline"
                        halfStarIconName="star-half"
                        starIconName="star"
                        nullable="false">
                </rating>
                <div class="rating-count">({{bid.bids.rated_count}})</div>
          </div>
          <div class="destination-right">
            <div class="buttons-holder"  >
              <button class="submit-btn bidnow" (click)="acceptBid(bid.bids.id)" *ngIf="bid.bids.status!='accepted' && bid.bids.status!='rejected'" >Accept</button>
              <button class="submit-btn not-interest" *ngIf="bid.bids.status!='accepted' && bid.bids.status!='rejected'" (click)="rejectBid(bid.bids.id)">Not Interested</button>


            </div>
            <div class="buttons-holder" *ngIf="bid.bids.status=='accepted'">
              <button class="submit-btn bidnow"> Accepted </button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="destination-card" *ngFor="let bid of shipment.bids;let i = index"  [ngClass]="bid.status == 'rejected' ? 'grey' : ''">
        <img src="assets/img/verified.png"  *ngIf="bid.verified" class="verified_bid">
        <div class="destination-row clearfix" >
          <div class="destination-left">

            <div *ngIf="shipment.is_pickup_now==true;then detention_not_show else detention_show"></div>

            <ng-template #detention_not_show>
            <h2 hidden="true">
                Truck Detention per day <span> {{bid.detention | currency: globalVar.current_user.country.currency + " "}}
             </span></h2>

             <h2 text-wrap class="pickup-date">Vehicle arriving in <span text-wrap >{{arr_bid[i]}}</span></h2>

         </ng-template>

         <ng-template #detention_show>
            <h2>
                Truck Detention per day <span> {{bid.detention | currency: globalVar.current_user.country.currency + " "}}
            </span></h2>

            <!-- <h2 text-wrap hidden="true" class="pickup-date">Vehicle arriving in <span text-wrap  id="dis" ></span></h2> -->

         </ng-template>


         <h3> {{bid.amount | currency: globalVar.current_user.country.currency + " "}}</h3>
            <div class="ratings-holder" *ngIf="shipment.fleet_average_rating">{{bid.fleet_average_rating}}</div>
            <rating [(ngModel)]="bid.fleet_average_rating"
                        readOnly="true"
                        max="5"
                        emptyStarIconName="star-outline"
                        halfStarIconName="star-half"
                        starIconName="star"
                        nullable="false">
                </rating>
                <div class="rating-count">({{bid.rated_count}})</div>
          </div>
          <div class="destination-right">
            <div class="buttons-holder"  >
              <button class="submit-btn bidnow" (click)="acceptBid(bid.id)" *ngIf="bid.status!='accepted' && bid.status!='rejected'" >Accept</button>
              <button class="submit-btn not-interest" *ngIf="bid.status!='accepted' && bid.status!='rejected'" (click)="rejectBid(bid.id)">Not Interested</button>


            </div>
            <div class="buttons-holder" *ngIf="bid.status=='accepted'">
              <button class="submit-btn bidnow"> Accepted </button>
            </div>
          </div>
        </div>
      </div>

<!--       <div class="recursive_wrap">
          <ion-grid>
              <ion-row>
                <ion-col col-7>
                  <p class="info_txt_five">Truck Detention per day <span>AED 200</span></p>
                  <p class="info_txt_six">AED 100,000</p>
                  <p class="info_txt_seven">4.9</p>
                  </ion-col>
                  <ion-col col-5>
                    <div class="controls">
                        <button class="btn_accept">Accept</button>
                        <button class="btn_interested">Not Interested</button>
                    </div>
                    </ion-col>
                </ion-row>
              </ion-grid>
      </div> -->

</ion-content>
