<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">New Shipments</div>
</ion-navbar>
<ion-toolbar>
  <div class="top-links">
    <ul class="top-nav-list">
      <li class="active" (click)="openNew()">New</li>
      <li (click)="openActive()">Active</li>
      <li (click)="openWon()">Won</li>
      <li (click)="openOngoing()">Ongoing</li>
      <li (click)="openCompleted()">Completed</li>
    </ul>
  </div>

  </ion-toolbar>
    <!-- <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div> -->
</ion-header>


<ion-content ng-if="shipment">
    <div class="shipment-header" (click)=postedShipmentDetail()>
        <h1>{{'SHIPMENT_NO'| translate}}  {{shipment.id}}</h1>
        <!-- <div class="list-call-icon">Contact Fleet</div> -->
        <div class="fleet-row clearfix">
                <div class="fleet-col-left">
                    <div class="bids" *ngIf="shipment.best_bid && shipment.best_bid.amount">
                        <span>{{'BEST_BID' | translate}}</span>
                        <span class="bid-amount">{{globalVar.current_user.country.currency}}  {{shipment.best_bid ? shipment.best_bid.amount: 0}}</span>
                        <span class="bid-vehicle">{{shipment.best_bid.amount/shipment.no_of_vehicles | currency: globalVar.current_user.country.currency + " "}}/Vehicle</span>
                    </div>
                    <div class="buttons-holder">

                    </div>
                    <div class="pickup-date">
                        <span>{{'PICKUP_DATE' | translate}}</span>
                        <span class="date">{{shipment.pickup_time | date: 'h:mm a'}}</span>
                        <span class="date">{{shipment.pickup_date | date: 'MMM dd, yyyy'}}</span>
                      <br>
                       <div *ngIf="pickupnow==true; then thenBlock"></div>

                       <ng-template #thenBlock>

                        <div *ngIf="shipment.is_pickup_now == true; then picknow else pickuplater"></div>

                      </ng-template>

                        <ng-template #picknow>
                          <span>{{'TIME_REMAINING' | translate}}</span>
                          <span id="timess" class="date" style="color:#770a0a"></span>
                          <br><span>{{'BIDS_LEFT' | translate}}</span>
                          <span class="date" id="count"></span>
  <br>                    <span>{{'SHIPMENT_DURATION' | translate}}</span>
                          <span id="dis" class="date" ></span>

                        </ng-template>

                        <ng-template #pickuplater>

                        <div hidden="true">

                          <span>{{'TIME_REMAINING' | translate}}</span>
                          <span id="timess" class="date" style="color:#770a0a"></span>
                          <br><span>{{'BIDS_LEFT' | translate}}</span>
                          <span class="date" id="count"></span>
  <br>                    <span>{{'SHIPMENT_DURATION' | translate}}</span>
                          <span id="dis" class="date" ></span>
                        </div>

                        </ng-template>


                    </div>
                </div>
                <div class="fleet-col-right">
                    <div class="address-outer">
                        <div class="address-one">
                             {{shipment.pickup_location}}
                        </div>
                        <div class="address-two">
                             {{shipment.drop_location}}
                        </div>
                    </div>
                    <div class="truck-row">
                         {{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}
                    </div>

                </div>
            </div>
    </div>
    <div *ngIf="(company_category == 'fleet')&&(company_type == 'individual'); then dontShowText else ShowText"></div>
    <ng-template #dontShowText>
       <p class="charges-text">{{'FLEET_LONG_MSG' | translate}}</p>
    </ng-template>
    <ng-template #ShowText>
      <p class="charges-text">* All Bid amount/rates provided here are purely transportation cost only. All other cost will be charged at Actual.</p>
  </ng-template>
    <div class="details_wrap">
          <div class="details-row clearfix">
            <div class="details-left">
              <!-- <span>{{'CARGO_DETAILS' | translate}}</span> -->
              <span>Cargo Description</span>
            </div>
            <div class="details-right">
              {{shipment.cargo_description}}
            </div>
          </div>
          <div class="details-row clearfix" *ngIf='shipment.cargo_description_url'>
            <div class="details-left">
              <span>Audio Cargo Description</span>
            </div>
            <div class="details-right" >
              <audio controls="controls" autobuffer="autobuffer" >
                <source [src]="getImgContent()" />
               </audio>
            </div>
          </div>
          <div class="details-row clearfix" *ngIf='shipment.weight'>
            <div class="details-left">
              <span>Cargo Weight </span>
            </div>
            <div class="details-right">
              {{shipment.weight }} Tonnes
            </div>
          </div>
          <div class="details-row clearfix" *ngIf='shipment.cargo_value'>
            <div class="details-left">
              <span>Cargo Value</span>
            </div>
            <div class="details-right" >
              {{shipment.cargo_value}}
            </div>
          </div>
          <div class="details-row clearfix">
            <div class="details-left">
              <span>{{'RATINGS' | translate}}</span>
            </div>
            <div class="details-right">
              {{shipment.cargo_company_rating}}
            </div>
          </div>
          <div class="details-row clearfix" *ngIf="shipment.loading_time">
            <div class="details-left">
              <span>{{'LOADING_TIME' | translate}}</span>
            </div>
            <div class="details-right">
              {{shipment.loading_time}} hrs
            </div>
          </div>
          <div class="details-row clearfix" *ngIf="shipment.unloading_time">
            <div class="details-left">
              <span>{{'UNLOADING_TIME' | translate}}</span>
            </div>
            <div class="details-right">
              {{shipment.unloading_time}} hrs
            </div>
          </div>
          <div class="details-row clearfix" *ngIf='shipment.is_pickup_now'>
            <div class="details-left">
              <span>{{'PAYMENT_MODE' | translate}}</span>
            </div>
            <div class="details-right">
              {{shipment.payment_option}}
            </div>
          </div>
          <div *ngIf="(company_category == 'fleet')&&(company_type == 'individual'); then dontShowPackaging else showPackaging"></div>
           <ng-template #dontShowPackaging>
             <div class="details-left" hidden>
                <span>Packaging Type:</span>
             </div>
            <div class="details-right" hidden>
              {{shipment.cargo_packing_type}}
            </div>
            </ng-template>

        <ng-template #showPackaging>
          <div class="details-row clearfix">
            <div class="details-left">
              <span>Packaging Type:</span>
              </div>
              <div class="details-right">
            {{shipment.cargo_packing_type}}
          </div>
        </div>
      </ng-template>

          <div class="details-row clearfix">
            <div class="details-left">
              <span>{{'NO_OF_VEHICLES' | translate}}</span>
            </div>
            <div class="details-right">
              {{shipment.no_of_vehicles}}
            </div>
          </div>
          <div class="details-row clearfix"  *ngIf="shipment.best_bid && shipment.best_bid.amount">
            <div class="details-left">
              <span>{{'BEST_BID' | translate}}</span>
            </div>
            <div class="details-right" *ngIf="shipment.best_bid && shipment.best_bid.amount">
              <span>{{shipment.best_bid ? shipment.best_bid.amount: 0}}</span>
            </div>
          </div>
          <div class="details-row clearfix">
            <div class="details-left">
              <span *ngIf="!lock">{{'YOUR_TOTAL_BID' | translate}}</span>
              <span *ngIf="lock == true">{{'ESTIMATED_APPROX_FARE' | translate}}</span>
            </div>
            <div class="details-right yourbid clearfix">
              <span *ngIf="!lock">{{globalVar.current_user.country.currency}}</span>
              <span *ngIf="lock == true"> {{bid.amount | currency: globalVar.current_user.country.currency + " "}}</span>
              <ion-input  type="number" [(ngModel)]="bid.amount" name="amount" class="input_text" clearOnEdit="true" clearInput="true" placeholder="0" *ngIf="!lock"></ion-input>

            </div>
          </div>
          <div *ngIf="pickupnow == true; then sh else el"></div>

          <ng-template #sh >
              <div class="details-row clearfix" *ngIf="shipment.process == 'bidding'" hidden="true">
                  <div class="details-left">
                    <span>{{'WAITNG_DESCRIPTION' | translate}}</span>
                  </div>
                  <div class="details-right yourbid clearfix">
                    <span>{{globalVar.current_user.country.currency}}</span>
                    <ion-input type="number" [(ngModel)]="bid.detention" name="detention" class="input_text" clearOnEdit="true" clearInput="true" placeholder="0"></ion-input>
                  </div>
                </div>

          </ng-template>


      <ng-template #el>

        <div class="details-row clearfix" *ngIf="shipment.process == 'bidding'">
              <div class="details-left">
                <span>{{'WAITNG_DESCRIPTION' | translate}}</span>
              </div>
              <div class="details-right yourbid clearfix">
                <span>{{globalVar.current_user.country.currency}}</span>
                <ion-input type="number" [(ngModel)]="bid.detention" name="detention" class="input_text" clearOnEdit="true" clearInput="true" placeholder="0"></ion-input>
              </div>
            </div>

      </ng-template>


            <div class="details-row clearfix" *ngIf="shipment.process == 'prorate'" hidden="true">
              <div class="details-left">
                    <span>{{'WAITNG_DESCRIPTION' | translate}}</span>
                  </div>
                  <div class="details-right yourbid clearfix">
                    <span></span>
                    <span> {{bid.detention | currency: globalVar.current_user.country.currency + " "}}</span>
                  </div>
              </div>

              <div class="details-row clearfix" *ngIf="shipment.process == 'prorate'">
                  <div class="details-left">
                    <span>{{'WAITNG_DESCRIPTION' | translate}}</span>
                  </div>
                  <div class="details-right yourbid clearfix">
                    <span></span>
                    <span> {{bid.detention | currency: globalVar.current_user.country.currency + " "}}</span>
                  </div>
                </div>


          <div *ngIf="pickupnow == true; then thenBl else elseBl"></div>

          <ng-template #thenBl>

            <div *ngIf="shipment.is_pickup_now == true; then pick_now else picklater"></div>

          </ng-template>

          <ng-template #pick_now>
            <div class="buttons-holder">
              <button class="submit-btn not-interest" (click)="notInterested(shipment.id)">{{'NOT_INTERESTED' | translate}}</button>
              <button  id="butt" class="submit-btn bidnow"  (click)="addItem()">{{'SUBMIT_BID' | translate}}</button>
            </div>

          </ng-template>


          <ng-template #picklater>

            <div class="buttons-holder">
              <button class="submit-btn not-interest" (click)="notInterested(shipment.id)">{{'NOT_INTERESTED' | translate}}</button>
              <button  class="submit-btn bidnow"  (click)="addItem()">{{'SUBMIT_BID' | translate}}</button>
            </div>
            <button  id="butt" hidden="true" class="submit-btn bidnow"  (click)="addItem()">Submit Bid</button>
          </ng-template>



          <ng-template #elseBl>
            <div class="buttons-holder">
              <button class="submit-btn not-interest" (click)="notInterested(shipment.id)">{{'NOT_INTERESTED' | translate}}</button>
              <button  class="submit-btn bidnow" (click)="addItem()">{{'SUBMIT_BID' | translate}}</button>
            </div>

          </ng-template>

      </div>
</ion-content>
