page-posted-shipment {

  .fleet-card {
      -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
      -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
      box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
      background: #fff;
      position: relative;
      padding: 10px 10px 0;
      margin: 0 0 25px;
      &:before {
          content: "";
          top: 0px;
          left: 0px;
          width: 10px;
          position: absolute;
          height: 100%;
          background: #e84f14;
          /* Old browsers */
          background: -moz-linear-gradient(top, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e84f14', endColorstr='#e84f14', GradientType=0);
          /* IE6-9 */
      }
      h1 {
          color: #353535;
          font-weight: 500;
          font-size: 15px;
          padding: 7px 0 15px 15px;
          margin: 0px;
      }
  }
  .fleet-row {
      padding: 0 0 5px 0px;
      .fleet-col-left {
          float: left;
          width: 35%;
          box-sizing: border-box;
          padding: 0 5px 0 5px;
          .bids {
              padding: 0 0 15px;
              span {
                  display: block;
                  font-size: 14px;
                  color: #353535;
                  font-weight: 300;
                  text-align: center;
                  padding: 0px 0px 2px;
                  &.bids-counter {
                    padding-bottom: 15px;
                    font-size: 25px;
                    font-weight: 300;
                    span {
                      display: block;
                      font-size: 14px;
                    }
                  }
                  &.pickup-date {
                    font-size: 12px;
                    color: #353535;
                  }
                  &.bid-amount {
                      font-weight: 500;
                      color: #353535;
                      font-size: 14px;
                  }
                  &.bid-vehicle {
                      font-weight: 500;
                      color: #353535;
                      font-size: 12px;
                  }
              }
          }
      }
      .fleet-col-right {
          float: right;
          width: 65%;
          box-sizing: border-box;
          padding: 0 5px 0 20px;
          border-left: 1px solid #7d7d7d;
          .address-outer {
              padding: 0 0px 10px;
              position: relative;
          }
          .distance-holder {
              font-size: 11px;
              color: #353535;
              position: absolute;
              top: 27px;
              left: -23px;
              webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
              font-weight: 500;
          }
          .address-one {
              padding: 0 0 10px 15px;
              margin-bottom: 5px;
              color: #353535;
              font-size: 12px;
              font-weight: 400;
              position: relative;
              background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
              &:before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  top: 0px;
                  left: -7px;
                  background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
                  background-size: 16px 16px;
              }
          }
          .address-two {
              padding: 0 0 0px 15px;
              color: #353535;
              font-size: 12px;
              font-weight: 400;
              position: relative;
              span {
                  display: block;
                  font-size: 14px;
                  font-weight: 400;
              }
              &:before {
                  content: "";
                  width: 16px;
                  height: 26px;
                  position: absolute;
                  top: -3px;
                  left: -7px;
                  background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
                  background-size: 16px 26px;
              }
          }
          .truck-row {
              padding: 0px 0 20px 38px;
              background: url('../assets/img/truck.png') 0px 4px no-repeat;
              background-size: 35px 21px;
              margin-left: -15px;
              font-size: 12px;
              font-weight: 400;
              color: #353535;
          }
          .pickup-date {
              font-size: 13px;
              color: #353535;
              font-weight: 400;
              span {
                  font-weight: 300;
                  display: block;
              }
          }
      }
  }
  .buttons-holder {
      padding: 0 5px;
  }
  .submit-btn {
      background: #0094b9;
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      cursor: pointer;
      padding: 7px 10px;
      display: block;
      box-sizing: border-box;
      width: 100%;
      &.bidnow {
          margin-bottom: 10px;
          border: 1px solid #0094b9;
          &:hover {
              background: #019ca6;
          }
      }
      &.not-interest {
          background: white;
          border: 1px solid #707070;
          color: #707070;
      }
      &:hover {
          background: #019ca6;
          color: #fff;
          @include transitions(0.5s);
          border: 1px solid #019ca6;
      }

  }

    .edit-icon{
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        cursor: pointer;
    }
    .cancel_text{
      font-size: 8px;
      color: #770a0a;
      float: right;
      font-weight: 500;
    }
    .title-copy {
        display: inline-block;
        float: left;
    }
    .filter-arrow-holder {
        display: inline-block;
        margin: 0px 0px 0px 11px;
        position: relative;
        float: left;
        cursor: pointer;
        img {
            width: 20px;
        }
        div {
            @include transitions(0.5s);
        }
    }
}
