<!--
  Generated template for the PostedShipmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <div class="page-title clearfix">
            <div class="title-copy">Posted Shipment</div>
            <div class="filter-arrow-holder">
                <div *ngIf="ascending"><img src="assets/img/up-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
                <div *ngIf="!ascending"><img src="assets/img/down-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
            </div>
        </div>
  </ion-navbar>


  <ion-toolbar>
    <div class="top-links">
      <ul class="top-nav-list">
        <li (click)="openNew()">New</li>
        <li (click)="openPosted()" class="active">Posted</li>
        <li (click)="openOngoing()">Ongoing</li>
        <li (click)="openUpcoming()">Upcoming</li>
        <li (click)="openCompleted()">Completed</li>
      </ul>
    </div>
  </ion-toolbar>
<div class="notifications-holder" (click)='showNotification()'>
    <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
        <span class="inner">{{globalVar.current_user.notification_count}}</span>
    </div>
</div>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="shipments.length == 0 && loaded"> No Shipments are available currently under this state.</div>
  <div class="fleet-card" *ngFor="let shipment of shipments">
    <h1 (click)=postedShipmentDetail(shipment.id)>Shipment No. {{shipment.id}}</h1>
    <ion-icon class="edit-icon" name="create" (click)=editShipment(shipment.id)></ion-icon>
    <div class="fleet-row clearfix" (click)=postedShipmentDetail(shipment.id)>
        <div class="fleet-col-left">
            <div class="bids">
                <span class="bids-counter">{{shipment.bids.length}} <span>Bids</span></span>
                <span class="pickup-date">Pick Up Date</span>
                <span class="bid-amount">{{shipment.pickup_time | date: 'h:mm a'}}</span>
                <span class="bid-vehicle">{{shipment.pickup_date | date: 'MMM dd, yyyy'}}</span>
              </div>
        </div>
        <div class="fleet-col-right">
            <div class="address-outer">
                <div class="address-one">
                    {{shipment.pickup_location}}
                </div>
                <div class="address-two">
                    {{shipment.drop_location}}
                </div>
            </div>
            <!-- <div class="truck-row"> -->
            <div>
                  {{shipment.no_of_vehicles}} x
                  <img src="{{shipment.image}}" style="width:50px; height:auto;">
            </div>
            <!-- <div>
              <span class="cancel_text">{{shipment.cancel_penalty}} AED Penalty charges will apply for cancellation within 24 hours of shipment pick up date</span>
            </div> -->
        </div>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <div class="wrap" (click)=postedShipmentDetail()>
      <div class="color_red"></div>
      <p class="ship_no">Shipment No. 20180328000001</p>
      <ion-grid>
          <ion-row>
            <ion-col col-4>
                <span class="number">13</span>
                <span class="info_text_one">Bids<br/><br/>Pick up Date</span>
                <span class="info_text_two">10:00 am</span>
                <span class="info_text_three">May 3rd, 2018</span>
              </ion-col>
            <ion-col col-8>
              <div class="inner_wrap">
                  <img src="assets/img/destination_range.png" class="range_destination_icon"/>
                  <div class="txt_wrap">
                    <p>Alfurqan Mall (Doha)
                      <span>Al Mafraq Rd.</span>
                    </p>
                    <p>The Dubai Mall (Dubai)
                      <span>Financial Center Rd.</span>
                    </p>
                </div>
                  <img src="assets/img/truck.png" class="truck_icon"/>
                  <p class="info_txt_four">4 x Dyna Trucks - 1.5 Tons</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div> -->
</ion-content>
