page-completed-shipment-detail {
	.details-page {
	  background: #f2fcfd;
	}
	#map {
	  width: 100%;
	  height: 300px;
	}
	.details-header {
	  background: #f2fcfd;
	  padding: 15px;
	  h1 {
	      color: #353535;
	      font-weight: 500;
	      font-size: 14px;
	      padding: 0 0 10px;
	      margin: 0px;
	      line-height: 22px;
	      span {
	        /*display: block;*/
	      }
	  }
	  .payment-col {
	    position: absolute;
	    top: 15px;
	    right: 15px;
	    text-align: right;
	    span {
	      display: block;
	      font-size: 13px;
	      padding: 0 0 3px;
	      font-weight: 500;
	      &.aed {
	        color: #0090ca;
	      }
	      &.card-name {
	        color: #01a900;
	      }
	      &.status {
	        color: #333333;
	        text-decoration: underline;
	        &.pending {
	          color: #b8001b;
	        }
	      }
	    }
	  }
	}
	.status-holder {
	  font-size: 13px;
	  font-weight: 500;
	  padding: 0 0 15px;
	  span {
	    padding-left: 5px;
	    &.completed {
	      color: #1daf0f;
	    }
	    &.canceled {
	      color: #c0293e;
	    }
	  }
	}
	.fleet-row {
	    padding: 0 0 0px 0px;
	    .fleet-col-left {
	        float: left;
	        width: 35%;
	        box-sizing: border-box;
	        padding: 0 5px 0 5px;
	        .pickup-date {
	          font-size: 13px;
	          padding: 0 0 20px;
	          span{
	            display: block;
	            text-align: center;
	            color: #686868;
	            font-weight: 300;
	            font-weight: 12px;
	            &.date {
	              color: #212020;
	              font-weight: 500;
	              font-weight: 13px;
	            }
	          }
	        }
	    }
	    .fleet-col-right {
	        float: right;
	        width: 65%;
	        box-sizing: border-box;
	        padding: 0 5px 10px 20px;
	        border-left: 1px solid #7d7d7d;
	        .address-outer {
	            padding: 0 0px 5px;
	            position: relative;
	        }

	        .address-one {
	            padding: 0 0 10px 15px;
	            margin-bottom: 5px;
	            color: #353535;
	            font-size: 12px;
	            font-weight: 400;
	            position: relative;
	            background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
	            &:before {
	                content: "";
	                width: 16px;
	                height: 16px;
	                position: absolute;
	                top: 0px;
	                left: -7px;
	                background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
	                background-size: 16px 16px;
	            }
	            .enroute {
	              padding: 15px 0 0px;
	              span {
	                display: block;
	                font-size: 12px;
	                font-weight: 400;
	                color: #0597ce;
	                &.destination {
	                  color: #848484;
	                  font-size: 11px;
	                }
	              }
	            }
	        }

	        .address-two {
	            padding: 0 0 10px 15px;
	            color: #353535;
	            font-size: 12px;
	            font-weight: 400;
	            position: relative;
	            span {
	                display: block;
	                font-size: 14px;
	                font-weight: 400;
	            }
	            &:before {
	                content: "";
	                width: 16px;
	                height: 26px;
	                position: absolute;
	                top: -3px;
	                left: -7px;
	                background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
	                background-size: 16px 26px;
	            }
	        }
	        .truck-row {
	            padding: 0px 0 20px 38px;
	            background: url('../assets/img/truck.png') 0px 0px no-repeat;
	            background-size: 35px 21px;
	            margin-left: -15px;
	            font-size: 12px;
	            font-weight: 400;
	            color: #353535;
	        }

	    }
	}
	.map-holder {
	  padding: 0 0 10px;
	  img {
	    max-width: 100%;
	  }
	}
	.drivers-holder {
	  padding: 15px 10px 15px;
	  .driver {
	    display: inline-block;
	    width: 48%;
	    box-sizing: border-box;
	    padding: 0 0 15px;
	    span {
	      color: #1a1919;
	      font-weight: 400;
	      font-size: 12px;
	      display: inline-block;
	      padding: 0 0 3px;
	      &.booking-number {
	        border: 1px solid #737373;
	        background: #fff;
	        padding: 2px 10px;
	        display: inline-block;
	        font-weight: 400;
	        font-size: 10px;
	      }
	    }
	  }
	}
	.fleet-owner-name{
		text-align: center;
	}
	.ratings-holder {
	  padding: 0 0 20px;
	  h3 {
	    font-size: 12px;
	    text-align: center;
	    padding: 0 0 5px;
	    margin: 0 0 0;
	    color: #656565;
	    font-weight: 300;
	  }
	  .stars-holder {
	    max-width: 300px;
	    margin: 0 auto;
	    text-align: center;
	  }
	}
	.remarks-heading {
    font-size: 12px;
    text-align: center;
    padding: 0 0 15px;
    margin: 0 0 0;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 21px;
  }
  ul.rating {
    display: block;
    margin: 0px;
    padding: 0px;
    li {
      padding: 0px;
	  ion-icon {
		&.ion-ios-star {
			color: #ffc300;
		}
		&.ion-md-star {
			color: #ffc300;
		}
	  }
    }
  }
  ul.rating[_ngcontent-c0] li[_ngcontent-c0] {
    padding: 5px 1px;
  }
}
