page-driver-edit-profile {
ion-header {
	    height: 110px;
	    ion-title {
	      bottom: 12px;
	    }
	    .title-ios {
	      bottom: -6px !important;
	    }
	  }
	  .header {
	    border-bottom: 2px solid #787878;
	    .toolbar-title {
	      font-size: 24px !important;
	    }
	  }

	  .back-arrow {
	    background: none;
	    border: 0px;
	    cursor: pointer;
	    float: left;
	    margin: 3px 12px 0 0;
	    .ion-md-arrow-back{
	      display: inline-block;
	      &:before{
	        color: white;
	        font-size: 25px;
	      }
	    }
	    .ion-ios-arrow-back {
	      display: inline-block;
	      &:before{
	        color: white;
	        font-size: 25px;
	      }
	    }
	    .title-ios {
	      border-bottom: 0px;
	    }
	  }
	  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
	    border-width: 0px;
	  }
	  .driver-picture-holder {
	    .welcome_p {
	      font-size: 15px;
	      line-height: 22px;
	      padding: 7px 0 0;
	    }
	    .picture-thumbnail {
	      text-align: center;
	      padding: 15px 0px 0 0;
	      img {
	        max-width: 70px;
	        padding: 0 0 7px;
	      }
	      p {
	        font-size: 11px;
	        font-weight: 400;
	        text-align: center;
	      }
	    }
	  }
	  .form-holder {
	    .item {
	      padding: 0 15px;
	      .item-inner {
	        border-bottom: 1px solid #9a9a9a;
	      }
	    }
	    .floating-label {
	      font-size: 15px;
	      font-weight: 500;
	      span.staric {
	        color: #ca0000;
	        font-size: 15px;
	        display: inline-block;
	        padding: 0 5px 0 0;
	      }
	    }
	  }
	  .thumb{
	        width:75px;
	        height:75px;
	        margin-bottom: 15px;
	        // margin: 0 auto;
	        // display: table;
	    }

	  .pic_text{
		  font-size: 11px;
     max-width: 75px;
     text-align: center;

	      .sterik{
	          color:#ca0000;
	      }
	  }
	  ion-label{
	      color:#000 !important;
	  }
	    .sterik{
	        color:#ca0000;
	    }

	    .file_icon_p{
	        padding:0 15px;
	        font-size:12px;
	        color:#888585;
	        margin: 30px 0;

	        img{
	            width:30px;
	            vertical-align: middle;
	            margin-right: 8px;
	        }

	    }
	    .checkbox_wrap{
	        padding:15px;

	        .checkbox_item{
	            position: absolute;
	        }

	        p{
	            span{
	                margin-left: 25px;
	                display: inline-block;
	                font-size:12px;
	                color:#888585;

	            }
	        }

	        .checkbox-md-dark .checkbox-checked{
	            color:#3e6ee0;
	        }
	    }
	    .btn_save{
	        width:100%;
	        background-color:#3e6ee0;
	        color:#fff;
	        margin: 0;
	        padding: 20px 0;
	        border-radius: 0;
	        font-size:16px;
	    }
	    .calendar_bg{
	            background:url('../assets/img/calendar_icon_00.png') no-repeat;
	            background-position: right;
	            background-size: 15px;
	        }
	        .image-label {
	          position: relative;
	          padding: 15px 0 30px 15px;
	          font-size: 15px;
	          overflow: visible;
	          span {
	            display: inline-block;
	            &.staric {
	              color: #ca0000;
	              font-weight: 500;
	              position: absolute;
	              top: 10px;
	              left: 0px;
	              font-size: 15px;
	            }
	            &.pinpoint {
	              float: left;
	              width: 40px;
	              margin: 0 10px 0 0;
	              img {
	                max-width: 100%;
	              }
	            }
	          }

	        }
	        .image-label-outer {
	          ion-label {
	            white-space: inherit;
	          }
	          .wrap-images{
	            margin: 0 auto;
	            width: 80%;

	          }
	          .recursive_wrap{
	              position: relative;
	              float: left;
	              width: 75px;
	              margin: 0 20px 20px 0;
	              img{
	                width: 100%;
	                height: 75px;
	              }
	              .delete-img{
	                position: absolute;
	                top: -10px;
	                right: -10px;
	                background: #382121;
	                border-radius: 15px;
	                width: 21px;
	                height: 21px;
	                img{
	                  width: 100%;
	                  height: 21px;
	                }
	              }
	            }
	        }
	        .image-placeholders {
	          padding: 0 0 0 20px;
	          box-sizing: border-box;
	          width: 100%;
	          span {
	            width: 100px;
	            height: 100px;
	            background: #c3c3c3;
	            display: inline-block;
	            margin-right: 15px;
	            img {
	              width: 100%;
	              height: 100px;
	            }
	          }
	        }
	        .button-holder {
	          padding: 50px 0 0;
	          .add-driver{
	            background: #0596ce;
	            padding: 15px 50px;
	            display: inline-block;
	            color: white;
	            font-size: 15px;
	            font-weight: 500;
	            width: 100%;
	            box-sizing: border-box;
	            margin: 0px;
	            height: 50px;
	            text-transform: none;
	          }
	        }

	    .password-fields-holder {
	        background: #cecece;
	        padding: 20px 10px 20px;
	        margin: 20px 0 0;
	        h4 {
	            font-size: 15px;
	            font-weight: 500;
	            padding: 0 0 15px;
	            margin: 0px;
	        }
	        & .item {
	            padding: 0px 15px 0 15px;
	            &:last-child{
	                border-bottom: 0px;
	                padding-bottom: 25px;
	            }
	        }
	    }
}
