<ion-header>

  <ion-navbar>

  <div class="page-title clearfix">
    <div class="title-copy">Shipment Documents</div>
  </div>
</ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      Upload Shipment Document
    </ion-card-header>
    <ion-card-content>
      <div  style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top: 5%;">Upload a File</div>

      <p class="file_icon_p" (click)="presentActionSheetForDocuments()"><img src="assets/img/file_attach_icon.png" class="file_icon"/> Attach Documents</p>

      <!-- <button *ngIf="!documentToUpload" (click)="presentActionSheetForDocuments()" block round ion-button color="primary" style="margin-top: 3%;">
       <ion-icon name="attach" item-left></ion-icon>
       <ion-label>Attach File</ion-label>
     </button> -->

     <div *ngIf="documentToUpload">
      <ion-grid>
        <ion-row *ngFor="let image of image">
          <ion-col col-3>
           <img src="assets/img/pdf1.jpg">
          </ion-col>
          <ion-col col-9>
            <ion-label text-wrap>{{image}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
     </div>


         <button ion-button block color="primary" (click)="upload2aws()" [disabled]='disbaled()' style="margin-top: 5%;">SUBMIT</button>
    </ion-card-content>
  </ion-card>

  <ion-grid >
    <ion-row (click)="downloadAndOpenPdf(pdf)" *ngFor="let pdf of pdfDocuments;let i=index">
      <ion-col col-3>
        <img src="assets/img/pdf1.jpg">
       </ion-col>
       <ion-col col-9 style="margin-top: 4%;">
         <ion-label text-wrap>Pod-{{i+1}}</ion-label>
       </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
