page-pdf-upload {
  .file_icon_p{
    padding:0 15px;
    font-size:12px;
    color:#888585;
    margin: 30px 0;

    img{
        width:30px;
        vertical-align: middle;
        margin-right: 8px;
    }

}
}
