<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-navbar>
    <div class="page-title clearfix">Notifications</div>
    <!-- <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div> -->
</ion-header>

<ion-content class="old-lace">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let notification of notifications" (click)='notificationDetail(notification)'>
      <ion-avatar item-start>
        <img class="notification-img" src="assets/img/truck.png">
      </ion-avatar>
      <h2 class="notification-text">{{notification.body}}</h2>
      <p class="notification-text">{{notification.creation_time}}</p>
    </ion-item>
  </ion-list>

    <h2 *ngIf="notifications.length == 0 && loading" class="notifications-heading">There are no notifications available at this time</h2>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
