page-notification {
ion-header {
    height: 120px;
    ion-title {
        position: relative !important;
        width: 100% !important;
        bottom: initial !important;
        top: initial !important;
        padding: 0px 15px 0px 15px !important;
        margin-top: -20px;
    }
    .title-ios {
        position: relative !important;
        width: 100% !important;
        bottom: initial !important;
        top: initial !important;
        padding: 0px 15px 0px 15px !important;
        margin-top: -20px;
    }
}

.notification-text{
  white-space: normal;
  font-size: 12px;
}
.notification-img{
  object-fit: contain;
}

h2.notifications-heading {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 50px 20px;
    color: #9e1111;
}
}
