page-edit-shipment {
	form{
    margin-top:15px;
}

  .sterik{
      color:#ca0000;
      position: absolute;
      top: 15px;
  }
	.text-input{
	    font-size: 12px;
	    font-weight: bold;
		box-sizing: border-box;
		width: 100%;
		padding: 0 25px 0 0;
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
		direction: ltr;
	}
  .select{
      width:100%;
      max-width: 100%;
      font-size: 12px;
      font-weight: bold;
  }
  .label{
      margin:0 !important;
    }
    .item{
        border-bottom:0 !important;
        padding: 10px 15px;
    }

    .info_text{
        text-align: center;
        padding:10px;
        span{
            color:#e84f14;
        }
    }
  .btn_post_request{
      background-color:#e84f14;
      color:#fff;
      width:100%;
      border-radius: 0;
      padding: 28px 0;
      margin: 0;
      font-size:16px;
      text-transform: uppercase;
  }

  .col_6{
      float:left;
  }

  .pin_bg{
      background:url('../assets/img/blue_pin_icon.png') no-repeat;
      background-position: right;
      background-size: 15px;
	  padding-right: 25px;
  }
  .calendar_bg{
      background:url('../assets/img/calendar_icon_00.png') no-repeat;
      background-position: right;
      background-size: 15px;
  }

  .clock_bg{
      background:url('../assets/img/clock_icon.png') no-repeat;
      background-position: right;
      background-size: 15px;
  }
  .list-ios > .item-block:first-child{
      border:none;
  }

  .datetime{
      padding:7px;
  }
  .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input {
	  margin-left: 4px;
	  width: 100%;
  }
  .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
	  margin-left: 4px;
	  width: 100%;
  }

}
