<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">Withdraw Payment</div>
    </ion-navbar>
    <ion-toolbar>
      <div class="top-links">
        <ul class="top-nav-list">
          <li (click)="openBalance()">Balance</li>
          <li class="active" (click)="openWithDraw()">Withdraw</li>
          <li (click)="openCreditCard()">Credit Card</li>
        </ul>
      </div>

    </ion-toolbar>

</ion-header>


<ion-content padding>

</ion-content>
