<!--
  Generated template for the CompanyInformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <div class="page-title clearfix">
            <div class="title-copy">{{globalVar.current_user.role=='cargo_owner'? 'Cargo' : 'Fleet' }} Owner <span>(Company)</span></div>
        </div>
    </ion-navbar>
</ion-header>

  <ion-content>
  	<div class="wrap">
      <ion-grid>
        <ion-row>
          <ion-col col-8 padding>
            <p class="welcome_p"><strong>Welcome,  {{ this.globalVar && this.globalVar.current_user ? this.globalVar.current_user.first_name+" "+ globalVar.current_user.last_name : ''}}!</strong>Please complete your profile to proceed.</p>
          </ion-col>

            <ion-col col-4  (click)="presentActionSheet()">
            <img src="{{selected_avatar}}" *ngIf="selected_avatar" alt="user avatar" class="thumb">
            <img src="assets/img/pic_upload_icon.png" class="thumb" *ngIf="!selected_avatar"/>
              <p class="pic_text">Company Logo</p>
            </ion-col>
        </ion-row>
      </ion-grid>

      <form name="company_information" #form="ngForm">
        <ion-list>

          <ion-item>
            <ion-label class="required" floating >{{ 'COMPANY_NAME' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="name"  required name="name" #_name="ngModel"  ></ion-input>
          </ion-item>

          <div *ngIf="(_name.dirty || _name.touched)"
          class="alert alert-danger">
            <span *ngIf="_name.errors">
                <span [hidden]="!_name.errors.required" class="inner_span">
                    <ion-label style="color: red; margin-left: 16px;"> Company Name is required </ion-label>
                </span>
            </span>
          </div>
          <ion-item [hidden]="true">
            <ion-label class="required" floating >{{ 'COMPANY_ADDRESS' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="address"  required name="address" #_address="ngModel" ></ion-input>
          </ion-item>

          <div *ngIf="(_address.dirty || _address.touched)"
          class="alert alert-danger">
            <span *ngIf="_address.errors">
                <span [hidden]="!_address.errors.required" class="inner_span">
                    <ion-label style="color: red; margin-left: 16px;"> Address is required </ion-label>
                </span>
            </span>
          </div>

          <ion-item [hidden]="true">
            <ion-label class="required" floating >{{ 'COMPANY_LANDLINE_NO' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="landline_no"  required name="landline_no" #_landline_no="ngModel" ></ion-input>
          </ion-item>

          <div *ngIf="(_landline_no.dirty || _landline_no.touched)"
          class="alert alert-danger">
            <span *ngIf="_landline_no.errors">
                <span [hidden]="!_landline_no.errors.required" class="inner_span">
                    <ion-label style="color: red; margin-left: 16px;"> landline Number is required </ion-label>
                </span>
            </span>
          </div>

          <ion-item [hidden]="true">
            <ion-label class="" floating >{{ 'COMPANY_WEBSITE_ADDRESS' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="website_address" name="website_address" #_website_address="ngModel" ></ion-input>
          </ion-item>

          <div *ngIf="(_website_address.dirty || _website_address.touched)"
          class="alert alert-danger">
            <span *ngIf="_website_address.errors">
                <span [hidden]="!_website_address.errors.required" class="inner_span">
                    <ion-label style="color: red; margin-left: 16px;"> Website Address is required </ion-label>
                </span>
            </span>
          </div>

          <ion-item [hidden]="true">
            <ion-label class="required" floating >{{ 'COMPANYS_LICENSE_NUMBER' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="license_number" required name="license_number" #_license_number="ngModel" placeholder=""></ion-input>
          </ion-item>

          <div *ngIf="(_license_number.dirty || _license_number.touched)"
          class="alert alert-danger">
            <span *ngIf="_license_number.errors">
                <span [hidden]="!_license_number.errors.required" class="inner_span">
                    <ion-label style="color: red; margin-left: 16px;"> License Number is required </ion-label>
                </span>
            </span>
          </div>


          <ion-item [hidden]="true">
            <ion-label class="required" floating >{{ 'LICENSE_EXPIRY_DATE' | translate }} </ion-label>
            <ion-datetime type="text" [(ngModel)]="license_expiry_date"  required name="license_expiry_date" #_license_expiry_date="ngModel" min="{{minDate}}" max="2050-12-31" class="calendar_bg"></ion-datetime>
          </ion-item>

          <div *ngIf="(_license_expiry_date.dirty || _license_expiry_date.touched)"
          class="alert alert-danger">
            <span *ngIf="_license_expiry_date.errors">
                <span [hidden]="!_license_expiry_date.errors.required" class="inner_span">
                    <ion-label style="color: red; margin-left: 16px;"> License Expiry Date is required </ion-label>
                </span>

            </span>
          </div>

          <p class="file_icon_p" [hidden]="true" (click)="presentActionSheetForDocuments()"><span class="sterik">*</span> <img src="assets/img/file_attach_icon.png" class="file_icon"/>  Upload scanned copy of your License</p>

          <div class="wrap-images clearfix" [hidden]="true">
            <div class="recursive_wrap" *ngFor="let doc of selected_documents">
              <img *ngIf="!valid_format(doc)" src="assets/img/document_silhouette.jpg" alt="user avatar" class="thumb" (click)="openDocument(doc)">
              <img *ngIf="valid_format(doc)" src="{{doc}}" alt="user avatar" class="thumb" (click)="openDocument(doc)">
              <div class="delete-img">
                <img src="assets/img/close-modal.png" alt=""  (click)="remove(doc)">
              </div>
            </div>

          </div>



          <ion-item [hidden]="true">
            <ion-label class="required" floating >{{ 'SECONDARY_CONTACT_PERSON_FULLNAME' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="secondary_contact_name" required name="secondary_contact_name" #_secondary_contact_name="ngModel" ></ion-input>
          </ion-item>

          <div *ngIf="(_secondary_contact_name.dirty || _secondary_contact_name.touched)"
          class="alert alert-danger">
            <span *ngIf="_secondary_contact_name.errors">
                <span [hidden]="!_secondary_contact_name.errors.required" class="inner_span">
                    <ion-label style="color: red; margin-left: 16px;"> Secondary Contact Name is required </ion-label>
                </span>
            </span>
          </div>

          <ion-item [hidden]="true">
              <ion-label class="required" floating >{{ 'SECONDARY_CONTACT_PERSON_MOBILE_NUMBER' | translate }}</ion-label>
              <ion-input type="text" [(ngModel)]="secondary_mobile_no" required name="secondary_mobile_no" #_secondary_mobile_no="ngModel" ></ion-input>
          </ion-item>

          <div *ngIf="(_secondary_mobile_no.dirty || _secondary_mobile_no.touched)"
          class="alert alert-danger">
            <span *ngIf="_secondary_mobile_no.errors">
                <span [hidden]="!_secondary_mobile_no.errors.required" class="inner_span">
                    <ion-label style="color: red; margin-left: 16px;"> Secondary Mobile Number is required </ion-label>
                </span>
            </span>
          </div>

          <ion-item *ngIf="globalVar.current_user.role=='fleet_owner'" [hidden]="true">
              <ion-label floating >{{ 'TAX_REGISTRATION_NO' | translate }}</ion-label>
              <ion-input type="text" [(ngModel)]="tax_registration_no" name="tax_registration_no" #_tax_registration_no="ngModel" ></ion-input>
          </ion-item>




          <div class="checkbox_wrap">
            <p>
              <ion-checkbox class="checkbox_item" [(ngModel)]="news_update" name="news_update" > </ion-checkbox>
              <span>Please send me product updates, news, tips, events, industry insights etc. regularly</span>
            </p>
          </div>
        </ion-list>
      </form>
    </div>

    <div class="wrap">
      <button ion-button color="primary" outline class="btn_save" (click)=landToMain() [disabled]='disabled()'>{{ 'SAVE' | translate }}</button>
    </div>
  </ion-content>
