<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
            </button>
            <div class="page-title clearfix">Lists</div>
      </ion-navbar>
  
    <ion-toolbar>
      <div class="top-links">
        <ul class="top-nav-list">
            <li (click)="loadVechile()">Vehicles</li>
       <li (click)="loadDriver()" class="active">Drivers</li>
        </ul>
     </div>
    </ion-toolbar>
      <div class="notifications-holder" (click)='showNotification()'> 
          <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
          <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
              <span class="inner">{{globalVar.current_user.notification_count}}</span>
          </div>
      </div>
  </ion-header>

<ion-content class="vehicle-listing">
  <div class="listing-header">
    <h1>Drivers List</h1>
    <div class="listing-header-btns">
      <button type="button" class="add-new-driver" (click)='addNewDriver()'>Add New Driver</button>
      <div class="icon-btn" *ngIf="!ascending"><img src="assets/img/up-arrow-icon.png" alt="" (click)="sortBy()"></div>
        
      <div class="icon-btn" *ngIf="ascending"><img src="assets/img/down-arrow-icon.png" alt="" (click)="sortBy()"></div>
    </div>
  </div>
  <div class="table-heading clearfix">
    <div class="column">Name</div>
    <!-- <div class="column">ID No.</div> -->
    <div class="column">Mobile No.</div>
  </div>
    <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let driver of drivers">
      <ion-item class="driver-row clearfix" #item (click)="openOption(slidingItem, item)">
        <div class="inner-column name">{{driver.first_name+' '+driver.last_name}}</div>
        <!-- <div class="inner-column idNumber">{{driver.id}}</div> -->
        <div class="inner-column idNumber">{{driver.mobile}}</div>
      </ion-item>
      <ion-item-options side="right" class="slide-btns" (click)="closeOption()">
        <div class="edit-btn" (click)="callToFleetOwner(driver)">
          <span class="call-icon"><img src="assets/img/call-icon.png" alt=""></span>
          <span>Call</span>
        </div>
        <div class="edit-btn" (click)='editDriver(driver.id)'>
          <span class="edit-icon"><img src="assets/img/edit-icon.png" alt=""></span>
          <span>Edit</span>
        </div>
        <div class="edit-btn" (click)='deleteDriver(driver.id)'>
          <span class="delete-icon"><img src="assets/img/delete-icon.png" alt=""></span>
          <span>Delete</span>
        </div>
      </ion-item-options>
    </ion-item-sliding>
  

  </ion-list>

</ion-content>
