page-driver-listing {
  ion-header {
    // height: 110px;
    // ion-title {
    //   bottom: 25px;
    // }
    // .bar-button-default {
    //   top: 2px;
    // }
    // .bar-button-default-ios {
    //   top: 12px;
    // }
    // .title-ios {
    //   bottom: 0px !important;
    // }
    .toolbar {
      z-index: 15;
    }
  }
  .header {
    border-bottom: 0px solid transparent;
    .toolbar-title {
      font-size: 18px !important;
    }
    &:after {
      display: none;
    }
  }
  ul.tabs-btns {
    display: block;
    margin: -2px 0 0;
    padding: 0px;
    position: relative;
    z-index: 999;
    li {
      display: inline-block;
      width: 50%;
      text-align: center;
      border-bottom: 0px solid #059acf;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      float: left;
      padding: 0px 0 10px;
      margin: 0px;
      text-transform: none;
      cursor: pointer;
      line-height: 0px;
      &.active {
        border-bottom: 7px solid #bcfbff;
      }
    }
  }
  .vehicle-listing {
    padding: 20px 0px;
  }
  .listing-header {
    padding: 15px 15px;
    position: relative;
    h1 {
      font-size: 18px;
      color: #0596ce;
      font-size: 500;
      padding: 5px 0 0;
      margin: 0px;
    }
    .listing-header-btns {
      position: absolute;
      top: 15px;
      right: 10px;
      .add-new-driver {
        float: left;
        background: #0596ce;
        color: #fff;
        padding: 4px 15px;
        line-height: 20px;
        font-size: 15px;
        font-weight: 500;
        margin: 0 7px 0 0;
      }
      .icon-btn {
        float: right;
        margin: 3px 0 0 0;
        cursor: pointer;
        img {
          max-width: 25px;
        }
      }
    }
  }
  .table-heading {
    background: #0596ce;
    padding: 7px 10px;
    border-bottom: 2px solid #cccccc;
    .column {
      font-size: 13px;
      font-weight: 400;
      color: #fff;
      float: left;
      width: 33%;
    }
  }
  .driver-row {
    padding: 7px 0px !important;

    .item-inner {
      padding: 0px 10px !important;
      border-bottom: 0px !important;
      margin: 0px !important;
    }

    .inner-column {
      float: left;
      width: 33%;
      font-size: 13px;
      font-weight: 400;
      &.name {
        color: #0596ce;
        word-wrap: break-word;
        white-space: initial;
      }

    }
    .dots {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -10px;
      padding-left: 15px;
      img {
        max-width: 5px;
      }
    }
  }
  .list {
    .driver-row  {
      border-bottom: 1px solid #cccccc;
      background: url('../assets/img/vertical-dots.png') 97% 18px no-repeat;
      &:nth-child(2n){
        background: #ebfdfe;
      }
    }
    .item-wrapper {
      &:nth-child(2n){
        .driver-row  {
          background: url('../assets/img/vertical-dots.png') 97% 18px #ebfdfe no-repeat;
        }
        &.active-slide {
          .driver-row  {
            background: #ebfdfe;
          }
        }
      }
      &.active-slide {
        .driver-row  {
          background: #fff;
        }
      }
    }
  }
  .slide-btns {
    background: url('../assets/img/horizental-dots.png') 97% 49% #0596ce no-repeat;
    padding: 0 40px 0 10px;
    .edit-btn {
      float: left;
      width: 50px;
      span{
        display: block;
        text-align: center;
        padding: 0px 0px 5px;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        padding: 0px 0 0;
        img {
          max-width: 25px;
        }
        &.call-icon {
          padding: 10px 0 2px;
          img {
            max-width: 20px;
          }
        }
        &.edit-icon {
          padding: 10px 0 2px;
          img {
            max-width: 20px;
          }
        }
        &.delete-icon {
          padding: 10px 0 2px;
          img {
            max-width: 17px;
          }
        }
      }
    }
  }
}
