<!--
  Generated template for the VehicleListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="page-title clearfix">Lists</div>
  </ion-navbar>

  <div class="tabs-holder">
     <ul class="tabs-btns clearfix">
       <li (click)="loadVechile()" class="active">Vehicles</li>
       <li (click)="loadDriver()" >Drivers</li>
     </ul>
  </div>

</ion-header>


<ion-content class="vehicle-listing">
  <div class="listing-header clearfix">
    <!-- <h1>Vehicles List</h1> -->
    <button type="button" class="add-new-driver" (click)='addNewVehicle()'>Add New Vehicle</button>
    <div class="listing-header-btns">
        <div class="open-sortby">
          <img src="assets/img/clear-filter-btn.jpg" alt="" (click) ="showHide()">
        </div>
        <div class="icon-btn" *ngIf="!ascending"><img src="assets/img/up-arrow-icon.png" alt="" (click)="sortBy()"></div>
        <div class="icon-btn" *ngIf="ascending"><img src="assets/img/down-arrow-icon.png" alt="" (click)="sortBy()"></div>
    </div>
  </div>

  <div class="date-filter-holder" [ngClass]="{'hide-filter' : (toggle || load)}"  >
    <h2>Date Filter</h2>
    <div class="clear-filter-btn" (click)="clear()">
      Clear Filter
    </div>
    <div class="columns-row clearfix">
      <div class="column status">
        <div class="column-inner">
          <ion-item class="balance-selector">
            <ion-label>Status</ion-label>
              <ion-select [(ngModel)]="status">
                <ion-option value="available" >Available</ion-option>
                <ion-option value="not-available">Not Available</ion-option>
                <ion-option value="booked">Booked</ion-option>
              </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="column from">
        <div class="column-inner">
          <label>From:</label>
          <ion-item class="date-item">
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="from_pickup_date" name="from_pickup_date" class="calendar_bg"  min="2018" max="2050-12-31"></ion-datetime>
          </ion-item>
        </div>
      </div>
      <div class="column to">
        <div class="column-inner">
          <label>To:</label>
          <ion-item class="date-item">
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="to_pickup_date" name="to_pickup_date" class="calendar_bg"  min="2018" max="2050-12-31"></ion-datetime>
          </ion-item>
        </div>
      </div>
      <div class="column btn">
        <button type="button" class="go-btn" (click)="filter()">Go</button>
      </div>
    </div>
  </div>

  <div class="vehicles-heading clearfix">
    <div class="column type">Vehicle Type/No.</div>
    <div class="column driver-name">Driver</div>
  </div>
    <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let vehicle of vehicles" >
      <ion-item class="driver-row clearfix" #item (click)="openOption(slidingItem, item)">
        <div class="inner-column type">
          <span>{{vehicle.vehicle_type.name}}</span>
        </div>
        <div class="inner-column driver">
          <span>{{vehicle.driver ? vehicle.driver.first_name +' '+ vehicle.driver.last_name : ''}}</span>
        </div>
      </ion-item>
      <ion-item-options side="right" class="slide-btns" (click)="closeOption()">
        <div class="edit-btn driver" (click)="changeDriver(vehicle)">
          <span class="driver-icon"><img src="assets/img/change-driver.png" alt=""></span>
          <span>Change Driver</span>
        </div>
        <div class="edit-btn" (click)="editVehicle(vehicle)">
          <span class="edit-icon"><img src="assets/img/edit-icon.png" alt=""></span>
          <span>Edit</span>
        </div>
        <div class="edit-btn" (click)="deleteVehicle(vehicle.id)">
          <span class="delete-icon"><img src="assets/img/delete-icon.png" alt=""></span>
          <span>Delete</span>
        </div>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

</ion-content>
