page-vehicle-listing {
  ion-header {
    height: 110px;
    ion-title {
      bottom: 25px;
    }
    .bar-button-default {
      top: 2px;
    }
    .bar-button-default-ios {
      top: 12px;
    }
    .title-ios {
      bottom: 0px !important;
    }
    .toolbar {
      z-index: 15;
    }
  }
  .header {
    border-bottom: 0px solid transparent;
    .toolbar-title {
      font-size: 18px !important;
    }
    &:after {
      display: none;
    }
  }
  ul.tabs-btns {
    display: block;
    margin: -2px 0 0;
    padding: 0px;
    position: relative;
    z-index: 999;
    li {
      display: inline-block;
      width: 50%;
      text-align: center;
      border-bottom: 0px solid #059acf;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      float: left;
      padding: 0px 0 10px;
      margin: 0px;
      text-transform: none;
      cursor: pointer;
      line-height: 0px;
      &.active {
        border-bottom: 7px solid #bcfbff;
      }
    }
  }
  .vehicle-listing {
    padding: 20px 0px;
  }
  .listing-header {
    padding: 15px 15px;
    position: relative;
    h1 {
      font-size: 18px;
      color: #0596ce;
      font-size: 500;
      padding: 5px 0 0;
      margin: 0px;
    }
    .add-new-driver {
      float: left;
      background: #0596ce;
      color: #fff;
      padding: 4px 15px;
      line-height: 20px;
      font-size: 15px;
      font-weight: 500;
      margin: 0 7px 0 0;
    }
    .listing-header-btns {
      position: absolute;
      top: 15px;
      right: 10px;
      width: 70px;
      .open-sortby {
        float: left;
        width: 25px;
        margin: 0px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
      .icon-btn {
        float: right;
        margin: 3px 0 0 0;
        cursor: pointer;
        img {
          max-width: 25px;
        }
      }
    }
  }
  .vehicles-heading{
    background: #0596ce;
    padding: 7px 10px;
    border-bottom: 2px solid #cccccc;
    .column {
      font-size: 13px;
      font-weight: 400;
      color: #fff;
      float: left;
      width: 26%;
      &.driver-name {
        width: 30%;
      }
      &.type {
        width: 70%;
      }
    }
  }

  .driver-row {
    padding: 7px 0px !important;

    .item-inner {
      padding: 0px 10px !important;
      border-bottom: 0px !important;
      margin: 0px !important;
    }

    .inner-column {
      float: left;
      width: 26%;
      font-size: 14px;
      font-weight: 400;
      span {
        display: block;
        padding: 0px 0 4px;
      }
      &.type {
        width: 70%;
        white-space: initial;
        box-sizing: border-box;
        padding: 0 20px 0 0;
      }
      &.driver {
        width: 30%;
        color: #0596ce;
      }

    }

  }
  .list {
    .driver-row  {
      border-bottom: 1px solid #cccccc;
      background: url('../assets/img/vertical-dots.png') 97% 30px no-repeat;
      min-height: 60px;
      &:nth-child(2n){
        background: #ebfdfe;
      }
    }
    .item-wrapper {
      &:nth-child(2n){
        .driver-row  {
          background: url('../assets/img/vertical-dots.png') 97% 30px #ebfdfe no-repeat;
        }
        &.active-slide {
          .driver-row  {
            background: #ebfdfe;
          }
        }
      }
      &.active-slide {
        .driver-row  {
          background: #fff;
        }
      }
    }
  }
  .slide-btns {
    background: url('../assets/img/horizental-dots.png') 97% 50% #0596ce no-repeat;
    padding: 0 40px 0 5px;
    .edit-btn {
      float: left;
      width: 50px;
      &.driver {
        width: 90px;
      }
      span{
        display: block;
        text-align: center;
        padding: 0px 0px 5px;
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        padding: 0px 0 0;
        img {
          max-width: 25px;
        }
        &.driver-icon {
          padding: 20px 0 2px;
          img {
            max-width: 20px;
          }
        }
        &.edit-icon {
          padding: 20px 0 2px;
          img {
            max-width: 20px;
          }
        }
        &.delete-icon {
          padding: 20px 0 2px;
          img {
            max-width: 18px;
          }
        }
      }
    }
  }
  .date-filter-holder {
    position: relative;
    background: #bcfbff;
    padding: 10px;
    &.first-load{
      display: none;
    }
    &.hide-filter{
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      top: -8px;
      right: 19%;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 8px solid #bcfbff;
    }
    h2 {
      font-size: 15px;
      color: #0094b9;
      font-size: 400;
      padding: 5px 0 10px;
      margin: 0px;
    }
    .clear-filter-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #000000;
      font-size: 13px;
      font-size: 500;
      padding: 5px 0 0;
      margin: 0px;
      cursor: pointer;
    }
    .columns-row {
      margin: 0 -5px;
      .column {
        float: left;
        width: 100%;
        margin-right: 0px;
        position: relative;
        label {
          font-size: 12px;
          display: block;
          padding: 0 0 3px;
          color: #000000;
        }
        &.btn {
          width: 100%;
          margin-right: 0px;
          padding: 18px 0 0;
        }
        &.from {
          padding: 0px;
          width: 50%;
          box-sizing: border-box;
        }
        &.to {
          padding: 0px;
          width: 50%;
          box-sizing: border-box;
        }
      }
      .go-btn {
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        background: #059cd0;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #d7d7d7;
      }
    }
  }
  .balance-selector {
    padding: 0px;
    display: inline-block;
    width: 100%;
    background: none;
    .select-text {
      // display: none;
    }
    .item-inner {
      padding: 0px;
      border: 0px;
    background: #fff;
    min-height: 30px;
    border: 1px solid #d7d7d7;
      .input-wrapper {
        ion-select {
          padding: 0px;
          font-size: 12px;
          margin: 0px;
          color: #5e5e5e;
          font-weight: 500;
          max-width: 100%;
        }
        .label {
          padding: 0px;
          font-size: 11px;
          margin: 0px;
          color: #0596ce;
          font-weight: 400;
          display: none;
        }
        .select {
          padding: 0px 10px;
        }
      }

    }

  }
  .input-holder {
    background: #fff;
    border: 1px solid #d7d7d7;
    padding: 13px 10px;
    box-sizing: border-box;
    width: 100%;
  }
  .select-ios .select-icon {
    position: absolute;
    top: 6px;
    right: 15px;
  }
  .select-md .select-icon {
    position: absolute;
    top: 6px;
    right: 15px;
  }
  .datetime-md {
    padding: 0px 0px;
  }
  .datetime-text {
    padding-left: 10px;
  }
  .date-item {
    padding: 0px 0px;
    background: #fff;
    min-height: 30px;
    .item-inner {
      padding: 0px;
      border: 0px;
      min-height: 20px;
      border: 1px solid #d7d7d7;
    }
    .datetime-ios {
        padding: 0px;
    }
  }
  .column-inner {
    padding: 0 5px;
  }
}
