// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
$font: "Fira Sans", sans-serif;
body{

}
*{
  font-family: $font;
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
}
// clearing floats //
.clearfix:after {
    content: "&nbsp;";
    font-size: 0;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.clearfix {
    display: inline-block; }

.clearfix {
    display: block; }

* html .clearfix {
    height: 1%; }

.clear {
    clear: both; }
    // border radius //
    @mixin border-radius($radius){
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        border-radius: $radius;
    }
    // all transitions //
    @mixin transitions($duration) {
        -webkit-transition: all $duration; /* Safari */
        transition: all $duration;
    }
    // background size cover //
    @mixin cover-background($cover) {
        -webkit-background-size:$cover;
        -moz-background-size:$cover;
        -o-background-size:$cover;
        background-size:$cover;
    }
    // placeholder color //
    @mixin placeholder($color){
        &::-webkit-input-placeholder {
            color:$color;
            font-weight: 400;
        }
        &::-moz-placeholder {
            color:$color;
            font-weight: 400;
        }
        &:-ms-input-placeholder {
            color:$color;
            font-weight: 400;
        }
        &:-moz-placeholder {
            color:$color;
            font-weight: 400;
        }
    }
.ion-app.md, ion-app.ios, button{
    font-family: 'Fira Sans', sans-serif !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000 !important;
  font-weight: 500;
  font-size:12px;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000 !important;
  font-weight: 500;
  font-size:12px;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000 !important;
  font-weight: 500;
  font-size:12px;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000 !important;
  font-weight: 500;
  font-size:12px;
  opacity: 1;
}

ion-header{
  background-image: -webkit-linear-gradient(bottom, #e84f14, #e84f14 99%);
  background-image: -moz-linear-gradient(bottom, #e84f14, #e84f14 99%);
  background-image: -o-linear-gradient(bottom, #e84f14, #e84f14 99%);
  background-image: -ms-linear-gradient(bottom, #e84f14, #e84f14 99%);
  background-image: linear-gradient(to top, #e84f14, #e84f14 99%);
height: 130px;

ion-navbar{
    height:95px;
}
  .toolbar-background{
      background:transparent;
  }
  ion-title{
      padding-top:0 !important;

      span{
          font-size:16px;
      }
  }

  .toolbar-title{
      color:#fff !important;
      font-size: 18px !important;
      font-weight: normal;
      text-align: left;

  }
  .bar-button-default{
      color:#fff;
      position:absolute;
      top: 18px;


  }
  .bar-button-default-ios{
      top:47px;
  }

  .title-ios {

    position: absolute !important;
    width: 100% !important;
    bottom: 7px !important;
    top: initial !important;
    height: auto !important;
    // padding: 25px 15px 9px 15px !important;

}
.toolbar-content-ios {
    .page-title {
        bottom: -20px;
    }
}

.bar-button-md.show-back-button{
    left:0px;
}
  .show-back-button{
      left:15px;
  }
.back-button-text-ios{
    display:none;
}
  .bar-button-menutoggle ion-icon{
      font-size: 40px !important;
      margin-top: 0;
  }

  .bar-button-menutoggle-ios ion-icon{
    font-size: 40px !important;

}
&.header-ios {
    height: 155px;
}

}
.required:before {content: "*"; color: #ca0000; margin-right:1px;}

.item-input .label, .item-select .label, .item-datetime .label{
    color:#000;
    font-size:14px;
    font-weight: 500;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    color:#666;
    font-weight: normal;
}
.item-label-stacked .text-input-ios, .item-label-floating .text-input-ios{
  color:#666;
  font-weight: normal;
}
ion-header .bar-button-default-md.show-back-button{
    left:0;
}
ion-toolbar{
    min-height:auto !important;

    p{
        color:#fff !important;

    }
    .filters{
        p{

            padding-bottom: 8px;
            font-size: 12px;
        }
        .selected{
            border-bottom: 2px solid #fff;
        }
    }
}

.datetime-text{
    font-size:12px;
    color:#666;
}
.select{
    color:#666;
    font-weight: normal !important;
}
.alert-danger{
    span.inner_span{
      color: red;
      margin-left: 16px;
      text-shadow: none;
      font-weight: 500;
      margin-top: 5px;
      display: block;
      font-size: 11px;
    }
}
.alert-radio-label, .alert-checkbox-label{
  white-space: normal !important;
}
.side-bar {
 background: url(../assets/img/header-bg.png) 0px 0px repeat-x;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px 0px;
  font-weight: 300;
  .sidebar-header {
    position: relative;
    padding: 20px 15px 10px 80px;
    min-height: 90px;
    .profile-image {
      position: absolute;
      top: 15px;
      left: 10px;
      width: 60px;
      height: 60px;
      @include border-radius(50%);
      border: 2px solid #fff;
      img {
        max-width: 100%;
        @include border-radius(50%);
      }
    }
    span {
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      display: block;
      padding: 0 0 7px;
      &.email {
        font-size: 11px;
        font-weight: 300;
      }
      &.ratings {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }


    .menu-holder {
      padding: 0 10px;
      ul.menu {
        display: block;
        margin: 0px;
        padding: 0px;
        li {
          position: relative;
          border-bottom: 1px solid #e84f14;
          padding: 16px 0 14px 40px;
          color: #fff;
          font-size: 13px;
          cursor: pointer;
          & span.icon {
            position: absolute;
            top: 15px;
            left: 4px;
            width: 25px;
            &.home {
              top: 13px;
              left: 4px;
              width: 22px;
            }
            &.payments {
              top: 14px;
              left: 5px;
              width: 19px;
            }
            &.contacts {
              top: 11px;
              left: 5px;
              width: 24px;
            }
            &.notifications {
              top: 11px;
              left: 5px;
              width: 21px;
            }
            &.lists {
              top: 13px;
              left: 5px;
              width: 20px;
            }
            &.friends {
              top: 12px;
              left: 9px;
              width: 18px;
            }
            &.help {
              top: 12px;
              left: 7px;
              width: 19px;
            }
            &.settings {
              top: 12px;
              left: 6px;
              width: 21px;
            }
            img {
              max-with: 100%;
            }
          }
          & span.small-txt {
            font-size: 11px;
          }
          &:hover {
            background: #e84f14;
            @include transitions(0.5s);
          }
          &.active {
            background: #e84f14;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    .item-ios {
        padding-left: 0px;
    }
    .item-md {
        padding-left: 0px;
    }
    .item-inner {
        padding: 0 15px;
    }
    .list-md > .item-block:last-child .item-inner, .list-md > .list-md > .item-wrapper:last-child .item-inner {
        border-bottom: 1px solid #dedede;
    }
  }
  .top-links {
    padding: 5px 0 0;
    margin-top: -10px;
    ul.top-nav-list {
      margin: 0px;
      padding: 0px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;
      justify-content: space-around;
      list-style-type: none;
      li {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        padding: 10px 5px 10px 5px;
        cursor: pointer;
        &.active {
          border-bottom: 2px solid #fff;
          font-weight: 500;
        }
      }
    }
  }
  .toolbar-content-ios {
    ul.top-nav-list {
        li {
            padding: 10px 5px 8px 5px;
        }
      }
  }

.thumb-img{
  border-radius: 100px;
  width: 56px;
  height: 56px;
  background-size: cover;
}
.cancel_text {
    font-size: 13px !important;
    font-weight: 400;
    display: block;
    padding: 9px 0px;
}
.range-md .range-knob-handle {
    left: 0;
    top: 21px;
    margin-left: -21px;
    margin-top: -21px;
    text-align: center;
    position: absolute;
    width: 42px;
    height: 42px;
}
span.error {
    display: block;
    padding: 10px 0 10px 16px;
    color: gold;
    font-weight: 600;
}
.toast-danger {  > div{  background-color:#ca0000 !important; color: white !important; } }
.toast-success {  > div{  background-color:green !important; color: white !important; } }

.notifications-holder {
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
   span {
       display: inline-block;
       img {
           max-width: 35px;
           padding: 5px;
       }
   }
   .counter {
    position: absolute;
    top: -3px;
    right: -3px;
    display: inline-block;
    @include border-radius(50%);
    min-width: 16px;
    min-height: 16px;
    padding: 2px;
    background: #ffc300;
    color: #453f33;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
 &:before {
     content: "";
     display: inline-block;
     vertical-align: middle;
     padding-top: 100%;
     height: 0;
   }
 span.inner {
     display: inline-block;
     vertical-align: middle;
     color: #453f33;
     font-size: 14px;

 }
}
}

.page-title {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 7px;
    box-sizing: border-box;
    padding-left: 20px;
    color: #FFF !important;
    font-size: 18px !important;
    font-weight: normal;
    text-align: left;
    .title-copy {
        float: left;
        display: inline-block;
        color: #fff !important;
        font-size: 18px !important;
        font-weight: normal;
        text-align: left;
    }
}

.item-input .label, .item-select .label, .item-datetime .label {
  font-weight: 400 !important;
}
.header-ios {
    .notifications-holder {
        top: 48px !important;
    }
}
.toolbar-content-ios {
    .top-links {
        margin-top: 16px;
    }
}
.toolbar-ios {
    min-height: inherit !important;
    overflow: visible !important;
    contain: initial !important;
}
ion-header .toolbar-background {
    background: transparent !important;
}

.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child, .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child, .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child, .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
    min-height: inherit !important;
    overflow: visible !important;
    contain: initial !important;

}
.platform-ios {
    .side-bar {
        background: url(../assets/img/header-bg-ios.jpg) 0px 0px repeat-x;
        .sidebar-header {
            min-height: 120px;
            padding: 40px 15px 10px 80px;
            .profile-image {
                top: 37px;
            }
        }
    }
}

.copyright{
  font-size: 10px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-alert {
  z-index: 99999 !important;
}

.charges-text{
  padding: 10px 10px 0 10px;
  text-align: justify;
  color: #353535;
  font-size: 12px;
}
