<ion-menu [content]="content">
  <div class="side-bar">
    <div class="sidebar-header">
      <div class="profile-image">

        <!-- <img src="{{this.globalVar.current_user.information.avatar}}"
        *ngIf="this.globalVar.current_user && this.globalVar.current_user.company
        && this.globalVar.current_user.information && this.globalVar.current_user.information.avatar!='null'
        && globalVar.current_user.company.company_type=='company'" class="thumb-img">

        <img src="{{this.globalVar.current_user.information.avatar}}"
        *ngIf="this.globalVar.current_user && this.globalVar.current_user.company
        && this.globalVar.current_user.information && this.globalVar.current_user.information.avatar!=null
        && globalVar.current_user.company.company_type=='individual'
        && globalVar.current_user.company.category=='cargo'" class="thumb-img"> -->

        <img src="{{this.globalVar.current_user.information.avatar}}"
        *ngIf="this.globalVar.current_user && this.globalVar.current_user.company &&
        this.globalVar.current_user.information &&( this.globalVar.current_user.information.avatar!= null && (this.globalVar.current_user.information.avatar != '') && (this.globalVar.current_user.information.avatar != 'null'))" class="thumb-img">

        <img class="thumb-img" src="assets/img/avatar.jpeg" alt="" *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && this.globalVar.current_user.information && !this.globalVar.current_user.information.avatar">

        <img class="thumb-img" src="assets/img/avatar.jpeg" alt="" *ngIf="this.globalVar.current_user && !this.globalVar.current_user.company">

        <img class="thumb-img" src="assets/img/avatar.jpeg" alt="" *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && !this.globalVar.current_user.information">

        <img class="thumb-img" src="assets/img/avatar.jpeg" alt="" *ngIf="!this.globalVar.current_user && !this.globalVar.current_user.company && !this.globalVar.current_user.information">
      </div>


      <span *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && this.globalVar.current_user.company.company_type == 'individual'">{{this.globalVar.current_user.first_name +' '+this.globalVar.current_user.last_name}}</span>

      <span *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && this.globalVar.current_user.company.company_type == 'company'">{{this.globalVar.current_user.company.name}}</span>

      <span class="email" *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && this.globalVar.current_user.company.company_type == 'individual' && this.globalVar.current_user.information">{{this.globalVar.current_user.email }}</span>
      <span class="email" *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && this.globalVar.current_user.company.company_type == 'company' && this.globalVar.current_user.information">{{this.globalVar.current_user.information.name }}</span>

      <span class="ratings" *ngIf="this.globalVar.current_user &&  this.globalVar.current_user.average_rating">

        {{this.globalVar.current_user.average_rating}}
        <ion-icon name="star"></ion-icon>
        ({{this.globalVar.current_user.rated_count}})
      </span>
    </div>
<!--     <div class="menu-holder">
      <ul class="menu">
        <li class="active">
          <span class="icon home"><img src="assets/img/home.png" alt="" ></span> Home
        </li>
        <li>
          <span class="icon payments"><img src="assets/img/payments.png" alt="" ></span> Payments
        </li>
        <li>
          <span class="icon contacts"><img src="assets/img/contracts.png" alt="" ></span> Contacts
        </li>
        <li>
          <span class="icon notifications"><img src="assets/img/notifications.png" alt="" ></span> Notifications
        </li>
        <li>
          <span class="icon lists"><img src="assets/img/lists.png" alt="" ></span> Lists
          <span class="small-txt">(Drivers / Trucks)</span>
        </li>
        <li>
          <span class="icon friends"><img src="assets/img/refer-a-friend.png" alt="" ></span> Refer a friend
        </li>
        <li>
          <span class="icon help"><img src="assets/img/help.png" alt="" ></span> Help
        </li>
        <li>
          <span class="icon settings"><img src="assets/img/settings.png" alt="" ></span> Settings
        </li>
      </ul>
    </div> -->

    <ion-content>
      <ion-list>
       <!--  <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button> -->


        <button class="logout-nav" menuClose ion-item (click)="login()" *ngIf="!this.globalVar.current_user">
          Login
        </button>
        <button class="logout-nav" menuClose ion-item (click)="signup()" *ngIf="!this.globalVar.current_user">
          Signup
        </button>
        <button class="logout-nav" menuClose ion-item (click)="newShipment()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.role == 'cargo_owner' && this.globalVar.current_user.information && this.globalVar.current_user.company">
          Home
        </button>
        <button class="logout-nav" menuClose ion-item (click)="newShipmentFleet()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.role == 'fleet_owner' && this.globalVar.current_user.information && this.globalVar.current_user.company">
          Home
        </button>

        <button class="logout-nav" menuClose ion-item (click)="driverDashboard()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.role == 'driver'">
          Home
        </button>
<!--
        <button class="logout-nav" menuClose ion-item (click)="driverDashboard()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && this.globalVar.current_user.company.company_type != 'individual' && this.globalVar.current_user.role == 'fleet_owner' && this.globalVar.current_user.information ">
          Driver Dashboard
        </button>
-->
        <button class="logout-nav" menuClose ion-item (click)="editIndividual()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && this.globalVar.current_user.company.company_type == 'individual' && this.globalVar.current_user.role != 'driver' && this.globalVar.current_user.information">
          Edit Individual Information
        </button>

        <button class="logout-nav" menuClose ion-item (click)="editCompany()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.company && this.globalVar.current_user.company.company_type == 'company' && this.globalVar.current_user.role != 'driver' && this.globalVar.current_user.information">
          Edit Company Information
        </button>

        <button class="logout-nav" menuClose ion-item (click)="editDriver()"  *ngIf="this.globalVar.current_user && this.globalVar.current_user.role == 'driver'">
          Edit Profile
        </button>


        <button class="logout-nav" menuClose ion-item (click)="driverVehicleListing()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.role == 'fleet_owner' && this.globalVar.current_user.company && this.globalVar.current_user.information">
          Driver Vehicle Listing
        </button>

        <!-- <button class="logout-nav" menuClose ion-item (click)="driverTiming()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.role == 'fleet_owner' && this.globalVar.current_user.company.company_type == 'individual' && this.globalVar.current_user.information">
          History
        </button> -->
        <!-- <button class="logout-nav" menuClose ion-item (click)="withdrawPaymentMode()" *ngIf="this.globalVar.current_user">
          withdrawPaymentMode
        </button> -->

        <!-- <button class="logout-nav" menuClose ion-item (click)="FleetBalancePaymentMode()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.role == 'fleet_owner' && this.globalVar.current_user.information && this.globalVar.current_user.company">
          Payments
        </button> -->

        <!-- <button class="logout-nav" menuClose ion-item (click)="CargoBalancePaymentMode()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.role == 'cargo_owner' && this.globalVar.current_user.information && this.globalVar.current_user.company">
          Payments
        </button> -->


         <!-- <button class="logout-nav" menuClose ion-item (click)="creditCardPaymentMode()" *ngIf="this.globalVar.current_user">
          creditCardPaymentMode
        </button> -->

         <!-- <button class="logout-nav" menuClose ion-item (click)="tutorils()">
          Tutorils
        </button> -->
        <button class="logout-nav" menuClose ion-item (click)="notifications()" *ngIf="this.globalVar.current_user">
          Notifications
        </button>

        <button class="logout-nav" menuClose ion-item (click)="logout()" *ngIf="this.globalVar.current_user">
          Logout
        </button>
<!--
        <button class="logout-nav" menuClose ion-item (click)="companyInfo()" *ngIf="this.globalVar.current_user">
          Company Info
        </button>

        <button class="logout-nav" menuClose ion-item (click)="ownerInfo()" *ngIf="this.globalVar.current_user">

          Owner Info
        </button> -->




      </ion-list>
    </ion-content>
  </div>



  </ion-menu>
  <ion-nav #content [root]="rootPage"></ion-nav>
