page-fleet-new-shipment-listing {
    .fleet-card {
        -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
        -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
        box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
        background: #fff;
        position: relative;
        padding: 10px 10px 0;
        margin: 0 0 25px;

        &:before {
            content: "";
            top: 0px;
            left: 0px;
            width: 10px;
            position: absolute;
            height: 100%;
            background: #e84f14;
            /* Old browsers */
            background: -moz-linear-gradient(top, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #e84f14 0%, #e84f14 4%, #e84f14 13%, #e84f14 37%, #e84f14 37%, #e84f14 45%, #e84f14 46%, #e84f14 77%, #e84f14 85%, #e84f14 98%, #e84f14 98%, #e84f14 99%, #e84f14 99%, #e84f14 100%, #e84f14 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e84f14', endColorstr='#e84f14', GradientType=0);
            /* IE6-9 */
        }
        h1 {
            color: #353535;
            font-weight: 500;
            font-size: 15px;
            padding: 0 0 15px 15px;
            margin: 0px;
        }
    }
    .fleet-row {
        padding: 0 0 20px 0px;
        .fleet-col-left {
            float: left;
            width: 45%;
            box-sizing: border-box;
            padding: 0 5px 0 5px;
            .bids {
                padding: 0 0 15px;
                span {
                    display: block;
                    font-size: 14px;
                    color: #353535;
                    font-weight: 300;
                    text-align: center;
                    padding: 0px 0px 2px;
                    &.bid-amount {
                        font-weight: 500;
                        color: #e84f14;
                        font-size: 15px;
                    }
                    &.bid-vehicle {
                        font-weight: 500;
                        color: #353535;
                        font-size: 12px;
                    }
                }
            }
        }
        .fleet-col-right {
            float: right;
            width: 55%;
            box-sizing: border-box;
            padding: 0 5px 0 20px;
            border-left: 1px solid #7d7d7d;
            .address-outer {
                padding: 0 0px 10px;
                position: relative;
            }
            .distance-holder {
                font-size: 11px;
                color: #353535;
                position: absolute;
                top: 27px;
                left: -23px;
                webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                font-weight: 500;
            }
            .address-one {
                padding: 0 0 10px 15px;
                margin-bottom: 5px;
                color: #353535;
                font-size: 12px;
                font-weight: 400;
                position: relative;
                background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
                &:before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 0px;
                    left: -7px;
                    background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
                    background-size: 16px 16px;
                }
            }
            .address-two {
                padding: 0 0 0px 15px;
                color: #353535;
                font-size: 12px;
                font-weight: 400;
                position: relative;
                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                }
                &:before {
                    content: "";
                    width: 16px;
                    height: 26px;
                    position: absolute;
                    top: -3px;
                    left: -7px;
                    background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
                    background-size: 16px 26px;
                }
            }
            .truck-row {
                padding: 6px 0 20px 40px;
                background: url('../assets/img/truck.png') 0px 4px no-repeat;
                background-size: 35px 21px;
                margin-left: -15px;
                font-size: 12px;
                font-weight: 400;
                color: #353535;
            }
            .pickup-date {
                font-size: 13px;
                color: #353535;
                font-weight: 400;
                span {
                    font-weight: 300;
                    display: block;
                }
            }
        }
    }
    .buttons-holder {
        padding: 0 5px;
    }
      p.welcome_p
        {
            font-size:14px;
            strong{
            display: block;
            font-size:16px;
            margin-bottom:5px;
        }
      }

    .submit-btn {
        background: #e84f14;
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
        padding: 7px 10px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        &.bidnow {
            margin-bottom: 10px;
            border: 1px solid #fff;
            &:hover {
                background: #019ca6;
            }
        }
        &.not-interest {
            background: white;
            border: 1px solid #707070;
            color: #707070;
        }
        &:hover {
            background: #019ca6;
            color: #fff;
            @include transitions(0.5s);
            border: 1px solid #019ca6;
        }
    }
    .sort-by-date {
      position: absolute;
      top: 15px;
      right: 15px;
      span{
        padding: 0 7px;
        cursor: pointer;
        display: inline-block;
        img {
          max-width: 22px;
        }
        &.date {
          background: #fff;
          padding: 2px 10px;
          border: 1px solid #fff;
          font-size: 11px;
          margin: 1px 0 0;
          float: left;
        }
        &.clearfilters {
          position: absolute;
          top: 25px;
          left: 25px;
          width: 50px;
          font-size: 11px;
          width: 100px;
          color: #fff;
        }
        &.sort-icon {
          float: right;
        }
      }
    }
    .title-copy {
        display: inline-block;
        float: left;
    }
    .filter-arrow-holder {
        display: inline-block;
        margin: 0px 0px 0px 11px;
        position: relative;
        float: left;
        cursor: pointer;
        img {
            width: 20px;
        }
        div {
            @include transitions(0.5s);
        }
    }
    .edit-vehicle-btn {
      width: 100%;
      .toggle-icon {
        width: 80%;
        background: #dedede;
        height: 20px;
        @include border-radius(18px);
      }
      .toggle-inner {
        width: 90%;
        height: 20px;
        color: #fff;
        background: #dedede;
        box-sizing: border-box;
        position: relative;
        @include border-radius(18px);
        &:before {
          content: "Offline";
          top: 0px;
          left: 0px;
          padding-left: 10px;
          font-size: 15px;
          font-weight: 400;
          color: #4d4d4d;
        }

      }
      &.toggle-checked {
        .toggle-inner {
          &:before {
          content: "Online";
          top: 0px;
          left: 0px;
          padding-left: 10px;
          font-size: 15px;
          font-weight: 400;
          background: #e84f14;
          color: #fff;
          }
        }

        }
    }
    .driver-availability {
      .item {
        padding: 0px !important;
        .item-inner {
          padding: 0px;
          border: 0px;
        }
      }
    }
    .toggle-md .toggle-inner {
      top: -1px;
    }
    .toggle-ios .toggle-inner {
      top: -1px;
    }
    .toggle-md.toggle-checked .toggle-icon {
        background: #dedede;
    }
    .toggle-ios.toggle-checked .toggle-icon {
      background: #dedede;
    }
    .toggle-md.toggle-checked .toggle-inner {
      background: #04b0d9;
    }
    .toggle-ios.toggle-checked .toggle-inner {
      background: #04b0d9;
    }
    .toggle-ios .toggle-inner {
      left: -3px;
    }
    .driver-availability-lable {
      display: block;
      font-size: 13px;
      font-weight: 400;
      color: #4d4d4d;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }


}
