<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">
        <div class="title-copy">New Shipments</div>
        <div class="filter-arrow-holder">
            <div *ngIf="ascending"><img src="assets/img/up-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
            <div *ngIf="!ascending"><img src="assets/img/down-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
        </div>
      </div>

    </ion-navbar>

    <ion-toolbar>
      <div class="top-links">
        <ul class="top-nav-list">
          <li class="active" (click)="openNew()">New</li>
          <li (click)="openActive()">Active</li>
          <li (click)="openWon()">Won</li>
          <li (click)="openOngoing()">Ongoing</li>
          <li (click)="openCompleted()">Completed</li>
        </ul>
      </div>
    </ion-toolbar>
    <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
      </div>
     </ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="((this.company_category == 'fleet')&&(this.company_type == 'individual'));
  then thenBlock else company_login">
  </div>

  <ng-template #thenBlock>

<ion-grid>
      <ion-row>
        <ion-col col-6>
          <br>
          <div class="welcome_p">{{'ONLINE_OFFLINE_TOGGLE' | translate}} </div>
        </ion-col>
        <ion-col col-6>
            <ion-item>
              <ion-toggle checked="false" name="toggle" class="edit-vehicle-btn" [(ngModel)]="toggle"
              (ionChange)="notify($event)" [(ngModel)]="globalVar.current_user.is_online"></ion-toggle>
            </ion-item>
        </ion-col>
      </ion-row>
</ion-grid>

  <div *ngIf="shipment_array1.length == 0 && loaded"> {{'NO_SHIPMENTS_AV' | translate}} </div>
  <div class="fleet-card" *ngFor="let shipments of shipment_array1">
      <h1 (click)="bidNow($event,shipment)">{{'SHIPMENT_NO' | translate}} {{shipments.shipment.id}}</h1>
      <div class="fleet-row clearfix">
          <div class="fleet-col-left">
              <!-- <div class="bids"  *ngIf="shipment.best_bid.amount" (click)="bidNow($event,shipment)">
                  <span>Best Bid</span>
                  <span class="bid-amount" *ngIf="shipment.best_bid.amount"> {{shipment.best_bid.amount | currency: globalVar.current_user.country.currency + " "}}</span>
                  <span class="bid-vehicle" *ngIf="shipment.best_bid.amount"> {{shipment.best_bid.amount/shipment.no_of_vehicles | currency: globalVar.current_user.country.currency + " "}}/Vehicle</span>
              </div> -->
  <div *ngIf="pickupnow==true; then thenBl else elseBlock"></div>
       <ng-template #thenBl>

        <div *ngIf="shipments.shipment.is_pickup_now==true; then picknow else pickuplater"></div>

      </ng-template>

        <ng-template #picknow>

          <div class="buttons-holder">
              <button [disabled]="shipments.button && shipments.shipment.is_pickup_now " class="submit-btn bidnow"  (click)="bidNow($event,shipments.shipment)" >{{'BID' | translate}} </button>
              <button class="submit-btn not-interest" (click)="notInterested(shipments.shipment.id)">{{'NOT_INTERESTED' | translate}} </button>
            </div>


        </ng-template>

        <ng-template #pickuplater>

          <div class="buttons-holder" >

             <br>
              <button [disabled]="shipments.button && shipments.shipment.is_pickup_now " class="submit-btn bidnow"  (click)="bidNow($event,shipments.shipment)" >{{'BID' | translate}} </button>
              <button class="submit-btn not-interest" (click)="notInterested(shipments.shipment.id)">{{'NOT_INTERESTED' | translate}}</button>
            </div>


        </ng-template>


       <ng-template #elseBlock>
        <div class="buttons-holder">
          <button class="submit-btn bidnow" (click)="bidNow($event,shipments.shipment)">{{'BID' | translate}}</button>
          <button class="submit-btn not-interest" (click)="notInterested(shipments.shipment.id)">{{'NOT_INTERESTED' | translate}}</button>

        </div>
        </ng-template>
      </div>

       <!-- </ng-template>
          </div> -->
          <div class="fleet-col-right" (click)="bidNow($event,shipments.shipment)">
              <div class="address-outer">
                  <div class="address-one">
                      {{shipments.shipment.pickup_location}}
                  </div>
                  <div class="address-two">
                      {{shipments.shipment.drop_location}}
                  </div>
              </div>
              <div class="truck-row">
                  {{shipments.shipment.no_of_vehicles}} x {{shipments.shipment.vehicle_type}}
              </div>
              <div class="pickup-date">
                  <span>{{'PICKUP_DATE' | translate}}</span> {{shipments.shipment.pickup_time | date: 'h:mm a'}} | {{shipments.shipment.pickup_date | date: 'MMM dd, yyyy'}}
              </div>
          </div>
      </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  </ng-template>

  <ng-template #company_login>

  <div *ngIf="shipments.length == 0 && loaded"> No Shipments are available currently under this state.</div>
  <div class="fleet-card" *ngFor="let shipment of shipments">
      <h1 (click)="bidNow($event,shipment)">Shipment No. {{shipment.id}}</h1>
      <div class="fleet-row clearfix">
          <div class="fleet-col-left">

        <div class="buttons-holder">
          <button class="submit-btn bidnow" (click)="bidNow($event,shipment)">Bid Now</button>
          <button class="submit-btn not-interest" (click)="notInterested(shipment.id)">Not Interested</button>

        </div>
      </div>

          <div class="fleet-col-right" (click)="bidNow($event,shipment)">
              <div class="address-outer">
                  <div class="address-one">
                      {{shipment.pickup_location}}
                  </div>
                  <div class="address-two">
                      {{shipment.drop_location}}
                  </div>
              </div>
              <div class="truck-row">
                  {{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}
              </div>
              <div class="pickup-date">
                  <span>Pick up date</span> {{shipment.pickup_time | date: 'h:mm a'}} | {{shipment.pickup_date | date: 'MMM dd, yyyy'}}
              </div>
          </div>
      </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ng-template>


</ion-content>
