<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="page-title clearfix">Ongoing Shipments</div>
</ion-navbar>
<ion-toolbar>
<div class="top-links">
  <ul class="top-nav-list">


    <li (click)="openNew()">New</li>
    <li (click)="openActive()">Active</li>
    <li (click)="openWon()">Won</li>
    <li (click)="openOngoing()" class="active">Ongoing</li>
    <li (click)="openCompleted()">Completed</li>
  </ul>
</div>

</ion-toolbar>
<div class="notifications-holder" (click)='showNotification()'>
  <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
  <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
      <span class="inner">{{globalVar.current_user.notification_count}}</span>
  </div>
</div>
</ion-header>


<ion-content>
<div class="ongoing-detail-header">
  <h1>{{'SHIPMENT_NO' | translate}} {{shipment.id}}</h1>

  <div class="list-call-icon" (click)="callCargo()">{{'CALL_CARGO_OWNER' | translate}}</div>
  <div class="fleet-row clearfix">

 <div *ngIf="showAmount==true; then showAmount else notShowAmount"></div>
      <ng-template #showAmount>
        <div class="fleet-col-left" >
          <div class="bids" >
            <span class="bid-amount"> {{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</span>
          </div>
          <div class="buttons-holder">
            <div class="truck-row">
              <span><img src="assets/img/truck.png" alt="" ></span>
              <span>{{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}</span>
              <span (click)="openPodPage()">Shipment Documents</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #notShowAmount>
        <div class="fleet-col-left">
          <div class="bids" hidden=true>
            <span class="bid-amount"> {{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</span>
          </div>
          <div class="buttons-holder">
            <div class="truck-row">
              <span><img src="assets/img/truck.png" alt="" ></span>
              <span>{{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}</span>
              <!-- <span (click)="openPodPage()">Shipment Documents</span> -->
            </div>
          </div>
        </div>
      </ng-template>
    <div class="fleet-col-right">
      <div class="address-outer">
        <div class="address-one">
          {{shipment.pickup_location}}
        </div>
        <div class="address-two">
          {{shipment.drop_location}}
          <!-- <span class="change" (click)="changeDestination()">Change</span> -->
        </div>
      </div>
      <div class="trackng_code_doc" (click)="openPodPage()">Shipment Documents</div>
    </div>
  </div>
</div>
<div class="payment-mode" *ngIf='shipment.is_pickup_now'>
  <span>Payment Mode:</span>
  {{shipment.payment_option}}
  <span class="received" *ngIf="shipment.paid_by_cargo">Received</span>
</div>
<div class="details_wrap">
<div class="details-row clearfix" *ngIf='shipment.cargo_description_url'>
  <div class="details-left">
    <span>Audio Cargo Description</span>
  </div>
  <div class="details-right" >
    <audio controls="controls" autobuffer="autobuffer" >
      <source [src]="getImgContent()" />
     </audio>
  </div>
</div>
</div>
<div *ngIf="(companycategory == 'fleet')&&(companytype == 'individual'); then dontShowText else ShowText"></div>
  <ng-template #dontShowText>
  <p class="charges-text">{{'FLEET_LONG_MSG' | translate}}</p>
</ng-template>

<ng-template #ShowText>
 <p class="charges-text">* All Bid amount/rates provided here are purely transportation cost only. Token and all other cost will be at actuals. For side loader if there is inspection there will be additional charges of AED 200 which will get added to transportation cost/Bid amount</p>
</ng-template>
<div class="dropoff-slider-holder">

      <div *ngIf="pickupnow==true; then thenBl else elseBl"></div>

      <ng-template #thenBl >
        <ion-slides *ngFor="let vehicle of shipment.vehicles">

          <ion-slide class="grey-slide"  *ngIf="vehicle.id == globalVar.current_user.vehicle.id">
        <div class="driver clearfix">
              {{vehicle.driver_name}}
            </div>

          <ion-item class="range-slider-holder">
              <ion-range min="100" max="600" step="100" snaps="true" color="secondary"
              (ngModelChange)="textChanged($event)"
              [(ngModel)]="status"
              (ionChange)="changeStatus($event,vehicle.id)"
         ></ion-range>
         <ion-label class="labels-col booked">{{'BOOKED' | translate}}</ion-label>
         <ion-label class="labels-col start">{{'START' | translate}}</ion-label>
         <ion-label class="labels-col loading">{{'LOADING' | translate}}</ion-label>
         <ion-label class="labels-col enroute">{{'DRIVING' | translate}}</ion-label>
         <ion-label class="labels-col unloading">{{'UNLOADING' | translate}}</ion-label>
         <ion-label class="labels-col finish">{{'END' | translate}}</ion-label>
            </ion-item>

            <div class="route">
              <span class="route-number">{{vehicle.registration_number}}</span>
              <span>{{vehicle_status|titlecase}}
                <span *ngIf="vehicle.status != 'booked'"> {{status_code}}</span>
              </span>
            </div>
          </ion-slide>
        </ion-slides>
      </ng-template>

      <ng-template #elseBl>
        <ion-slides pager="true" >

          <ion-slide class="grey-slide" *ngFor="let vehicle of shipment.vehicles" >

          <div class="driver clearfix">
              {{vehicle.driver_name}} <span><img (click)="callDriver(vehicle)" src="assets/img/call-icon-blue.png" alt="" ></span>
            </div>

          <ion-item class="range-slider-holder">
              <ion-range min="100" max="600" step="100" snaps="true" color="secondary"
               [(ngModel)]="vehicle.status_code" disabled></ion-range>
               <ion-label class="labels-col booked">{{'BOOKED' | translate}}</ion-label>
               <ion-label class="labels-col start">{{'START' | translate}}</ion-label>
               <ion-label class="labels-col loading">{{'LOADING' | translate}}</ion-label>
               <ion-label class="labels-col enroute">{{'DRIVING' | translate}}</ion-label>
               <ion-label class="labels-col unloading">{{'UNLOADING' | translate}}</ion-label>
               <ion-label class="labels-col finish">{{'END' | translate}}</ion-label>
            </ion-item>

            <div class="route">
              <span class="route-number">{{vehicle.registration_number}}</span>
              <span>{{vehicle.status|titlecase}}
                <span *ngIf="vehicle.status != 'booked'"> {{getVehicleStatus(vehicle)}}</span>
              </span>
            </div>
          </ion-slide>

        </ion-slides>

      </ng-template>


</div>
<div *ngIf="pickupnow == true; then notShowMap else showMap"></div>
<ng-template #notShowMap>
  <div hidden=true class="map-holder" #map id="map">

  </div>
</ng-template>
<ng-template #showMap>
  <div class="map-holder" #map id="map">

  </div>
</ng-template>


</ion-content>
<div *ngIf="pickupnow == true; then thenBlock"></div>
<ng-template #thenBlock>
  <ion-footer>
    <button ion-button class="btn_lets_go" (click)=openGoogleMap() >'Directions'</button>
  </ion-footer>
</ng-template>
