<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">
        <div class="title-copy">Upcoming Shipments</div>
        <div class="filter-arrow-holder">
            <div *ngIf="ascending"><img src="assets/img/up-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
            <div *ngIf="!ascending"><img src="assets/img/down-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
        </div>
      </div>
 </ion-navbar>

<ion-toolbar>
  <div class="top-links">
    <ul class="top-nav-list">
      <li (click)="upcoming()" class="active">Upcoming</li>
      <li (click)="ongoing()">Ongoing</li>
      <li (click)="completed()">Completed</li>
    </ul>
  </div>

  </ion-toolbar>
    <div class="notifications-holder" (click)='showNotification()'> 
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="shipments.length == 0 && loaded"> No Shipments are available currently under this state.</div>
  <div class="fleet-card" *ngFor="let shipment of shipments" (click)="openOngoingDetail(shipment)">
    <h1>Shipment No. {{shipment.id}}</h1>
    <div class="fleet-row clearfix">
      <div class="fleet-col-left">
        <div class="pickup-date">
            <span>Pick up Date</span>
            <span class="date">{{shipment.pickup_time | date: 'h:mm a' }}</span>
            <span class="date">{{shipment.pickup_date | date: 'MMM dd, yyyy'}}</span>
        </div>
      </div>
      <div class="fleet-col-right">
        <div class="address-outer">
          <div class="address-one">
              {{shipment.pickup_location}}
          </div>
          <div class="address-two">
              {{shipment.drop_location}}
          </div>
        </div>
        <div class="truck-row">
            {{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}
        </div>
      </div>
  </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
