

<ion-content no-bounce>
  <div class="skip-btn">
    <button ion-btn (click)="startApp()" class="btn_skip">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
  </div>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide class="grey-slide slide-01" >
      <div class="slide-image"><img src="assets/img/tutorial/walkthrough-01.jpg" alt="Lorry's walkthrough screens"></div>
      <h2>Online platform to connect shippers and cargo owners with the truckers.</h2>
      <div class="slide-btns">
        <button ion-button outline class="btn_prev" (click)="signup()">Sign Up</button>
        <button ion-button class="btn_next" (click)="login()">Sign In</button>
      </div>
    </ion-slide>

    <ion-slide class="grey-slide slide-05">
      <div class="slide-image"><img src="assets/img/tutorial/walkthrough-05.jpg" alt="Lorry's walkthrough screens"></div>
      <h2>Easy to post request to move your cargo or shipments.</h2>
      <div class="slide-btns">
          <button ion-button outline class="btn_prev" (click)="signup()">Sign Up</button>
          <button ion-button class="btn_next" (click)="login()">Sign In</button>
      </div>
    </ion-slide>


    <ion-slide class="grey-slide slide-03">
      <div class="slide-image"><img src="assets/img/tutorial/walkthrough-03.jpg" alt="Lorry's walkthrough screens"></div>
      <h2>Receive best rate to choose from various transporters with their rating.</h2>
      <div class="slide-btns">
          <button ion-button outline class="btn_prev" (click)="signup()">Sign Up</button>
          <button ion-button class="btn_next" (click)="login()">Sign In</button>
      </div>
    </ion-slide>

    <ion-slide class="grey-slide slide-04">
      <div class="slide-image"><img src="assets/img/tutorial/walkthrough-04.jpg" alt="Lorry's walkthrough screens"></div>
      <h2>Real-time shipment tracking.</h2>
      <div class="slide-btns">
          <button ion-button outline class="btn_prev" (click)="signup()">Sign Up</button>
          <button ion-button class="btn_next" (click)="login()">Sign In</button>
      </div>
    </ion-slide>

        <ion-slide class="grey-slide slide-02" >
      <div class="slide-image"><img src="assets/img/tutorial/walkthrough-02.jpg" alt="Lorry's walkthrough screens"></div>
      <h2>Rate your driver after shipment completion.</h2>
      <div class="slide-btns">
          <button ion-button outline class="btn_prev" (click)="signup()">Sign Up</button>
          <button ion-button class="btn_next" (click)="login()">Sign In</button>
      </div>
    </ion-slide>



  </ion-slides>
</ion-content>
