page-tutorial {
  ion-header{
    background-image:none;
    padding-top:0;
  }
  ion-content{
  // background-image: -webkit-linear-gradient(bottom, #e84f14, #e84f14 99%);
	// background-image: -moz-linear-gradient(bottom, #e84f14, #e84f14 99%);
	// background-image: -o-linear-gradient(bottom, #e84f14, #e84f14 99%);
	// background-image: -ms-linear-gradient(bottom, #e84f14, #e84f14 99%);
	// background-image: linear-gradient(to top, #e84f14, #e84f14 99%);
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
  top: 30px;
  bottom: initial;
  max-width: 150px;
}
.grey-slide {
  background: #edf3ff;
}
.slide-01 {
  background: url(../assets/img/tutorial/first-step.jpg) 50% 50% no-repeat;
  @include cover-background(cover);
}
.slide-02 {
  background: url(../assets/img/tutorial/second-step.jpg) 50% 50% no-repeat;
  @include cover-background(cover);
}
.slide-03 {
  background: url(../assets/img/tutorial/third-step.jpg) 50% 50% no-repeat;
  @include cover-background(cover);
}
.slide-04 {
  background: url(../assets/img/tutorial/fourth-step.jpg) 50% 50% no-repeat;
  @include cover-background(cover);
}
.slide-05 {
  background: url(../assets/img/tutorial/fifth-step.jpg) 50% 50% no-repeat;
  @include cover-background(cover);
}
.skip-btn {
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 10;
}
.content-ios {
  .skip-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    z-index: 10;
  }
}
.toolbar-background{
  background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}
.btn_skip{
  background:transparent;
  box-shadow: none;
  text-transform: none;
  color:#fff;
  font-weight: 500;
  font-size: 17px;
  z-index: 9999;
  height: auto !important;
  margin: 0px !important;
  padding: 0px !important;
}
.swiper-pagination-bullet{
  background-color:#04b4db;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background: #fff;
}
.bar-button{
      text-transform: uppercase;
.button-inner{
        text-transform: uppercase;
      }
    }
.blue-slide {
  background-image: -webkit-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -moz-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -o-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -ms-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: linear-gradient(to top, #e84f14, #e84f14 99%);
}
.slide-zoom {
    height: 100%;
    padding: 0 25px;
.slide-btns {
  position: absolute;
  bottom: 40px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 25px;
}

.btn_prev{
    text-transform: uppercase;
    background-color:transparent;
    border:1px solid #fff;
    color:#fff;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    float: left;
    padding: 15px 25px;
    box-sizing: border-box;
    min-width: 100px;
}

.btn_next{
    text-transform: uppercase;
    background-color:#fff;
    color:#1a649a;
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    float: right;
    padding: 15px 25px;
    box-sizing: border-box;
    min-width: 100px;
}
  }
h2{
    font-size:15px;
    color: #fff;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    line-height: 25px;
}
.slide-image {
    margin: 90px auto 10px;
    max-width: 255px;
    padding: 0 15px 10px;
    img {
      max-width: 100%;
    }
}
}
