<!--
  Generated template for the AddCreditCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">
            <div class="title-copy">Add Credit Card</div>
      </div>
</ion-navbar>
<div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>


<ion-content padding>
  <div class="scan-card">
    <div class="scan-inner">
      <ion-icon name="camera"></ion-icon> Scan your Card
    </div>
  </div>
  <div class="cards-holder">
    <span><img src="assets/img/master-card.jpg" alt=""></span>
    <span><img src="assets/img/visa.png" alt=""></span>
  </div>
</ion-content>
