page-add-credit-card {
.scan-card {
  background: #0593cc;
  padding: 8px 20px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  .scan-inner {
    position: relative;
    max-width: 130px;
    margin: 0 auto;
    padding-left: 20px;
    .icon {
      font-size: 20px;
      position: absolute;
      top: -1px;
      left: 0px;
    }
  }
}
.cards-holder {
  text-align: right;
  span {
    display: inline-block;
    width: 55px;
    margin: 0 5px;
    img {
      max-width: 100%;
    }
    }
    }
}
