<ion-content scroll="false">
<div class="bg">

    <img src="assets/img/logo.png" class="logo" />


  <div padding class="wrap">
    <button ion-button (click)="signup()" class="btn_signup">{{ 'SIGNUP' | translate }}</button>
    <button ion-button outline (click)="login()" class="btn_signin">Already have an account? &nbsp;<span class="secondary">{{ 'LOGIN' | translate }}</span></button>


      <p class="copyright" id="country_name_pak">

      </p>

    <div class="copyright"><strong>Copyright &copy; 2019, </strong> LORRYZ FZ-LLC</div>
  </div>

</div>
</ion-content>
