page-welcome {
.content{
  background: url('../assets/img/bg_00.jpg') no-repeat transparent;
  background-position: center;
  background-size:cover;
}
.bg{




    .logo{
      width: 200px;
      display: table;
      margin: 0 auto;
      padding-top: 100px;
    }

    .wrap{
      position: absolute;
      width: 100%;
      bottom: 50px;

      .btn_signup{
        width:100%;
        background-color: #fff;
        color:#0a3a80;
        font-weight: bold;
        font-size:20px;
        text-transform: uppercase;
        border-radius: 0;
        height: 45px;
        margin-bottom:20px;
      }
      .btn_signin{
        width:100%;
        border:1px solid #d5f9ff;
        border-radius: 0;
        font-size:15px;
        height: 45px;
        color:#fcfcfc;


        span.button-inner{
          font-size:12px !important;

      }

      span.secondary{
          font-size:20px;
          color:#fff;
          font-weight: bold;
          text-transform: uppercase;
        }

      }
    }
}

  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.jpg') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
