page-new-shipment-drop-off {


  .scroll {
    height: 100%
  }
  .search-holder {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
    z-index: 999;
    &:after {
        font-family: "Ionicons";
        font-size: 20px;
        content: "\f4a5";
        position: absolute;
        top: 6px;
        right: 7px;
        width: 18px;
        height: 20px;
        color: #707070;
        display: inline-block;
    }
    ion-searchbar {
      //  box-sizing: border-box;
        width: 100%;
        padding: 7px 30px 7px 15px;;
      //  background: white;
      //  border: 1px solid #ccc;
        position: relative;
        color: #707070;
        @include placeholder(#707070);
        font-weight: 400;
    }
  }
  ion-searchbar {
//    box-sizing: border-box;
    width: 100%;
    padding: 7px 30px 7px 15px;;
  ///  background: white;
    //border: 1px solid #ccc;
    position: relative;
    color: #707070;
    @include placeholder(#707070);
    font-weight: 400;
}
  #map {
    width: 100%;
    height: 100%;
    }


    ion-footer{
        background: white;
        .pin-info{
        background: #e0ffdc;
        padding: 2px 5px;
        border: 1px solid #acacac;
        color: #6d6d6d;
        font-size: 10px;
        border-left: 0px;
        border-right: 0px;
      }

hr{
    border-top:2px solid #ddd;
    width:85%;
    margin:0 auto;
}

.wrapper{
    padding:5px 10px 15px 10px;
    .ring_icon{
        width:16px;
        position: absolute;
        left:15px;
        top:20px;
        height: 74px;
    }

    .text_wrap{
        margin-left:30px;
        p{
            font-weight: bold;
            color:#353535;
            line-height: 1.3;
            margin:0;
            font-size:12px;
            span{
                color:#6d6d6d;
                font-size: 12px;
                font-weight: normal;
                display: block;
            }
        }
    }

    .icons_wrap{
        text-align: right;

        .search_icon{
            width:30px;
            display: inline-block;
        }
        .favorite_icon{
            width:20px;
            vertical-align: 5px;
            display: inline-block;
            margin-left:5px;
        }
    }
}

        .btn_lets_go{
            background-color:#e84f14;
            color:#fff;
            width:100%;
            border-radius: 0;
            padding: 28px 0;
            margin: 0;
            font-size:16px;
            border:none;
            // text-transform: uppercase;
        }
        .btn{
          background-color:#e84f14;
          color:#fff;
           width:100%;
           border-radius: 0;
           padding: 28px 0;
           margin: 0;
           font-size:16px;
           text-transform: uppercase;
           //height: 75%;
           border:none;
           // text-transform: uppercase;
      }
    }
    .address-outer {
        padding: 10px 0px 5px 20px;
        position: relative;
    }

    .address-one {
        padding: 0 0 20px 20px;
        margin-bottom: 5px;
        color: #353535;
        font-size: 12px;
        font-weight: 400;
        position: relative;
        background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
        &:before {
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0px;
            left: -7px;
            background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
            background-size: 16px 16px;
        }
    }

    .address-two {
        padding: 0 0 10px 20px;
        color: #353535;
        font-size: 12px;
        font-weight: 400;
        position: relative;
        span {
            display: block;
            font-size: 14px;
            font-weight: 400;
        }
        &:before {
            content: "";
            width: 16px;
            height: 26px;
            position: absolute;
            top: -3px;
            left: -7px;
            background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
            background-size: 16px 26px;
        }
    }
}
