<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
        </button>
        <div class="page-title clearfix">Select Dropoff</div>
  </ion-navbar>
  <ion-toolbar>
    <div class="top-links">
      <ul class="top-nav-list">
        <li (click)="openNew()" class="active">New</li>
        <li (click)="openPosted()">Posted</li>
        <li (click)="openOngoing()">Ongoing</li>
        <li (click)="openUpcoming()">Upcoming</li>
        <li (click)="openCompleted()">Completed</li>
      </ul>
   </div>

  </ion-toolbar>
<div class="notifications-holder" (click)='showNotification()'>
    <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
        <span class="inner">{{globalVar.current_user.notification_count}}</span>
    </div>
</div>
</ion-header>



<ion-content>
    <div style="position: absolute;top: 10px;width: 100%;z-index: 999;">
      <ion-searchbar #searchbar autocomplete="auto" debounce="500" placeholder="Search Drop-off Location"
    [cancelButtonText]="'X'"
    ></ion-searchbar>
    </div>    <!-- <input id="auto1" type="text" name="search" placeholder="Search Drop-off Location" class="search" value="{{drop_location}}"> -->
  <div #map id="map"></div>
</ion-content>


<ion-footer>
    <!-- <div class="pin-info">Drag the map to select the location</div> -->
    <div class="wrapper">
        <div class="address-outer">
          <div class="address-one">
              {{pickup_building_name}} {{pickup_location}}
          </div>
          <div class="address-two">
           {{dropoff}} {{drop_location}}
          </div>
        </div>

    </div>
  <div *ngIf="(company_category == 'cargo')&&(company_type == 'individual'); then thenBlock else elseBlock">

  </div>

  <ng-template #thenBlock>


        <button ion-button class="btn_lets_go" style="color:#fff;" (click)=pickupnow() [disabled]="disabled()">
            Pick-up Now
        </button>


  </ng-template>


  <ng-template #elseBlock>

  <button ion-button class="btn_lets_go" (click)=letsgo() [disabled]="disabled()">Add Cargo Details</button>
</ng-template>

</ion-footer>

