<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">Payment</div>
</ion-navbar>
    <ion-toolbar>
      <div class="top-links">
        <ul class="top-nav-list">
          <li class="active" (click)="openBalance()">Payable & Receivable</li>
          <!-- <li (click)="openWithDraw()">Withdraw</li> -->
          <!-- <li (click)="openCreditCard()">Credit Card</li> -->
        </ul>
      </div>

    </ion-toolbar>
    <div class="notifications-holder" (click)='showNotification()'> 
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>
</ion-header>


<ion-content class="vehicle-listing">

  <div class="balance-header" *ngIf="shipments.receivable > (shipments.payable + shipments.cancel_payable) ">
    <h1>Current Receivable</h1>
    <div class="balance-holder">
      <span class="balance">{{(shipments.receivable - (shipments.payable + shipments.cancel_payable)) | currency: globalVar.current_user.country.currency + " "}}</span>
      <span>Receive From Lorryz</span>
    </div>
  </div>

  <div class="balance-header" *ngIf="(shipments.payable + shipments.cancel_payable) >= shipments.receivable">
    <h1>Current Payable</h1>
    <div class="balance-holder">
      <span class="balance">{{((shipments.payable + shipments.cancel_payable) - shipments.receivable) | currency: globalVar.current_user.country.currency + " "}}</span>
      <span class="pay-to-lorryz">Pay to Lorryz</span>
    </div>
  </div>

  <div class="table-heading clearfix">
    <div class="column shipment-number">Shipment No.</div>
    <div class="column payment-mode">Payment Mode</div>
    <div class="column amount">Amount</div>
  </div>
  <ion-list>
    <ion-item class="driver-row clearfix" *ngFor="let shipment of shipments.shipments">
      <div class="inner-column name">{{shipment.id}} <span>{{shipment.pickup_date | date: 'MMM dd, yyyy'}}</span> </div>
      <div class="inner-column payment-mode">{{shipment.payment_option}} </div>

      <div class="inner-column amount" *ngIf="shipment.state == 'cancel'">{{shipment.cancel_charges | currency: globalVar.current_user.country.currency + " "}}</div>
      <div class="inner-column amount"  *ngIf="shipment.state == 'completed'">{{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</div>
    </ion-item>
  </ion-list>
  <div class="totals-visual">
    <div class="totals-row clearfix">
      <div class="totals-left total">Total Amount:</div>
      <div class="totals-right">{{shipments.total_amount | currency: globalVar.current_user.country.currency + " "}}</div>
    </div>
    <div class="totals-row clearfix">
      <div class="totals-left">Lorryz Commission:</div>
      <div class="totals-right">{{shipments.lorryz_comission | currency: globalVar.current_user.country.currency + " "}}</div>
    </div>
   <!--  <div class="totals-row clearfix">
      <div class="totals-left">VAT:</div>
      <div class="totals-right">{{shipments.tax | currency: globalVar.current_user.country.currency + " "}}</div>
    </div> -->

  </div>

</ion-content>
