<ion-header>
   <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">Ongoing Shipments</div>
   </ion-navbar>
	<ion-toolbar>
	  <div class="top-links">
	    <ul class="top-nav-list">
	      <li (click)="openNew()">New</li>
	      <li (click)="openActive()">Active</li>
	      <li (click)="openWon()">Won</li>
	      <li class="active" (click)="openOngoing()">Ongoing</li>
	      <li (click)="openCompleted()">Completed</li>
	    </ul>
	  </div>
	
	</ion-toolbar>
<div class="notifications-holder" (click)='showNotification()'> 
    <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
        <span class="inner">{{globalVar.current_user.notification_count}}</span>
    </div>
</div>
</ion-header>

<ion-content>
	<div #map id="map">
  </div>
</ion-content>

<ion-footer>
  <button ion-button class="btn_lets_go" (click)=ongoingShipmentList() >List</button>
</ion-footer>