page-fleet-ongoing-shipment-map {
	.scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;

  }
  .btn_lets_go{
    background-color:#0596ce;
    color:#fff;
    width:100%;
    border-radius: 0;
    padding: 20px 0;
    margin: 0;
    font-size:16px;
    text-transform: uppercase;
  }
  .map-pin-holder {
      //background: rgba(7, 65, 169, 0.94);
      padding: 0px;
      max-width: 220px;
      margin: 0 0 0px 5px;
      position: relative;
      h1 {
          color: #000;
          font-weight: 500;
          font-size: 15px;
          padding: 0 0 15px 0px;
          margin: 0px;
      }
      .pin-row {
        .fleet-col-left {
            float: left;
            width: 39%;
            box-sizing: border-box;
            padding: 0 5px 0 5px;
            .truck-row {
              padding: 0 0 10px;
              span {
                display: block;
                padding: 0 0 5px;
                text-align: center;
                color: #000;
                font-size: 13px;
                font-weight: 400;
                img {
                  max-width: 50px;
                }
              }
            }
            .truck-number {
              max-width: 90%;
              background: #fff;
              color: #000;
              border: 1px solid #000;
              padding: 2px;
              text-align: center;
              font-weight: 600;
              text-transform: uppercase;
            }
        }
        .fleet-col-right {
            float: right;
            width: 58%;
            box-sizing: border-box;
            padding: 0 5px 0 0px;
            .address-outer {
                padding: 0 0px 10px;
                position: relative;
            }
            .address-one {
                padding: 0 0 20px 20px;
                margin-bottom: 5px;
                color: #000;
                font-size: 12px;
                font-weight: 400;
                position: relative;
                background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
                &:before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 0px;
                    left: -7px;
                    background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
                    background-size: 16px 16px;
                }
            }
            .address-two {
                padding: 0 0 0px 20px;
                color: #000;
                font-size: 12px;
                font-weight: 400;
                position: relative;
                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                }
                &:before {
                    content: "";
                    width: 16px;
                    height: 26px;
                    position: absolute;
                    top: -3px;
                    left: -7px;
                    background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
                    background-size: 16px 26px;
                }
            }
            .pickup-date {
                font-size: 13px;
                color: #353535;
                font-weight: 400;
                span {
                    font-weight: 300;
                    display: block;
                }
            }
        }
      }
    }
}
