page-new-shipment-drop-off-location {


    .scroll-content{
        background-color:#edf3ff;

        form{
            .list{
                margin:0;
            }
        }

        .head_p{
            color:#393939;
            padding:0 15px;
        }
    }

    .wrapper_blue{
        background-color:#0596ce;
        padding: 1px 0;
        text-align: center;

        p{
            color:#fff;
            margin: 8px 0;

            .thumb_pin{
                width: 15px;
                vertical-align: middle;

            }
        }
    }
    ion-item{
        .search{
            border:none;
            width:100%;
        }
    }

    .loop_wrap{

        background-color:#fff;
        border-top:1px solid #ddd;

        .box_one{
            width:50px;
            text-align: center;
            display: inline-block;

            span{
                color:#393939;
                font-size:11px;
            }
            .location_outline_icon{
                width:20px;
                display: block;
                margin: 0 auto;
            }
        }

        .box_two{
            display: inline-block;
            position: relative;
            width: calc(100% - 55px);

            p{
                strong{
                    display: block;
                    line-height: 1.5;
                }

                ion-icon{
                    display: inline-block;
                    position: absolute;
                    right: 15px;
                    top: 16px;
                    font-size: 22px;
                    color:#e84f14;
                }

            }
        }

    }



    .btn_lets_go{
        background-color:#0596ce;
        color:#fff;
        width:100%;
        border-radius: 0;
        padding: 28px 0;
        margin: 0;
        font-size:16px;
        text-transform: uppercase;
    }
}
