<!--
  Generated template for the FleetRateShipmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="modal-holder">
    <div class="close-modal" (click)="dismiss()">
      <img src="assets/img/close-modal.png" alt="" >
    </div>
    <h1>Rate Your Shipment</h1>
    <div class="ratings-holder">
      <rating [(ngModel)]="rating"
        readOnly="false"
        max="5"
        emptyStarIconName="star-outline"
        halfStarIconName="star-half"
        starIconName="star"
        nullable="false"
        (ngModelChange)="onModelChange($event)">
    </rating>
    </div>
    <div class="remarks-holder">
      <h2>Remarks</h2>
      <textarea [(ngModel)]="remarks" name="name" class="input-textarea"></textarea>
      <div class="buttons-holder">
        <input type="submit" name="" value="Submit" class="submit-btn" (click)="submit()">
      </div>
    </div>
  </div>
</ion-content>
