page-fleet-rate-shipment {
  ion-content {
    background: none !important;
    .modal-holder {
      margin: 140px 10px 0;
      background: white;
      border: 1px solid #a1a1a1;
      border-top: none;
      -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      position: relative;
      h1 {
        color: #0094b9;
        font-size: 17px;
        font-weight: 500;
        padding: 35px 0 30px;
        margin: 0px;
        border-top: 6px solid #0094b9;
        text-align: center;
      }

    }
    .ratings-holder {
      padding: 0 0 30px;
      text-align: center;
    }
    .remarks-holder {
      padding: 0 0 40px;
      max-width: 240px;
      margin: 0 auto;
      h2 {
        padding: 0px 0 2px;
        margin: 0px;
        font-size: 13px;
        font-weight: 500;
        color: #000;
      }
      .input-textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        height: 100px;
        border: 1px solid #d4d4d5;
        resize: none;
        margin-bottom: 35px;
      }
      .buttons-holder {
        text-align: center;
        .submit-btn {
          display: inline-block;
          background: #0094b9;
          color: #fff;
          font-size: 13px;
          font-weight: 400;
          padding: 7px 30px;
          text-transform: uppercase;
          &:hover {
            background: #019ca6;
            @include transitions(0.5s);
          }
        }
      }
    }
  }
  .close-modal {
    position: absolute;
    top: 15px;
    right: 6px;
    z-index: 50;
    cursor: pointer;
    img {
      max-width: 25px;
    }
  }
  ul.rating {
    display: block;
    margin: 0px;
    padding: 0px;
    li {
        padding: 0 3px 0 0 !important;
        &:last-child {
            padding: 0 0px 0 0 !important;
        }
        ion-icon {
            color: #727272;
            &.ion-ios-star {
                color: #ffc300;
            }
            &.ion-md-star {
                color: #ffc300;
            }
        }
    }
  }
}
