<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="page-title clearfix">Ongoing Shipments</div>
</ion-navbar>
<ion-toolbar>
  <div class="top-links">
    <ul class="top-nav-list">
      <li (click)="openNew()">New</li>
      <li (click)="openPosted()">Posted</li>
      <li (click)="openOngoing()" class="active">Ongoing</li>
      <li (click)="openUpcoming()">Upcoming</li>
      <li (click)="openCompleted()">Completed</li>
    </ul>
  </div>

</ion-toolbar>
<div class="notifications-holder" (click)='showNotification()'>
    <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
        <span class="inner">{{globalVar.current_user.notification_count}}</span>
    </div>
</div>
</ion-header>


<ion-content>
  <div class="ongoing-detail-header">
    <h1>Shipment No. {{shipment.id}}</h1>
    <div class="list-call-icon" (click)="callFleet()">Call Fleet Owner</div>
    <!-- <span class="status cursor" (click)="openPodPage()">Shipment Documents</span> -->
    <div class="fleet-row clearfix">
      <div class="fleet-col-left">
        <div class="bids">
          <span class="bid-amount">{{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</span>
          <span class="bid-vehicle"> {{shipment.amount/shipment.no_of_vehicles | currency: globalVar.current_user.country.currency + " "}}/vehicle</span>
        </div>
        <div class="buttons-holder">
          <div class="truck-row">
            <span><img src="assets/img/truck.png" alt="" ></span>
            <span>{{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}</span>
          </div>
        </div>
        <div class="bids">
          <div *ngIf="(companycategory == 'cargo')&&(companytype == 'individual'); then ShowETA "></div>
        <ng-template #ShowETA>
          <span class="bid-amount">Vehicle arriving in</span>
          <span id="fleet_distance" class="truck-row" style="font-size: medium;"></span>
        </ng-template>
      </div>
      </div>
      <div class="fleet-col-right">
        <div class="address-outer">
          <div class="address-one">
            {{shipment.pickup_location}}
          </div>
          <div class="address-two">
            {{shipment.drop_location}}
            <!-- <span class="change">Change</span> -->
            <span class="change" (click)="changeDestination()">Change</span>
          </div>
        </div>
        <div class="trackng_code" (click)="copyTrackingCode()">Copy tracking code to clipboard</div>
        <div class="trackng_code_doc" (click)="openPodPage()">Shipment Documents</div>
      </div>
    </div>
  </div>
  <div class="payment-mode" >
    <span>Payment Mode:</span>
    {{shipment.payment_option}}
    <span class="received" *ngIf="shipment.paid_by_cargo">Received</span>
  </div>
  <!-- <div class="payment-mode" *ngIf='!pickupnow'>
    <span>Payment Mode:</span>
    Credit {{shipment.payment_option}} Days
     <span class="received" *ngIf="shipment.paid_by_cargo">Received</span>
  </div> -->

  <div *ngIf="(companycategory == 'cargo')&&(companytype == 'individual'); then dontShowText else ShowText"></div>

  <ng-template #dontShowText>

      <p  class="charges-text">* All Bid amount/rates provided here are purely transportation cost only.</p>

</ng-template>


  <ng-template #ShowText>

    <p class="charges-text">* All Bid amount/rates provided here are purely transportation cost only. All other cost will be charged at Actual.</p>


  </ng-template>


    <div class="dropoff-slider-holder">
      <ion-slides pager="true" dir="{{dir}}" #slides1  (ionSlideDidChange)="loadVehicles()">
        <ion-slide class="grey-slide" *ngFor="let vehicle of shipment.vehicles" >
          <div class="driver clearfix">
            {{vehicle.driver_name}}
          </div>
          <ion-item class="range-slider-holder">
            <ion-range min="100" max="600" step="100" snaps="true" color="secondary" [(ngModel)]="vehicle.status_code" disabled></ion-range>
            <ion-label class="labels-col booked">Booked</ion-label>
            <ion-label class="labels-col start">Start</ion-label>
            <ion-label class="labels-col loading">Loading</ion-label>
            <ion-label class="labels-col enroute">Driving</ion-label>
            <ion-label class="labels-col unloading">Unloading</ion-label>
            <ion-label class="labels-col finish">End</ion-label>
          </ion-item>
          <div class="route">
            <span class="route-number">{{vehicle.registration_number}}</span>
            <span>{{vehicle.status|titlecase}}
              <span *ngIf="vehicle.status != 'booked'"> {{getVehicleStatus(vehicle)}}</span>
            </span>
          </div>
        </ion-slide>
      </ion-slides>
    </div>


  <div class="" #map id="map">

  </div>
</ion-content>
