page-ongoing-shipment-detail {
  .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 300px;
  }
	.ongoing-detail-header {
    background: #f2fcfd;
    padding: 10px 10px 0;
    position: relative;
    h1 {
        color: #353535;
        font-weight: 500;
        font-size: 15px;
        padding: 10px 0 20px 20px;
        margin: 0px;
    }
  }
  .trackng_code{
    cursor: pointer;
    font-size: 10px;
    color: white;
    background: #e84f14;
    padding: 4px 6px;
  }
  .trackng_code_doc{
    cursor: pointer;
    font-size: 10px;
    color: white;
    background: #e84f14;
    padding: 4px 6px;
    margin-top:3%;
  }
  .fleet-row {
      padding: 0 0 10px 0px;
      .fleet-col-left {
          float: left;
          width: 45%;
          box-sizing: border-box;
          padding: 0 10px 0 10px;
          .bids {
              padding: 0 0 15px;
              span {
                  display: block;
                  font-size: 14px;
                  color: #353535;
                  font-weight: 300;
                  text-align: center;
                  padding: 0px 0px 2px;
                  &.bid-amount {
                      font-weight: 500;
                      color: #e84f14;
                      font-size: 15px;
                  }
                  &.bid-vehicle {
                      font-weight: 300;
                      color: #353535;
                      font-size: 12px;
                  }
              }
          }
      }
      .fleet-col-right {
          float: right;
          width: 55%;
          box-sizing: border-box;
          padding: 0 5px 10px 20px;
          border-left: 1px solid #7d7d7d;
          .address-outer {
              padding: 0 0px 5px;
              position: relative;
          }
          .distance-holder {
              font-size: 11px;
              color: #353535;
              position: absolute;
              top: 27px;
              left: -23px;
              webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
              font-weight: 500;
          }
          .address-one {
              padding: 0 0 20px 15px;
              margin-bottom: 5px;
              color: #353535;
              font-size: 12px;
              font-weight: 400;
              position: relative;
              background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
              &:before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  top: 0px;
                  left: -7px;
                  background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
                  background-size: 16px 16px;
              }
              .enroute {
                padding: 15px 0 0px;
                span {
                  display: block;
                  font-size: 12px;
                  font-weight: 400;
                  color: #e84f14;
                  &.destination {
                    color: #848484;
                    font-size: 11px;
                  }
                }
              }
          }

          .address-two {
              padding: 0 0 0px 15px;
              color: #353535;
              font-size: 12px;
              font-weight: 400;
              position: relative;
              span {
                  display: block;
                  font-size: 14px;
                  font-weight: 400;
                  &.change {
                    color: #e84f14;
                    font-weight: 500;
                    cursor: pointer;
                    padding: 5px 0 0;
                    font-size: 12px;
                  }
              }
              &:before {
                  content: "";
                  width: 16px;
                  height: 26px;
                  position: absolute;
                  top: -3px;
                  left: -7px;
                  background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
                  background-size: 16px 26px;
              }
          }

          .pickup-date {
              font-size: 13px;
              color: #353535;
              font-weight: 400;
              span {
                  font-weight: 300;
                  display: block;
              }
          }
      }
  }
  .truck-row {
    padding: 0px 0 10px;
    span {
      display: block;
      text-align: center;
      font-weight: 500;
      color: #353535;
      font-size: 12px;
      padding: 0 0 2px;
      img {
        max-width: 42px;
      }
    }
  }
  .payment-mode {
    background: #e0ffdc;
    padding: 7px 10px;
    border: 1px solid #acacac;
    color: #313131;
    font-size: 12px;
    border-left: 0px;
    border-right: 0px;
    span {
      color: #6d6d6d;
      padding: 0 4px 0 0;
      &.received {
        display: block;
        font-weight: 500;
        color: #139f00;
        padding: 4px 0 0;
      }
    }
  }
  .map-holder {
    padding: 0 0 0;
    margin: 0px;
    background: #f2fcfd;
    img {
      max-width: 100%;
    }
  }
  .dropoff-slider-holder {
    background: #f2fcfd;
    padding: 15px 15px;
    margin: 0px;
  }
  .slide-zoom{
    text-align: left;
  }
  .grey-slide {
    padding-bottom: 30px;
  }
  .expected-dropoff {
    font-size: 15px;
    font-weight: 400;
    color: #353535;
    padding: 0 0 5px;
  }
  .driver {
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    padding: 0 0 20px;
    span {
      display: inline-block;
      max-width: 32px;
      img {
        max-width: 100%;
        display: inline-block;
          margin: 0 0 -8px 4px;
      }
    }
  }
  .route {
    padding: 0 0 0;
    span {
      display: inline-block;
      color: #e84f14;
      font-size: 13px;
      font-weight: 500;
      & span {
        display: block;
        color: #5f5f5f;
        font-size: 12px;
        font-weight: 300;
      }
      &.route-number {
        border: 1px solid #5f5f5f;
        background: #fff;
        color: #5f5f5f;
        padding: 5px 10px;
        font-size: 13px;
        font-weight: 500;
        float: left;
        margin: 0 5px 0 0;
      }
    }
  }
  .swiper-pagination-bullet {
    background: none;
    border: 2px solid #636363;
    width: 12px;
    height: 12px;
    margin: 0px 5px 0 !important;
    opacity: 1 !important;
    display: inline-block !important;
    float: left;
    &.swiper-pagination-bullet-active {
      border: none;
      background: #0593cc;
      margin-top: 0px !important;
    }
  }
  .swiper-pagination {
    text-align: center;
  }
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px;
    max-width: 150px;
    margin: 0 auto;
    left: 57%;
    margin-left: -50px;
  }

  .range-slider-holder {
    background: #f2fcfd !important;
    padding: 0px 0px 40px !important;
    margin: 0 0px;
    .item-inner {
      border-bottom: 0px !important;
      padding: 0px !important;
      position: relative;
    }

  }
  .labels-col {
    position: absolute;
    bottom: -15px;
    font-size: 10px;
    color: #000;
    &.active {
       color: #4a9a27;
    }
    &.booked {
      left: 0px;
    }
    &.start {
      left: 18%;
    }
    &.loading {
      left: 36%;
    }
    &.enroute {
      left: 54%;
    }
    &.unloading {
      right: 11%;
    }
    &.finish {
      right: -7px;
    }
  }
  .range-slider {
    height: auto !important;
    width: 100%;
    background: #d2e9f3;
    padding: 7px 10px;
    @include border-radius(20px);
    border: 1px solid #efefef;
  }
  .range-bar {
    background: #9fa2a5 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #9fa2a5 0%, #bbbcbd 13%, #c8c8c8 25%, #d4d4d4 75%, #d5d5d5 88%, #d3d3d3 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9fa2a5 0%,#bbbcbd 13%,#c8c8c8 25%,#d4d4d4 75%,#d5d5d5 88%,#d3d3d3 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9fa2a5 0%,#bbbcbd 13%,#c8c8c8 25%,#d4d4d4 75%,#d5d5d5 88%,#d3d3d3 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fa2a5', endColorstr='#d3d3d3',GradientType=0 ) !important; /* IE6-9 */
    height: 5px !important;
    top: 5px !important;
    margin-left: 0px !important;
    @include border-radius(20px);
}
  .range-bar-active {
    background: #0746ad !important; /* Old browsers */
    background: -moz-linear-gradient(top, #0746ad 0%, #2374cd 13%, #1e62b7 25%, #1973bf 38%, #0475c1 50%, #0699cd 75%, #1aafda 88%, #0587c5 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0746ad 0%,#2374cd 13%,#1e62b7 25%,#1973bf 38%,#0475c1 50%,#0699cd 75%,#1aafda 88%,#0587c5 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0746ad 0%,#2374cd 13%,#1e62b7 25%,#1973bf 38%,#0475c1 50%,#0699cd 75%,#1aafda 88%,#0587c5 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0746ad', endColorstr='#0587c5',GradientType=0 ) !important; /* IE6-9 */
    height: 5px !important;
    top: 5px !important;
    margin: 0 5px;
  }
  .range-knob {
    width: 40px !important;
    height: 40px !important;
    background: url(../assets/img/range-slider-handle.png) 0px 0px no-repeat !important;
    top: -11px !important;
    left: 7px !important;
    box-shadow: none !important;
  }
  .range-knob-handle {
    box-shadow: none !important;
  }
  .range-md.range-disabled .range-knob {
    outline: 0px !important;
  }
  .list-call-icon {
      cursor: pointer;
      font-size: 14px;
      color: white;
      font-weight: 400;
      position: absolute;
      top: 10px;
      right: 10px;
      background: #e84f14;
      padding: 4px 15px;
      @include transitions(0.5s);
      &:hover {
          background: #019ca6;
      }
  }
}
