<ion-header>
  <ion-navbar>
        <div class="page-title clearfix">Content</div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    This is a perfect starting point for a page with primarily text content. The body is padded nicely and ready for prose.
  </p>
</ion-content>