page-payment-detail-modal {
    ion-content {
      background: none !important;
      .modal-holder {
        margin: 85px 10px;
        background: white;
        border: 1px solid #a1a1a1;
        border-top: none;
        -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      	-moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      	box-shadow: 3px 4px 16px rgba(0,0,0,.18);
        position: relative;
        h1 {
          color: #0094b9;
          font-size: 16px;
          font-weight: 500;
          padding: 15px 0 10px 15px;
          margin: 0px;
          border-top: 10px solid #0094b9;
    }
    .payment-date {
        padding: 0px 30px 20px 0;
        font-size: 14px;
        text-align: right;
        span {
            display: block;
            font-size: 14px;
            color: #0a98bc;
            font-weight: 500;
        }
    }
    .shipment-number {
        padding: 0px 20px 30px 15px;
        font-size: 14px;
        font-weight: 400;
        span {
            display: block;
            padding: 4px 0 0;
            font-size: 13px;
            font-weight: 300;
        }
    }
        .fleet-row {
            padding: 0 0 15px 0px;
            .fleet-col-left {
                float: left;
                width: 35%;
                box-sizing: border-box;
                padding: 0 5px 0 5px;
                border-right: 1px solid #7d7d7d;
                .bids {
                    padding: 0 0 0px;
                    margin-bottom: 10px;
                    span {
                        display: block;
                        font-size: 14px;
                        color: #353535;
                        font-weight: 300;
                        text-align: center;
                        padding: 0px 0px 2px;
                        &.bids-counter {
                          padding-bottom: 12px;
                          font-size: 15px;
                          font-weight: 300;
                          span {
                            display: block;
                            font-size: 14px;
                          }
                        }
                        &.pickup-date {
                          font-size: 12px;
                          color: #353535;
                        }
                        &.bid-amount {
                            font-weight: 500;
                            color: #353535;
                            font-size: 14px;
                        }
                        &.bid-vehicle {
                            font-weight: 500;
                            color: #353535;
                            font-size: 12px;
                        }
                    }
                    .truck-row {
                      span {
                        font-size: 12px;
                        color: #353535;
                        font-weight: 300;
                        display: block;
                        img {
                          max-width: 40px;
                        }
                      }
                    }
                }
            }
            .fleet-col-right {
                float: right;
                width: 65%;
                box-sizing: border-box;
                padding: 0 5px 0 20px;
                .address-outer {
                    padding: 0 0px 10px;
                    position: relative;
                }
                .distance-holder {
                    font-size: 11px;
                    color: #353535;
                    position: absolute;
                    top: 27px;
                    left: -23px;
                    webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    font-weight: 500;
                }
                .address-one {
                    padding: 0 0 10px 15px;
                    margin-bottom: 5px;
                    color: #353535;
                    font-size: 12px;
                    font-weight: 400;
                    position: relative;
                    background: url('../assets/img/dotted-border.jpg') 0px 0px repeat-y;
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 0px;
                        left: -7px;
                        background: url('../assets/img/address-before.jpg') 0px 0px no-repeat;
                        background-size: 16px 16px;
                    }
                }
                .address-two {
                    padding: 0 0 0px 15px;
                    color: #353535;
                    font-size: 12px;
                    font-weight: 400;
                    position: relative;
                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    &:before {
                        content: "";
                        width: 16px;
                        height: 26px;
                        position: absolute;
                        top: -3px;
                        left: -7px;
                        background: url('../assets/img/location-icon.png') 0px 0px no-repeat;
                        background-size: 16px 26px;
                    }
                }

            }
        }
        .buttons-holder {
          padding: 0px 10px 10px;
          margin: 0 0px 10px;
          .cancel-button {
            float: left;
            background: white;
            border: 1px solid #555555;
            cursor: pointer;
            padding: 8px 20px;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
          }
          .submit-btn {
            background: #0094b9;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            padding: 8px 20px;
            cursor: pointer;
            text-transform: uppercase;
            border: 1px solid #0094b9;
            box-sizing: border-box;
            width: 100%;
          }
        }
      }
  }
  .cash-col {
      padding: 0 15px 0px;
      .cash-row {
          padding: 0 0 10px;
          span {
              float: left;
              width: 50%;
              font-size: 14px;
              font-weight: 400;
              &.cash {
                  color: #04a200;
                  text-align: right;
                  font-weight: 500;
              }
              &.commission {
                 color: #0094b9; 
              }
          }
      }
  }
  .paid-stamp {
      padding: 0 35px 10px 0;
      text-align: right;
      margin: 0 0 0;
      img {
          max-width: 160px;
          display: inline-block;
      }
  }
  .close-modal {
    position: absolute;
    top: 5%;
    right: 10px;
    z-index: 50;
    cursor: pointer;
    img {
      max-width: 25px;
    }
  }
}
