<ion-content>
  <div class="modal-holder">
    <div class="close-modal" (click)="dismiss()">
      <img src="assets/img/close-modal.png" alt="" >
    </div>
    <h1>Payment Receipt</h1>
    <div class="payment-date">
        Payment Date <span>{{shipment.invoice_date}}</span>
    </div>
    <div class="shipment-number">
        Shipment No. {{shipment.id}} <span>Pick up date: {{shipment.pickup_date}}</span>
    </div>

    <div class="fleet-row clearfix">
        <div class="fleet-col-left">
            <div class="bids">
                <div class="truck-row">
                    <span><img src="assets/img/truck.png" alt="" ></span>
                    <span>{{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}</span>
                </div>
            </div>
        </div>
        <div class="fleet-col-right">
            <div class="address-outer">
                <div class="address-one">
                    {{shipment.pickup_location}}
                </div>
                <div class="address-two">
                    {{shipment.drop_location}}
                </div>
            </div>

        </div>
    </div>

    <div class="cash-col">
        <div class="cash-row clearfix" *ngIf="shipment.state == 'cancel'">
        <span>Cancellation Charges:</span>
            <span class="cash" *ngIf="shipment.cancel_charges">{{shipment.cancel_charges | currency: globalVar.current_user.country.currency + " "}}</span>
        </div>
        <div class="cash-row clearfix" *ngIf="shipment.state == 'completed'">
            <span>{{shipment.payment_option}}:</span>
            <span class="cash">{{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</span>
        </div>
        <div class="cash-row clearfix" *ngIf="shipment.state == 'completed'">
            <span>Vehicle Detention:</span>
            <span class="cash">{{shipment.detention | currency: globalVar.current_user.country.currency + " "}}</span>
        </div>
        <div class="cash-row clearfix" *ngIf="shipment.state == 'completed'">
            <span>Lorryz Commission</span>
            <span class="cash commission">{{shipment.lorryz_share_amount | currency: globalVar.current_user.country.currency + " "}}</span>
        </div>
    </div>
    <div class="paid-stamp">
        <img src="assets/img/paid-stemp.png" alt="paid-stemp">
    </div>

    <div class="buttons-holder clearfix">
      <button type="button" class="submit-btn download" (click)="download()">Send In Email</button>
    </div>
  </div>
</ion-content>
