<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <div class="page-title clearfix">
            <div class="title-copy">Ongoing Shipments</div>
            <div class="filter-arrow-holder">
                <div *ngIf="ascending"><img src="assets/img/up-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
                <div *ngIf="!ascending"><img src="assets/img/down-arrow-icon-white.png" alt="" (click)="sortBy()"></div>
            </div>
        </div>
  </ion-navbar>

  <ion-toolbar>
    <div class="top-links">
      <ul class="top-nav-list">
        <li (click)="openNew()">New</li>
        <li (click)="openPosted()">Posted</li>
        <li (click)="openOngoing()" class="active">Ongoing</li>
        <li (click)="openUpcoming()">Upcoming</li>
        <li (click)="openCompleted()">Completed</li>
      </ul>
    </div>

  </ion-toolbar>
<div class="notifications-holder" (click)='showNotification()'>
    <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
    <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
        <span class="inner">{{globalVar.current_user.notification_count}}</span>
    </div>
</div>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="shipments.length == 0 && loaded"> No Shipments are available currently under this state.</div>
  <div class="fleet-card" *ngFor="let shipment of shipments" (click)="openOngoingDetail(shipment.id)">
    <h1>Shipment No. {{shipment.id}}</h1>
    <div class="fleet-row clearfix">
        <div class="fleet-col-left">
            <div class="bids">
                <span class="bids-counter">{{shipment.amount | currency: globalVar.current_user.country.currency + " "}}</span>
                <div class="truck-row">
                    <span><img src="assets/img/truck.png" alt="" ></span>
                    <span>{{shipment.no_of_vehicles}} x {{shipment.vehicle_type}}</span>
                </div>
            </div>
        </div>
        <div class="fleet-col-right">
            <div class="address-outer">
                <div class="address-one">
                    {{shipment.pickup_location}}
                </div>
                <div class="address-two">
                    {{shipment.drop_location}}
                </div>
            </div>

        </div>
    </div>
    <!-- <div class="comments-holder">
      <span><img src="assets/img/comments.png" alt="" ></span>
      <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div> -->
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
