<!--
  <ion-header>

    <ion-navbar>
      <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
    </ion-navbar>

  </ion-header>
-->

<ion-content>
  <img src="assets/img/logo.png" class="logo" />

  <h3>Create An Account</h3>

  <!--
    <div *ngIf="serverError" class="error-msg">
      <div *ngFor="let error of serverError" ion-item no-lines>
        <p color="danger">{{error}}</p>
      </div>
    </div>
  -->
  <form [formGroup]="account" (submit)="doSignup()" #signUpForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label class="required" floating>{{
          "FIRST_NAME" | translate
        }}</ion-label>

        <ion-input
          type="text"
          formControlName="first_name"
          name="first_name"
        ></ion-input>
      </ion-item>

      <div *ngIf="validationError.formErrors.first_name" class="error-msg">
        <div
          *ngFor="let error of validationError.formErrors.first_name"
          ion-item
          no-lines
        >
          <p class="error">{{ error }}</p>
        </div>
      </div>

      <ion-item>
        <ion-label class="required" floating>{{
          "LAST_NAME" | translate
        }}</ion-label>

        <ion-input
          type="text"
          formControlName="last_name"
          name="last_name"
        ></ion-input>
      </ion-item>

      <div *ngIf="validationError.formErrors.last_name" class="error-msg">
        <div
          *ngFor="let error of validationError.formErrors.last_name"
          ion-item
          no-lines
        >
          <p class="error">{{ error }}</p>
        </div>
      </div>

      <ion-item>
        <ion-label class="" floating>{{
          "EMAIL (Optional)" | translate
        }}</ion-label>

        <ion-input
          type="email"
          formControlName="email"
          name="email"
        ></ion-input>
      </ion-item>
      <div *ngIf="validationError.formErrors.email" class="error-msg">
        <div
          *ngFor="let error of validationError.formErrors.email"
          ion-item
          no-lines
        >
          <p class="error">{{ error }}</p>
        </div>
      </div>
      <ion-item>
        <ion-label class="required" floating>{{
          "COUNTRY_CODE" | translate
        }}</ion-label>
        <ion-select type="text" formControlName="country" id="country_name" name="country">
          <ion-option
          [attr.selected]="(obj.dialing_code == _country) ? true : null"
            *ngFor="let obj of _countries.countries"
            [value]="obj.dialing_code"
            >{{ obj.dialing_code + " " + obj.name }}</ion-option
          >
        </ion-select>
      </ion-item>


      <div *ngIf="validationError.formErrors.country" class="error-msg">
        <div
          *ngFor="let error of validationError.formErrors.country"
          ion-item
          no-lines
        >
          <p class="error">{{ error }}</p>
        </div>
      </div>

      <ion-item>
        <ion-label class="required" floating>{{
          "MOBILE_NUMBER" | translate
        }}</ion-label>

        <ion-input
          type="text"
          formControlName="mobile"
          name="mobile"
        ></ion-input>
      </ion-item>

      <div *ngIf="validationError.formErrors.mobile" class="error-msg">
        <div
          *ngFor="let error of validationError.formErrors.mobile"
          ion-item
          no-lines
        >
          <p class="error">{{ error }}</p>
        </div>
      </div>

      <ion-item>
        <ion-label class="required" floating>{{
          "PASSWORD" | translate
        }}</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          name="password"
        ></ion-input>
      </ion-item>

      <div *ngIf="validationError.formErrors.password" class="error-msg">
        <div
          *ngFor="let error of validationError.formErrors.password"
          ion-item
          no-lines
        >
          <p class="error">{{ error }}</p>
        </div>
      </div>

      <div class="ionRadioBtn">
        <ion-item class="width-30">
          <ion-checkbox
            formControlName="terms_accepted"
            name="terms_accepted"
          ></ion-checkbox>
        </ion-item>
        <p class="padding-top-13">
          I confirm I am above 18 years of age and I agree to the
          <span (click)="openTermsConditions()">Terms and Condition</span> and
          <span (click)="openPrivacy()">Privacy Policy</span>
        </p>
      </div>
      <div *ngIf="validationError.formErrors.terms_accepted" class="error-msg">
        <div
          *ngFor="let error of validationError.formErrors.terms_accepted"
          ion-item
          no-lines
        >
          <p color="danger">{{ error }}</p>
        </div>
      </div>

      <div padding class="wrap">
        <button
          ion-button
          color="primary"
          class="btn_signup"
          [disabled]="signUpForm.invalid"
        >
          {{ "SIGNUP_BUTTON" | translate }}
        </button>
        <button
          ion-button
          color="primary"
          outline
          class="btn_signin"
          (click)="signIn($event)"
        >
          Already have an account? &nbsp;<span class="secondary">{{
            "LOGIN" | translate
          }}</span>
        </button>
      </div>
    </ion-list>
  </form>

  <div class="copyright" id="country_number">

  </div>

  <div class="copyright"><strong>Copyright &copy; 2019, </strong> LORRYZ FZ-LLC</div>


</ion-content>
