page-signup {
    .content{
        background-image: -webkit-linear-gradient(bottom, #e84f14, #e84f14 99%);
        background-image: -moz-linear-gradient(bottom, #e84f14, #e84f14 99%);
        background-image: -o-linear-gradient(bottom, #e84f14, #e84f14 99%);
        background-image: -ms-linear-gradient(bottom, #e84f14, #e84f14 99%);
        background-image: linear-gradient(to top, #e84f14, #e84f14 99%);

        .logo{
            width: 150px;
            display: table;
            margin: 0 auto;
            padding-top: 50px;
          }

          h3{
              color:#fff;
              font-weight: bold;
              text-align: center;
              margin-bottom: 30px;
              margin-top: 30px;
          }
          .list-ios > .item-block:first-child{
              border-top:0 !important;
          }
          .item-inner{
            // border-bottom:1px solid #e84f14 !important;
            border-bottom:1px solid #fff !important;
          }
          .item-block{
            background-color: transparent;
            font-size: 14px;

          }

          ion-label{
            color:#fff !important;
          }
          ion-select{
            color:#fff !important;
          }

          .text-input{

            color:#fff;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #fff!important;
                font-weight: bold;
                font-size:14px;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: #fff !important;
                font-weight: bold;
                font-size:14px;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: #fff !important;
                font-weight: bold;
                font-size:14px;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: #fff !important;
                font-weight: bold;
                font-size:14px;
              }
          }

          .label {
            color:#3e6ee0;
            font-weight: bold;
            font-size: 14px;
          }

          .danger{
            color: red!important;
          }



    .label{
          .sterik{
              color:#ca0000;
              font-weight: bold;
          }
      }
          .wrap{
             .btn_signup{
              width:100%;
              background-color: #fff;
              color:#e84f14;
              font-weight: bold;
              font-size:20px;
              text-transform: uppercase;
              border-radius: 0;
              height: 45px;
              margin-bottom:20px;
              box-shadow: none;
            }
            .btn_signin{
                width:100%;
                border:1px solid #fff;
                border-radius: 0;
                height: 45px;
                color:#fff;

                span.button-inner{
                    font-size:12px !important;

                }
                span.secondary{
                    font-size:20px;
//                    color:#e84f14;
                   color:#fff;
                    font-weight: bold;
                    text-transform: uppercase;
                  }
            }
          }

          .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
              border-bottom:1px solid #ccc !important;
              box-shadow:none !important;
          }
    }
    .error{
      color: #fff;
    }

    .ionRadioBtn{
        border-bottom: 1px solid #bba79a;
        padding-left: 12px;
        &:after{
            clear: both;
            display: block;
            content: "";
        }
        ion-item{
            float: left;
            background: none;
            padding: 0;
            margin: 0 !important;
            color: #fff !important;
            font-size: 18px;
        }
        ion-label{
            color: #fff;
            font-weight: 400 !important;
            margin-top: 14px;
            margin-left: -9px;
        }
    }
    .width-30{
      width: 30px;
    }
    .padding-top-13{
      color: #fff;
      line-height: 23px;
      padding: 10px 0 15px 30px;
      span {
          text-decoration: underline;
      }
    }
}
