<ion-header>
    <ion-navbar>
        <!-- <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button> -->
          <div class="page-title clearfix">Lorryz</div>
   </ion-navbar>
</ion-header>

<ion-content padding>
		<p class="info">Choose an option</p>

		<div class="section_one" (click)="registerAsIndividual()">
		<img src="assets/img/icon_05.png" class="thumb"/>
			<ion-label block>{{ 'I_AM_INDIVIDUAL' | translate }}</ion-label>
		</div>

		<div class="section_two" (click)="registerAsCompany()">
		<img src="assets/img/icon_99.png" class="thumb"/>
			<ion-label block>{{ 'WE_ARE_A_COMPANY' | translate }}</ion-label>
		</div>
</ion-content>
