page-organization-information {
    ion-header {
        height: 100px;
    }
    .toolbar {
        border-bottom: 0px;
        h1 {
            color: #fff !important;
            font-size: 18px !important;
            font-weight: normal;
            text-align: center;
        }
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border: 0px;
    }
    ion-content{

        padding:0 !important;

        .scroll-content{
            padding:0 !important;
        }

        p.info{
            font-weight: 500;
            font-size: 16px;
            padding: 15px 16px;
        }
        .section_one{
            background:url('../assets/img/bg_02.png');
            width: 100%;
            @include cover-background(cover);
            text-align: center;
            color: #fff;
            padding:15px;
            min-height: 240px;

            .thumb{
                width: 80px;
                margin: 20px 0;
            }

            ion-label{
                font-size: 22px;
                text-decoration: underline;
                margin:0 !important;
            }

            p{
                font-size:18px;
                margin:0;
            }
        }


        .section_two{
            background:url('../assets/img/bg_03.png');
            width: 100%;
            @include cover-background(cover);
            text-align: center;
            color: #fff;
            padding:15px;
            min-height: 240px;
            margin-top: 15px;

            .thumb{
                width: 80px;
                margin: 20px 0;
            }

            ion-label{
                font-size: 22px;
                text-decoration: underline;
                margin:0 !important;
            }

            p{
                font-size:18px;
                margin:0;
            }
        }

    }
    
}
