page-activate-account {
  /*.input-cover{
        display: none;
    }*/
    .content{
        background-image: -webkit-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -moz-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -o-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: -ms-linear-gradient(bottom, #e84f14, #e84f14 99%);
	background-image: linear-gradient(to top, #e84f14, #e84f14 99%);

        .logo{
            width: 150px;
            display: table;
            margin: 0 auto;
            padding-top: 50px;
            margin-bottom: 50px;
          }

          p{
              color:#fff;
          }

          .lab{
            color:#fff;
          }
          ion-label{
            color: #fff;
            font-size: 20px;
            margin-bottom:0;
            margin-top:25px;
          }
          .item-block{
              background:transparent;
              padding-left:0;

              .item-inner{
                border-bottom:none;

                ion-input{
                    border-bottom: 1px solid #fff;
                    /*margin: 10px;*/
                    color:#fff;
                    text-align: center;
                }

                .text-input{
                    text-align: center;
                }
              }
          }




        }
.controls_wrap{
    clear:both;
    margin-top:25px;
}

        .btn_resend{

          width: 47%;
          text-transform: uppercase;
          border:1px solid #fff;
          color:#fff;
          background-color: transparent;
          border-radius: 0;
          font-weight: bold;
          float:left;
          }

          .btn_activation{

          width: 47%;
          text-transform: uppercase;
          background-color:#fff;
          color:#e84f14;
          border-radius: 0;
          font-weight: bold;
          float:right;
          box-shadow: none;
          }

  .submit-btn {
    background: #0094b9;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    padding: 11px 10px;
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

}
