<ion-content padding>
		<button type="button" class="submit-btn" (click)='goBack()'> Go Back To Edit Detail</button>
		<img src="assets/img/logo.png" class="logo" />

		<p>An account activation code was sent to your
				Mobile No. Please enter that code below to activate.</p>
				<ion-label block>{{ 'ENTER_DIGIT_CODE' | translate }}</ion-label>
	<ion-item>

		<ion-input type="tel" #otp1 color="primary" [(ngModel)]="digit_1" maxlength="4"  name="digit_1" name="verification_code"></ion-input>
	</ion-item>
	<div class="controls_wrap" >
		<button ion-button class="btn_resend" (click)="resentCode()" outline >{{ 'RESEND_CODE_BUTTON' | translate }}</button>
	<button ion-button class="btn_activation"  (click)="verfiyAccount()" [disabled]="digit_1?.length < 4">{{ 'ACTIVATE_BUTTON' | translate }}</button>

</div>
<br><br><br>
<ion-label text-wrap id="country_name_pak" style="
color:#fff;
font-size: 14px;
">

</ion-label>


</ion-content>


