page-fleet-change-driver-modal {
  ion-content {

    background: none !important;
    .modal-holder {
      margin: 85px 10px;
      background: white;
      border: 1px solid #a1a1a1;
      border-top: none;
      -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      position: relative;
      h1 {
        color: #0094b9;
        font-size: 20px;
        font-weight: 500;
        padding: 25px 0 25px;
        margin: 0px;
        border-top: 10px solid #0094b9;
        text-align: center;
      }
      .vehicle-number {
        color: #353535;
        padding: 0 0 25px;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        span {
          font-weight: 500;
        }
      }
      .vehicle-info {
        text-align: center;
        padding: 0 0 25px;
        span {
          display: block;
          font-size: 15px;
          font-weight: 400;
          color: #353535;
          &.name {
            font-weight: 500;
            font-size: 18px;
            padding: 0 0 5px;
          }
          img {
            max-width: 70px;
            padding: 0 0 7px;
          }
        }
      }
      .driver-info {
        text-align: center;
        padding: 0 0 25px;
        .driver-names{
          .vehicle-notice{
            width: 80%;
            color: red;
            margin: 0 auto;
          }
        }
        span {
          display: block;
          padding: 0 0 15px;
          &.driver-image {
            padding: 0px;
          }
          img {
            width: 60px;
            height: 60px;
            @include border-radius(50%);
          }
        }
      }
      .item {
        padding: 0px 45px;
        .item-inner {
          border-bottom: 1px solid #353535;
          padding: 0px;
          .label {
            color: #0596ce;
            font-weight: 500;
        }
        .select {
          padding: 6px 7px 3px 0;
          .select-text {
            color: #0596ce;
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            background: white;
            display: block;
            text-align: left;
            float: left;
            position: absolute;
            top: 14px;
            left: 0px;
          }
        }
          .select-icon-inner {
            color: #292929;
          }
          .input-wrapper {
              position: relative;
          }
        }
      }

      .buttons-holder {
        padding: 0px 10px 10px;
        margin: 0 25px 10px;
        .cancel-button {
          float: left;
          background: white;
          border: 1px solid #555555;
          cursor: pointer;
          padding: 8px 20px 7px;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }
        .submit-btn {
          float: right;
          background: #0094b9;
          color: #fff;
          font-size: 15px;
          font-weight: 500;
          padding: 8px 20px;
          cursor: pointer;
          text-transform: uppercase;
          border: 1px solid #0094b9;
        }
      }
    }
  }
  .close-modal {
    position: absolute;
    top: 15px;
    right: 6px;
    z-index: 50;
    cursor: pointer;
    img {
      max-width: 30px;
    }
  }
  .driver-label {
    margin-left: 2px;
  }
  .alert-tappable{
    font-weight: bold;
    border-bottom: 1px solid black;
    .alert-radio-label{
      color: red;
    }
  }
  .alert-tappable {
      &:first-child{
          .button-inner {
              .alert-radio-label {
                  font-weight: 500 !important;
              }
          }
      }

  }
}
