<!--
  Generated template for the FleetChangeDriverModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="modal-holder">
    <div class="close-modal" (click)="dismiss()">
      <img src="assets/img/close-modal.png" alt="" >
    </div>
    <h1>Change Driver</h1>
    <div class="vehicle-number">
      Vehicle No. <span>P {{_vehicle ? _vehicle.registration_number: ''}}</span>
    </div>
    <div class="vehicle-info">
      <span><img src="assets/img/truck.png" alt="" ></span>
      <span class="name">Dyna Truck</span>
      <span>{{_vehicle ? _vehicle.vehicle_type.name : ''}}</span>
    </div>
    <div class="driver-info">
      <span>Driver Assigned:</span>

      <span class="driver-image">
      <img src="assets/img/no-image.jpg" alt="" *ngIf="!current_driver ">
      <img src="assets/img/no-image.jpg" alt="" *ngIf="current_driver && !current_driver.driver ">
      <img src="assets/img/no-image.jpg" alt="" *ngIf="current_driver && current_driver.driver && !current_driver.driver.avatar">
      <img src="{{current_driver.driver.avatar}}" alt="" *ngIf="current_driver && current_driver.driver && current_driver.driver.avatar">
      </span>


      <div class="driver-names">
        <div *ngIf="drivers.length == 0 && loaded" class="vehicle-notice"> You do not have any drivers added currently</div>
        <ion-item class="driver-name-labels" *ngIf="drivers.length != 0">
          <ion-label class="">Driver Name:</ion-label>
            <ion-select [(ngModel)]="driver_id" (ionChange)="onSelectChange($event)">
            <ion-option >--Select Driver--</ion-option>
              <ion-option *ngFor="let driver of drivers" [(value)]="driver.id">{{driver.first_name+' '+driver.last_name}}</ion-option>
            </ion-select>
        </ion-item>
      </div>
    </div>_
    <div class="but_tons-holder buttons-holder clearfix">
      <button type="button" class="cancel-button" (click)="dismiss()">Cancel</button>
      <button type="button" class="submit-btn" (click)="changeDriver(_vehicle.id)">Save</button>
    </div>
  </div>
</ion-content>
