page-editvehicletype {

  .col_6{
    float:left;
}
.calendar_bg{
  background:url('../assets/img/calendar_icon_00.png') no-repeat;
  background-position: right;
  background-size: 15px;
}
.clock_bg{
  background:url('../assets/img/clock_icon.png') no-repeat;
  background-position: right;
  background-size: 15px;
}
.datetime{
  padding:7px;
}
.btn_post_request{
  background-color:#0596ce;
  color:#fff;
  width:100%;
  border-radius: 1;
  padding: 28px 0;
  margin: 0;
  top: 90%;
  font-size:16px;
  text-transform: uppercase;
}
// table, th, td {
//   border: 1px solid black;
//   padding: 1%;
//   text-align: left;
//   border-spacing: 5px;
//   // padding: 1%;
//   // border-spacing: 5%;

// }

.accordion-list{
  background: color($colors,light);
  height:100%;
}
.section{
  background: #fff;
  color:#000;
  margin-bottom: 4px;
}
.section-active{
  background:color($colors,primary);
  color:#fff;
}
.child{
  background: #e8e7e8;
  color:#000;
  margin-bottom: 4px;
}
.child-item{
  background:#f3f2f1;
  padding:10px;
}
.label{
  margin:0px;
}
.list{
  margin-bottom: 4px;
}
}
