
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
        </button>
        <div class="page-title clearfix">History</div>
  </ion-navbar>
 <div class="notifications-holder" (click)='showNotification()'>
        <span><img src="assets/img/notification-bell.png" alt="notification-bell" ></span>
        <div class="counter" *ngIf="globalVar.current_user.notification_count > 0">
            <span class="inner">{{globalVar.current_user.notification_count}}</span>
        </div>
    </div>

</ion-header>


<ion-content>
<br>
  <ion-item col-4 class="col_6"  >
    <ion-label class="required" floating>From</ion-label>
        <ion-datetime
            displayFormat="MMM DD YYYY"
            [(ngModel)]="From_date"
            name="From_date"
            class="calendar_bg"
            max="2022-12-31"
          ></ion-datetime>
        </ion-item>

  <ion-item col-4 class="col_6"  >
    <ion-label class="required" floating>To</ion-label>
        <ion-datetime
            [(ngModel)]="to_date"
            name="to_date"
            displayFormat="MMM DD YYYY"
            name="pickup_time"
            class="calendar_bg"
            max="2022-12-31"
            ></ion-datetime>
        </ion-item>

        <ion-item col-4 class="col_6"  >
          <button ion-button outline class="btn_post_request" (click)="DriverViewData()" [disabled]="disabled()">
            <span class="secondary">View Data</span>
          </button>
      </ion-item>
<br><br>
      <!-- <div >

  <table style="width:100%">
   <tr>
   <th>Time</th> <th >Total Time</th> <th>Date</th> <th>Bids Placed</th> <th>Won</th> <th>Completed</th> <th>Received</th>
  </tr>
      <ng-container *ngFor="let date of dateArrayShow">
        <ng-container *ngFor="let time of date.time; let i = index">
          <tr >
          <td >{{time.starttime}}-{{time.endtime}}</td>
          <td >{{date.Totaltime}}</td>
          <td >{{date.date}}</td>
          <td >{{date.bidsplaced}}</td>
          <td >{{date.won}}</td>
          <td >{{date.completed}}</td>
          <td >{{date.received}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
</div> -->
<br>
<div *ngIf="dateArrayShow.length==0" text-center>No History Available</div>
<br>
<ion-list class="accordion-list">

  <div *ngFor="let date of dateArrayShow; let i=index" no-lines no-padding >

    <button ion-item (click)="toggleSection(i)" detail-none
      [ngClass]="{'section-active':date.open,'section':!date.open}">

      <ion-icon item-left name="arrow-forward" *ngIf="!date.open"></ion-icon>
      <ion-icon item-left name="arrow-down" *ngIf="date.open"></ion-icon>
      {{date.date}}
    </button>

    <ion-list *ngIf="date.open" no-lines >
      <div *ngFor="let time of date.time; let j=index" no-lines  no-padding>

        <button ion-item (click)="toggleItem(i,j)" detail-none
        class="child-item" *ngIf="time">
        <ion-icon item-left name="arrow-forward" *ngIf="!time.open"></ion-icon>
          <ion-icon item-left name="close" *ngIf="time.open"></ion-icon>
        Time
        </button>


        <ion-list *ngIf="time.open" no-lines no-padding>
          <div *ngFor="let t of time; let j=index" no-lines  no-padding>
            <ion-grid>
            <ion-row>
              <ion-col col-6 style="font-size: 10px;">
                  Start Time
              </ion-col>
              <ion-col col-6 style="font-size: 10px;">
                End Time
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 style="font-size: 10px;">
             {{t.starttime}}
            </ion-col>
            <ion-col col-6 style="font-size: 10px;">
             {{t.endtime}}
            </ion-col>
        </ion-row>
        </ion-grid>
        </div>
      </ion-list>
        </div>

        <ion-grid>
        <ion-row class="child-item">
          <ion-col col-3 text-wrap >
            <ion-label style="font-size: 10px;">Total Time</ion-label>
          </ion-col>
          <ion-col col-3 text-wrap >
          <ion-label style="font-size: 10px;">Bids Placed</ion-label>
          </ion-col>
          <ion-col col-2 text-wrap >
          <ion-label style="font-size: 10px;">Won</ion-label>
          </ion-col>
          <ion-col col-2 text-wrap >
          <ion-label style="font-size: 9px;">Completed</ion-label>
          </ion-col>
          <ion-col col-2 text-wrap >
          <ion-label style="font-size: 9px;">Received</ion-label>
          </ion-col>

        </ion-row>

        <ion-row class="child-item">
          <ion-col col-3 text-wrap >
          <ion-label style="font-size: 12px;">{{date.Totaltime}}</ion-label>
          </ion-col>
            <ion-col  col-3 text-wrap>
          <ion-label style="font-size: 12px;">{{date.bidsplaced}}</ion-label >
          </ion-col>
          <ion-col col-2 text-wrap >
          <ion-label style="font-size: 12px;">{{date.won}}</ion-label>
          </ion-col>
          <ion-col col-2 text-wrap >
          <ion-label style="font-size: 12px;">{{date.completed}}</ion-label>
          </ion-col>
          <ion-col  col-2 text-wrap>
          <ion-label style="font-size: 12px;">{{date.received}}</ion-label>
          </ion-col>

        </ion-row>

        </ion-grid>


        <!-- <ion-item detail-none class="child-item" text-wrap>
          <h1>{{date.date}}</h1>
          <p>{{date.time}}</p>
          <p>{{date.Totaltime}}</p>
          <p>{{date.bidsPlaced}}</p>
          <p>{{date.won}}</p>
          <p>{{date.completed}}</p>
          <p>{{date.received}}</p>
        </ion-item> -->
<!--
        </ion-list-header> -->
    </ion-list>

  </div>

</ion-list>

</ion-content>
