<!--
  Generated template for the PagesVehicleTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. -->

  <ion-header>
    <ion-navbar>
      <div class="page-title clearfix">Vehicle Type</div>
    </ion-navbar>
</ion-header>

<ion-content padding>

<!-- <div class="close-modal" (click)="dismiss()">
  <img src="assets/img/close-modal.png" alt="" >
</div> -->
<br/>
<!-- <h4 >Vehicle Type</h4> -->
<ion-grid>
    <ion-row >
      <ion-col col-4 style="border: 1px solid" *ngFor="let vehicle of vehicles; "
      (click)="vehicleid(vehicle.id,vehicle.name,vehicle.image)">
          <table >
            <tr>
                <td>
                    <img style="height:auto;width:100px;"
                  src="{{vehicle.image}}"
                  >
                </td>
            </tr>
          </table>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-grid *ngIf='secondaryvehicles'>
<ion-row >
  <ion-col col-4 style="border: 1px solid" *ngFor="let vehicle of secondaryvehicles; "
  (click)="secondaryvehicleid(vehicle.id,vehicle.name,vehicle.image)">
      <table >
        <tr>
            <td>
                <img style="height:auto;width:100px;"
              src="{{vehicle.image}}"
              >
            </td>
        </tr>
      </table>
  </ion-col>
</ion-row>
</ion-grid>


</ion-content>
